.eos-node-list,
.eos-node-list-item {
    .checkbox,
    .checkbox-inline {
        width: $item-width;
        line-height: 36px;
    }
    bs-sortable {
        width: 100%;
    }
    .elements {
        list-style: none;
        max-height: calc(100vh - 415px);
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0;
        margin: 0;
        .child {
            cursor: pointer;
        }
        .flat-child {
            padding: 0;
        }
        .node-info {
            cursor: pointer;
            width: calc(100% - 48px); // checkbox
        }
        .checkbox-inline {
            padding: 5px 0 5px 12px;
        }
        .folder {
            position: relative;
            top: 5px;
        }
        .spinner {
            margin-top: 10px;
            width: 48px;
            text-align: center;
            &.transparent {
                opacity: 0;
            }
        }
    }
    .list {
        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
        }
        .spinner-container {
            padding: 20px;
        }
    }
}

.eos-node-list {
    position: relative;
    ul {
        position: relative;
    }
    .updating-stub {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .7);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .spinner {
            margin: 0 auto;
        }
    }
}

