.table-wrapper {
    overflow: hidden;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.eos-table {
    min-width: 100%;
}

.table-header {
    color: $primary-font-color-main-theme;
    background-color: $modal-block-background-main-theme;
    border-bottom: 1px solid $border-color-main-theme;
    width: 100%;
    min-height: $item-height;
    /* height: $item-height; */
    line-height: $item-height - 1px;
    position: relative;
    .table-header-content {
        left: 0;
        top: 0;
        position: absolute;
        display: flex;
        min-width: 100%;
    }
    .checkbox-inline {
        line-height: $item-height - 1px;
        width: $item-width;
    }
}

.node-title {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
    /* color: */
    .item {
        display: inline-block;
        margin-right: $grid-gutter-width / 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        &+.item {
            margin-left: $grid-gutter-width / 2;
        }
        .text {
            cursor: pointer;
        }
        .order-icon {
            padding: 0 3px;
        }
        .eos-icon {
            margin: -5px 0 0;
            vertical-align: middle;
        }
    }
}

.eos-node-list {
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    max-height: calc(100vh - 394px);
    bs-sortable {
        width: 100%;
    }
    .spinner {
        margin-top: 10px;
        width: 48px;
        text-align: center;
        &.transparent {
            opacity: 0;
        }
    }
    .flat-child {
        padding: 0;
    }
    .list {
        min-width: 100%;
        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
        }
        .spinner-container {
            padding: 20px;
        }
    }
    .node-list-info {
        height: 32px;
        line-height: 32px;
    }
    p {
        margin: 0;
    }
    .updating-stub {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .7);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .spinner {
            margin: 0 auto;
        }
    }
}
