.tree-wrapper {
    max-height: 80.6vh;
    overflow-y: auto;
}
.eos-tree-node {
    padding-left: 15px;

    &>div {
        display: inline-block;
        width: 15px;
    }

    span {
        cursor: pointer;
        display: inline-block;

        &.active {
            background-color: #8899bc;
            font-weight: bold;
        }
    }
}
