<div *ngIf="deskList" #dropDown="bs-dropdown" (onShown)="hint.hide()" bsDropdown class="btn-group eos-desktop-switcher" dropdown [autoClose]="!innerClick"
    (click)="setInnerClick()">
    <button dropdownToggle type="button" class="dropdown-button btn dropdown-toggle">
        <span class="selected-desktop" tooltip="{{selectedDesk.name}}" placement="bottom" [isDisabled]="dropDown.isOpen" #hint="bs-tooltip" containerClass="tooltip-info" container="body">{{selectedDesk.name}}</span>
        <span class="btn-icon">
            <span class="eos-icon eos-icon-arrow-v-blue-bottom small"></span>
        </span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let desk of deskList" role="menuitem" class="menuitem" (click)="route(desk)">
            <span [hidden]="desk.edited">
                <span [hidden]="desk.edited" class="desktop-wrapper">
                    <a class="dropdown-item">
                        <span triggers="hover" tooltip="{{desk.name}}" placement="left"
                        containerClass="tooltip-info">{{desk.name}}</span>
                    </a>
                </span>
                <span *ngIf="desk.id !== 'system'" class="actions">
                    <span class="eos-icon eos-icon-edit-black x-small" tooltip="Редактировать" containerClass="tooltip-info" (click)="openEditForm($event, desk)"></span>
                    <span class="eos-icon eos-icon-close-black x-small" tooltip="Удалить" containerClass="tooltip-info" (click)="removeDesk(desk,$event)"></span>
                </span>
            </span>
            <span [hidden]="!desk.edited">
                <div class="input-group">
                    <input type="text" class="form-control" id="nameForm" name="nameForm" #nameForm [(ngModel)]="deskName" maxlength="{{maxLength}}" required pattern="^\S(.*\S$|$)" />
                    <div class="input-group-btn">
                        <button type="button" (click)="saveDesk(desk,$event)" class="btn btn-default"
                            [disabled]="!deskName?.length || !nameForm.checkValidity()" tooltip="Сохранить" containerClass="tooltip-info">
                            <span class="eos-icon eos-icon-checkbox-black x-small"></span>
                        </button>
                        <button type="button" (click)="cancelEdit(desk,$event)" class="btn btn-default" tooltip="Отменить" containerClass="tooltip-info">
                            <span class="eos-icon eos-icon-close-black x-small"></span>
                        </button>
                    </div>
                </div>
            </span>
        </li>
        <li *ngIf="deskList.length < 6" class="divider dropdown-divider"></li>
        <li *ngIf="deskList.length < 6" (click)="openCreateForm()">
            <a><span *ngIf="!creating" class="create">Создать рабочий стол</span>
                <div *ngIf="creating" class="input-group">
                    <input type="text" class="form-control" id="createForm" name="createForm" #createForm placeholder="Название нового рабочего стола"
                        [(ngModel)]="deskName" maxlength="{{maxLength}}" required
                        pattern="^\S(.*\S$|$)"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" (click)="create($event)" type="button" tooltip="Сохранить" containerClass="tooltip-info"
                            [disabled]="!deskName?.length || !createForm.checkValidity()">
                            <span class="eos-icon eos-icon-checkbox-black x-small"></span>
                        </button>
                        <button class="btn btn-default" (click)="cancelCreating($event)" type="button" tooltip="Отменить" containerClass="tooltip-info">
                            <span class="eos-icon eos-icon-close-black x-small"></span>
                        </button>
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>
