.eos-desktop-switcher {
    display: inline-block;
    margin: 0;
    width: 160px;
    height: 100%;

    .dropdown-button {
        width: 160px;
        height: 100%;
        padding: 15px 0 15px 20px;
        background-color: transparent;
        border-radius: 0;
        border-top: 0;
        bottom: -1px;
        .selected-desktop {
            max-width: 86px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .btn-icon {
            position: relative;
            top: 3px;
            height: 24px;
            display: inline-block;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .dropdown-menu {
        width: 380px;
        .menuitem {
            .dropdown-item {
                padding-left: 20px;
                .item-title {
                    width: 210px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                }
                .drop-ico {
                    float: right;
                }
            }
        }
    }

    .desktop-wrapper {
        width: 218px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .actions {
        text-align: center;
        vertical-align: top;
        display: inline-block;
        width: $item-width;
        height: $item-height;
        cursor: pointer;
        .eos-icon {
            color: $button-color-main-theme;
            vertical-align: top;
            margin-top: $item-height / 4;
        }
    }

    .create {
        cursor: pointer;
    }

    .creating-btns {
        .btn {
            height: 34px;
            &:first-child {
                border-radius: 0 !important;
            }
            &:last-child {
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }
    }
}
