.eos-desktop-switcher {
    display: inline-block;
    margin: 0;
    width: 160px;
    height: 100%;
    .dropdown-button {
        width: 160px;
        height: 100%;
        padding: 15px 0 15px 20px;
        background-color: transparent;
        border-radius: 0;
        border-top: 0;
        bottom: -1px;
        .selected-desktop {
            max-width: 86px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .btn-icon {
            position: relative;
            top: 3px;
            height: 24px;
            display: inline-block;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .form-control {
        height: 32px;
    }

    .btn-default {
        padding-bottom: 5px;
    }

    .dropdown-menu {
        width: 346px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 0;
        padding: 0;
        margin: 0;
        .menuitem {
            padding-left: 20px;
            cursor: pointer;
            height: $item-height;
            line-height: $item-height;
            a {
                line-height: 48px;
                text-decoration: none;
            }
        }
        .menuitem:hover .check {
            display: none;
        }

        .menuitem:hover .act-ico {
            display: block;
        }

        .divider {
            margin: 0;
        }
        li {
            border: 1px solid #e6e6e6;
            border-bottom: transparent;
            cursor: pointer;
            .spinner-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                background-color: #fff;
                opacity: 0.6;
                z-index: 1050;
            }
            .spinner-holder {
                position: absolute;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 2em;
                margin: auto;
                text-align: center;
            }
        }
    }
    .desktop-wrapper {
        width: 218px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .check {
        display: block;
    }

    .act-ico {
        display: none;
    }

    .not-hide {
        display: block !important;
    }

    .actions {
        text-align: center;
        vertical-align: top;
        display: inline-block;
        width: $item-width;
        height: $item-height;
        cursor: pointer;
        .eos-icon {
            color: $button-color-main-theme;
            vertical-align: top;
            margin-top: $item-height / 4;
        }
    }

    .input-wr {
        margin-top: 8px;
    }

    .create {
        cursor: pointer;
    }

    .creating-btns {
        .btn {
            height: 34px;
            &:first-child {
                border-radius: 0 !important;
            }
            &:last-child {
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }
    }
}
