.eos-desktop-switcher {
    cursor: pointer;
    /* display: inline-block; */
    height: $item-height;
    border-right: 1px solid $border-color-main-theme;
    border-left: 1px solid $border-color-main-theme;
    .dropdown-button {
        display: inline-block;
        background-color: transparent;
        line-height: $item-height;
        .wr {
            width: 170px;
            display: inline-block;
            font-size: 0;
            .selected-desktop {
                vertical-align: middle;
                width: 170px - $item-width;
                padding-left: 20px;
                overflow: hidden;
                display: inline-block;
                max-height: 40px;
            }
            .btn-icon {
                display: inline-block;
                vertical-align: middle;
                padding: 0 12px;
            }
        }
    }
    .dropdown-menu {
        width: 280px;
    }
}
