<div class="eos-node-list">
    <eos-node-actions></eos-node-actions>
    <eos-selected-node *ngIf="hasParent"></eos-selected-node>
    <div>
        <ul *ngIf="nodes && userSorting" class="elements" [ngClass]="{'has-parent': hasParent}">
            <li *ngIf="userSorting">
                <bs-sortable
                    [(ngModel)]="nodeListPerPage"
                    [itemTemplate]="childTemplate"
                    itemClass="{'highlight': openedNode && openedNode.id === item.id}"
                    itemActiveClass="sortable-item-active"
                    placeholderItem="Drag here"
                    placeholderClass="placeholderStyle"
                    wrapperClass="sortable-wrapper"
                    (onChange)="userSortItems()">
                </bs-sortable>
            </li>
        </ul>
        
        <ul *ngIf="nodes && !userSorting" class="elements" [ngClass]="{'has-parent': hasParent}">
            <li *ngFor="let item of nodeListPerPage">
                <div *ngIf="openedNode" [ngClass]="{'highlight': openedNode.id === item.id}">
                    <div *ngIf="!item.isDeleted || showDeleted" [ngClass]="{'deleted': item.isDeleted && showDeleted}" class="is-deleted-wrap">
                    <span *ngIf="showCheckbox" class="checkbox">
                        <label><input type="checkbox" [(ngModel)]="item.selected"></label>
                    </span>
                        <span class="node-info" (click)="openFullInfo(item)" (dblclick)="editNode(item)">
                        <span *ngFor="let field of viewFields" class="code">{{item.data[field.key]}}</span>
                    </span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination-wrapper">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems" itemsPerPage="{{itemsPerPage}}" [maxSize]="8" [rotate]="true"
            [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div class="options-bottom">
            <button class="btn btn-light show-more" [disabled]="currentPage * itemsPerPage >= totalItems" (click)="showMore()">Показывать еще</button>

            <form class="form-inline pull-right">
                    <div class="form-group">
                      <label for="ItemCount">Показывать по</label>
                      <select id="ItemCount" class="form-control" (change)="setItemCount($event.target.value)">
                            <option selected value="10">10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                        </select>
                    </div>
            </form>
        </div>
    </div>
</div>
<ng-template #childTemplate let-item="item" let-index="index">
    <div *ngIf="openedNode" [ngClass]="{'highlight': openedNode.id === item.value.id}">
        <div *ngIf="!item.value.isDeleted || showDeleted" [ngClass]="{'deleted': item.value.isDeleted && showDeleted}" class="is-deleted-wrap">
            <span *ngIf="showCheckbox" class="checkbox">
                <label><input type="checkbox" [(ngModel)]="item.value.selected"></label>
            </span>
            <span class="node-info" (click)="openFullInfo(item.value)" (dblclick)="editNode(item.value)">
                <span *ngFor="let field of viewFields" class="code">{{item.value.data[field.key]}}</span>
            </span>
        </div>
    </div>
</ng-template>
