<div *ngIf="!selectedNode">
    Здесь будет отображена информация о выбранной ветке справочника (Кликните на элемент из первого столбца)
</div>
<div *ngIf="selectedNode" class="selected-node-wrapper">
    <div class="selected-node-header">
        <span class="table-title">
            <span class="checkbox">
                <label><input type="checkbox" [(ngModel)]="checkAll" (click)="checkAllItems()"></label>
            </span>
        <span class="code"><b>Код</b></span>
        <b>Рубрика</b>
        </span>
        <span class="controller pull-right">
            <span class="circle"><span class="glyphicon glyphicon-plus"></span></span>
        <span class="circle" (click)="deleteSelectedItems()">
                <span class="glyphicon glyphicon-minus control-implemented"></span>
        </span>
        <a (click)="editNode()">
            <span class="circle">
                    <span class="glyphicon glyphicon-pencil"></span>
            </span>
        </a>
        <span class="circle"><span class="glyphicon glyphicon-chevron-up" (click)="nextItem(true)"></span></span>
        <span class="circle"><span class="glyphicon glyphicon-chevron-down" (click)="nextItem(false)"></span></span>
        <span class="circle"><span class="dots">...</span></span>
        </span>
    </div>
    <div class="selected-node-content">
        <a *ngIf="selectedNode.parent" (click)="selectNode(selectedNode.parent.id)">Вверх</a>

        <ul class="elements">
            <li *ngIf="!selectedNode.isDeleted" [ngClass]="{'highlight': openedNode.id === selectedNode.id && selectedNode.id !== ''}">
                <span *ngIf="selectedNode.id !== ''" class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="selectedNode.selected" (click)="checkItem(selectedNode)">
                    </label>
                </span>
                <!--<span class="node-info" (click)="openFullInfo(selectedNode.id)" (dblclick)="selectNode(selectedNode.id)">
                    <span class="code">{{selectedNode.code}}</span>{{selectedNode.title}}
                </span>-->
                <span class="node-info" (click)="openFullInfo(selectedNode.id)" (dblclick)="editNode(selectedNode.id)">
                    <span class="code">{{selectedNode.code}}</span>{{selectedNode.title}}
                </span>
            </li>
            <li>
                <ul>
                    <li *ngFor="let child of selectedNode.children" [ngClass]="{'highlight': openedNode.id === child.id}">
                        <div *ngIf=!child.isDeleted class="is-deleted-wrap">
                            <span class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="child.selected" (click)="checkItem(child)">
                            </label>
                            </span>
                            <!--<span class="node-info" (click)="openFullInfo(child.id)" (dblclick)="selectNode(child.id)">
                                <span class="code">{{child.code}}</span> {{child.title}}
                            </span>-->
                            <span class="node-info" (click)="openFullInfo(child.id)" (dblclick)="editNode(child.id)">
                                <span class="code">{{child.code}}</span> {{child.title}}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
