<div *ngIf="selectedNode">
    <a class="link" *ngIf="selectedNode.parent" (click)="selectNode(selectedNode.parent.id)">Вверх</a>
    <div class="selected-node">
            <div class="selected-node-info" *ngIf="(!selectedNode.isDeleted || showDeleted)" [ngClass]="{'highlight': openedNode.id === selectedNode.id && selectedNode.id !== ''}">
                <span *ngIf="selectedNode.id !== ''" [ngClass]="{'deleted': selectedNode.isDeleted && showDeleted}" class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="selectedNode.selected">
                    </label>
                </span>
                <span (click)="openFullInfo(selectedNode)" (dblclick)="editNode(selectedNode)">
                        <span *ngFor="let field of viewFields" class="code">{{selectedNode.data[field.key]}}</span>
                </span>
            </div>
    </div>
</div>
