.idea/
.nvmrc
.htaccess
.vscode
stage_deploy.sh
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log*
src/environments/version.ts
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
*~
*.orig
typings/*
public/*
dist/*
debug.log
!karma*.js
!protractor*.js
!systemjs.config.js
!system.config.js
!wallaby.js
!gulpfile.js
remote-profile/*
src/app/app.config.local.ts
