<div class="eos-desktop">
    <div class="desktop-wrapper" [ngClass]="{'reverse': historyToLeft}">
        <div class="links-container" [ngClass]="{'right': historyToLeft}">
            <bs-sortable [(ngModel)]="referencesList" [itemTemplate]="referenceTemplate" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                placeholderItem="На этом рабочем столе нет ссылок" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
        </div>

        <div [ngClass]="{'left': historyToLeft}" class="block recent">
            <span class="recent-title-wrapper">
                <span class="icon eos-icon eos-icon-arrow-v-blue-left" *ngIf="!historyToLeft" (click)="historyToLeft = true"
                    tooltip="Переместить влево" containerClass="tooltip-info"></span>
                <span class="recent-title">История:</span>
                <span class="icon eos-icon eos-icon-arrow-v-blue-right" aria-hidden="true" *ngIf="historyToLeft" (click)="historyToLeft = false" tooltip="Переместить вправо"></span>
            </span>
            <ul *ngIf="recentItems" class="recent-list">
                <li class="recent-item" *ngFor="let link of recentItems" tooltip="{{link.fullTitle}}" placement="left" containerClass="tooltip-info  word-break">
                    <a class="special-text" [routerLink]="[link.url]">{{link.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #referenceTemplate let-item="item" let-index="index">
    <div class="btn item-content block edited" *ngIf="editing(item.value)" >
        <input id="title" name="title" #title class="title-input form-control" [ngModel]="item.value.title" (focus)="setCursor($event)" (ngModelChange)="changeName($event)"
            required pattern="^\S(.*\S$|$)"/>
        <button  class="icon-btn btn lefter" [disabled]="!_newTitle?.length || !title.checkValidity()" (click)="save($event)"
            tooltip="Сохранить"
            placement="left"
            containerClass="tooltip-info"
            container="body">
            <span class="eos-icon eos-icon-checkbox-blue small"
                aria-hidden="true"></span>
        </button>
        <button class="icon-btn btn" (click)="cancel($event)"
            tooltip="Отмена"
            placement="left"
            containerClass="tooltip-info"
            container="body">
            <span class="eos-icon eos-icon-close-blue small"
                aria-hidden="true"></span>
        </button>
    </div>

    <div *ngIf="!editing(item.value)" class="btn item-content block" [routerLink]="[item.value.url]">
        <span class="icon-wrapper">
            <span class="icon eos-icon eos-icon-bin-blue"></span>
        </span>
        <span [hidden]="editing(item.value)" tooltip="{{deskId === 'system' ? item.value.title : item.value.fullTitle}}"
         placement="top" containerClass="tooltip-info word-break" container="body" class="text">
            {{item.value.title}}
        </span>
        <!--<button *ngIf="deskId !== 'system'" class="icon-btn btn leftest"
            tooltip="Пеместить"
            placement="left"
            containerClass="tooltip-info"
            container="body">
            <span class="eos-icon eos-icon-move-2d-blue small"
                aria-hidden="true"></span>
        </button>-->
        <button class="icon-btn btn" (click)="edit($event, item.value)" [ngClass]="{'lefter': deskId !== 'system'}"
            tooltip="Редактировать"
            placement="left"
            containerClass="tooltip-info"
            container="body">
            <span class="eos-icon eos-icon-edit-blue small"
                aria-hidden="true"></span>
        </button>
        <button *ngIf="deskId !== 'system'" class="icon-btn btn" (click)="removeLink(item.value, $event)"
            tooltip="Удалить"
            placement="left"
            containerClass="tooltip-info"
            container="body">
            <span class="eos-icon eos-icon-bin-blue small"
                aria-hidden="true"></span>
        </button>
    </div>
</ng-template>
