.eos-desktop {
    .sortable-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - 350px);
        .icon-btn {
            cursor: pointer;
        }
    }
    .icon {
        cursor: pointer;
    }
    .sortable-item {
        max-width: 490px;
        min-width: 400px;
        width: 100%;
        display: inline-block;
        position: relative;
        height: 100px;
        flex-basis: calc((100% - 4*10px) / 4);
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 0;
        text-align: left;
        overflow: hidden;
        .btn {
            padding: 0;
        }
        .item-content {
            position: relative;
            max-width: 490px;
            min-width: 400px;
            cursor: pointer;
            width: 100%;
            height: 100%;
            text-align: left;
            border-radius: 0;
            &.edited {
                padding: 32px 96px 32px 0;
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                border: 1px $active-field-color-main-theme solid;
            }
            .text {
                max-height: 52px;
                position: absolute;
                display: inline-block;
                top: 38px;
                left: 112px;
                width: calc(100% - 120px);
                overflow: hidden;
                white-space: normal;
            }
            .icon {
                height: 48px;
                width: 48px;
            }
            .icon-wrapper {
                display: inline-block;
                height: 99px;
                width: 100px;
                padding: 26px;
            }
        }
        .item-content:hover .icon-btn {
            display: inline-block;
        }

        .icon-btn {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 48px;
            height: 48px;
            outline: none;
            display: none;
            &.lefter {
                right: 48px;
            }
            &.leftest {
                right: 96px;
            }
        }
        .end-hidder {
            display: inline-block;
            position: absolute;
            bottom: 5px;
            right: 15px;
            height: 1.42857143em;
            width: 60px;
        }
        .title-input {
            background: $white;
            border-radius: 0;
            border: none;
            box-shadow: none;
            position: absolute;
            left: 100px;
            width: calc(100% - 196px);
        }
    }
    .right {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-column-start: 2;
        grid-column-start: 2;
        -ms-grid-column-end: 3;
        grid-column-end: 3;
    }
    .recent {
        height: 4 * ($desktop-link-size + $desktop-link-margin);
        width: 2 * $desktop-link-size;
        overflow: auto;
        padding: 0;
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
        border-width: 1px;
        border-style: solid;
        text-align: center;
        &.left {
            -ms-grid-column: 1;
            grid-column: 1;
            -ms-grid-row: 1;
            grid-row: 1;
        }
        .recent-title-wrapper {
            padding: 10px;
            display: inline-block;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            width: 100%;
            .recent-title {
                position: relative;
                top: -10px;
            }
        }
        .recent-list {
            list-style: none;
            padding: 0;
            .recent-item {
                border-bottom-style: solid;
                border-bottom-width: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px;
                a.link-text {
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
        }
    }
    .desktop-wrapper {
        display: -ms-grid;
        display: grid; // sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 1fr (2 * ($desktop-link-size + $desktop-link-margin));
        grid-template-columns: 1fr (2 * ($desktop-link-size + $desktop-link-margin));
        overflow-y: auto;
        max-height: calc(100vh - 150px);
        height: calc(100vh - 150px);
        margin-right: -10px;
        overflow-x: hidden;
        &.reverse {
            -ms-grid-columns: (2 * ($desktop-link-size + $desktop-link-margin)) 1fr;
            grid-template-columns: (2 * ($desktop-link-size + $desktop-link-margin)) 1fr;
        }
    }
}
