<div [hidden]="!!openedNode.id">Здесь будет отображена подробная информация (Кликните на элемент из второго столбца)</div>
<div [hidden]="!openedNode.id" class="opened-node-wrapper">
    <div class="opened-node-header">
        <b>Краткое наименование:</b>{{openedNode.title}}
    </div>
    <div class="opened-node-content">
        <b>Полное наименование:</b> {{openedNode.description}}
        <br>
        <b>Примечание:</b> {{note}}
        <br>
        <b>Индекс СЭВ:</b> {{SEV}}
    </div>
</div>
