<div *ngIf="selectedNode" class="block eos-selected-node">
    <a class="link special-text" *ngIf="selectedNode.parent" (click)="selectNode(selectedNode.parent.id)">Вверх</a>
    <div class="selected-node">
            <div class="selected-node-info" *ngIf="(!selectedNode.isDeleted || showDeleted)" [ngClass]="{'highlight': openedNode.id === selectedNode.id && selectedNode.id !== ''}">
                <span *ngIf="selectedNode.id !== ''" [ngClass]="{'deleted': selectedNode.isDeleted && showDeleted}" class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="selectedNode.selected" (change)="mark()">
                        <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                    </label>
                </span>
                <span class="node-info" (click)="openFullInfo(selectedNode)" (dblclick)="viewNode()">
                        <span *ngFor="let field of viewFields" class="code">{{selectedNode.data[field.key]}}</span>
                </span>
            </div>
    </div>
</div>
