eos-photo-uploader,
.eos-photo-uploader {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    line-height: 1px;
    font-size: 0;
    .input-file {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        height: 0;
    }
    label {
        margin: 0;
        cursor: pointer;
    }
}

.photo-uploder-modal {
    .modal-body {
        height: 325px;
    }
    .image-wrapper {
        height: 240px;
        width: 100%;
    }
    .user-image {
        height: 200px;
        width: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 20px auto;
    }
}
