<div class="eos-photo-uploader">
    <div class="current-image" [ngStyle]="{'background-image': currentUrl}"></div>
    <input class="input-file" type="file" #fileInput name="file" id="file" [multiple]="multiple" (change)="chooseFile($event)" placeholder="Upload file" 
    accept=".jpg, .png">
    <label for="file" class="input-file-label">
        <span *ngIf="!uploading" class="eos-icon eos-icon-edit-blue small"></span>
        <span *ngIf="uploading">
            <eos-spinner></eos-spinner>
        </span>
    </label>
</div>

<div bsModal #confirmModal="bs-modal" [config]="{ show: false }" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Выбранная фотография:</h4>
                </div>
                <div class="modal-body">
                    <div class="image-wrapper">
                        <div class="user-image" [ngStyle]="{'background-image': imageSrc}" ></div>
                    </div>
                    <button class="btn btn-primary" (click)="upload()">Подтвердить</button>
                    <button class="btn btn-primary" (click)="cancel()">Отменить</button>
                </div>
            </div>
        </div>
    </div>
