<form #loginForm="ngForm">
    <div class="logo">
        <div class="logo-img"></div>
        <div class="logo-text">Дело</div>
    </div>
    <div class="form-group">
        <label for="user-name">Логин</label>
        <input type="text"
            [(ngModel)]="userName"
            maxlength="64"
            class="form-control light"
            id="user-name"
            required
            name="userName"
            autocomplete="on" />
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input [type]="inpType"
            [(ngModel)]="userPassword"
            maxlength="64"
            class="form-control light"
            id="password"
            required
            name="userPassword"
            autocomplete="on" />
        <button class="btn eye" (mousedown)="showPass()" (mouseup)="hidePass()">
            <span class="eos-icon eos-icon-show-blue"></span>
        </button>
    </div>
    <p class="text-danger">{{errorMessage}}</p>
    <button type="submit"
        class="btn btn-primary-full"
        (click)="login()"
        [disabled]="!userName || !userPassword || inProcess">Войти</button>
</form>
