<form #loginForm="ngForm">
    <div class="logo">
        <div class="logo-img"></div>
        <div class="logo-text">Дело</div>
    </div>
    <div class="form-group" >
        <label for="user-name">Логин</label>
        <input type="text"
            [(ngModel)]="userName"
            maxlength="64"
            class="form-control light"
            [ngClass]="{'has-error': haveErr}"
            id="user-name"
            required
            name="userName"
            autocomplete="on" />
    </div>
    <div class="form-group" >
        <label for="password">Пароль</label>
        <input [type]="inpType"
            #errTooltip="bs-tooltip"
            [(ngModel)]="userPassword"
            maxlength="64"
            class="form-control light"
            [ngClass]="{'has-error': haveErr}"
            id="password"
            required
            name="userPassword"
            autocomplete="on"
            tooltip="Неверный логин или пароль"
            placement="bottom"
            container="body"
            containerClass="tooltip-error"
            triggers="" />
        <button class="btn eye" (mousedown)="showPass()" (mouseup)="hidePass()">
            <span class="eos-icon eos-icon-show-blue"></span>
        </button>
    </div>
    <button type="submit"
        class="btn btn-primary-full"
        (click)="login()"
        [disabled]="!userName || !userPassword || inProcess">Войти</button>
</form>
