<div *ngIf="node" class="edit-container">
    <header class="edit-header row">
        <div class="col-sm-2 col-md-2 col-lg-1">
            <span class="checkbox">
                <label><input type="checkbox" [(ngModel)]="node.selected" (click)="check()">Выбрать</label>
            </span>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6">
            <span class="edit-title"></span>
        </div>
        <div class="edit-buttons col-sm-4 col-md-3 col-lg-3">
            <button class="btn btn-primary" (click)="save()">Сохранить</button>
            <button class="btn btn-primary" (click)="cancel()">Отменить</button>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <span class="pull-right">
                <a routerLink="{{selfLink}}/edit" target="_blank"><button class="glyphicon glyphicon-new-window btn btn-dark" aria-hidden="true"></button></a>
                <!--<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" (click)="goTo('/spravochniki/' + this.dictionaryId + '/' +
                node.parent.children[(i-1 + node.parent.children.length) % node.parent.children.length].id + '/edit')"></span>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" (click)="goTo('/spravochniki/' + this.dictionaryId + '/' +
                node.parent.children[(i+1 + node.parent.children.length) % node.parent.children.length].id + '/edit')"></span>-->
                <button [disabled]="i < 1" class="glyphicon glyphicon-arrow-left btn btn-dark" aria-hidden="true" (click)="goTo('/spravochniki/' + this.dictionaryId + '/' +
                node.parent.children[i-1].id + '/edit')"></button>
                <button [disabled]="i >= (node.parent.children.length - 1)" class="glyphicon glyphicon-arrow-right btn btn-dark" aria-hidden="true" (click)="goTo('/spravochniki/' + this.dictionaryId + '/' +
                node.parent.children[i+1].id + '/edit')"></button>
                <button class="glyphicon glyphicon-remove btn btn-dark" aria-hidden="true" (click)="goTo(selfLink)"></button>
            </span>
        </div>
    </header>
    <aside class="edit-aside">
        <div class="btn-group vertical-buttons" role="group">
            <button type="button" class="btn btn-default">Что-то ещё</button>
            <button type="button" class="btn btn-default" (click)="editMode = false">Просмотр</button>
            <button type="button" class="btn btn-default" (click)="editMode = true">Редактирование</button>
        </div>
    </aside>
    <article *ngIf="!fieldGroups.length" class="edit-content">
        <div class="form form-horizontal" *ngIf="viewFields">
            <div class="form-group" *ngFor="let field of viewFields">
                <label class="col-sm-2" [ngClass]="{'control-label': editMode}" for="{{field.id}}">{{field.title}}:</label>
                <div class="col-sm-2" *ngIf="field.type !== 3">
                    <input *ngIf="field.type == 0 || field.type == 1" type="text" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                    <input *ngIf="field.type == 2" type="file" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                    <input *ngIf="field.type == 4" type="date" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                    <span [hidden]="editMode" class="">{{field.value}}</span>
                </div>                
                <div class="col-sm-6" *ngIf="field.type === 3">
                     <textarea [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"></textarea>
                     <span [hidden]="editMode" class="">{{field.value}}</span>
                </div>              
            </div>
        </div>
    </article>

<article *ngIf="fieldGroups.length" class="edit-content">
    <ul class="tabs">
        <li class="tab-item" *ngFor="let tab of fieldGroups; let i = index" role="presentation" [ngClass]="{'active': i === currIndex}" (click)="setCurrent(i)">
            <span>{{tab.title}}</span>
        </li>
    </ul>
    <div class="form form-horizontal" *ngIf="fieldGroups">
        <div class="form-group" *ngFor="let field of fieldGroups[currIndex].fields">
            <label class="col-sm-2" [ngClass]="{'control-label': editMode}" for="{{field.id}}">{{field.title}}:</label>
            <div class="col-sm-2" *ngIf="field.type !== 3">
                <input *ngIf="field.type == 0 || field.type == 1" type="text" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                <input *ngIf="field.type == 2" type="file" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                <input *ngIf="field.type == 4" type="date" [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"/>
                <span [hidden]="editMode" class="">{{field.value}}</span>
            </div>                
            <div class="col-sm-6" *ngIf="field.type === 3">
                 <textarea [hidden]="!editMode" class="" id="{{field.id}}" (change)="wasEdit = true" [(ngModel)]="field.value"></textarea>
                 <span [hidden]="editMode" class="">{{field.value}}</span>
            </div>              
        </div>
    </div>
</article>

    <div class="warning-wrapper" [ngClass]="{'hidden': hideWarning}">
        <div class="warning">
            Имеются не сохранённые изменения! Выберете действие:
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="saveAndClose()">Сохранить и закрыть</button>
                <button type="button" class="btn btn-default" (click)="resetAndClose()">Закрыть без сохранения</button>
            </div>
        </div>
    </div>
</div>
