<p class="h4 text-center">Component test page</p>

<p> Ссылки </p>
<ul>
    <li><a routerLink="/delivery">Delivery REST test page</a></li>
    <li><a routerLink="/rubric">Rubric REST test page</a></li>
    <li><a routerLink="/department">Department REST test page</a></li>
    <li><a routerLink="/user">User REST test page</a></li>
</ul>

<div class="current-image"
    [ngStyle]="{'background-image': defaultImage}">
    <eos-photo-uploader class="photo-uploader"
        (endUploading)="newImage($event)"></eos-photo-uploader>
</div>
<!--
<div class="row">
    <div class="col-sm-2">
        <eos-datepicker [form]="form"
            [placeholder]="'Дата окончания действия'"
            [value]="date"
            [isReadonly]="false"
            (dateChange)="change($event)"></eos-datepicker>
    </div>
    <div class="col-sm-6">
        <pre>{{this.date | json}}</pre>
    </div>
</div>
-->
<div>
    выбор из справочника<button (click)="chooseCL($event)">выбор из справочника</button>
    <input type='text'
        name='__ClassifIds'
        id='__ClassifIds' />

</div>
<div class="card-edit secondary-block">
    <article class="edit-content">
        <!--form [formGroup]="form"
            class="form"-->
        <div class="row">
            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm-6"
                        *ngFor="let ctrl of inputs">
                        <eos-dynamic-form-input [input]="ctrl"
                            [form]="form"
                            [readonly]="false">
                        </eos-dynamic-form-input>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <pre>{{data | json}}</pre>
            </div>
        </div>
        <!-- /form -->
    </article>
</div>
