.current-image {
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center center;
    position: relative;

    .photo-uploader {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.test-form{
    padding: 50px 0;
}

.fa-icon-list {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px #666;
}
.fa-icon-item {
    margin: 4px;
    padding: 3px 7px;
    background-color: white;
    color: #111;
    border: 1px solid #ccc;
    border-radius: 4px;
}
