<p class="h4 text-center">Component test page</p>
<div class="row">
    <div class="col-sm-3">
        <p> Ссылки </p>

        <ul class="pull-left">
            <li><a routerLink="/delivery">Delivery REST test page</a></li>
            <li><a routerLink="/rubric">Rubric REST test page</a></li>
            <li><a routerLink="/department">Department REST test page</a></li>
            <li><a routerLink="/user">User REST test page</a></li>
        </ul>
        выбор из справочника<button (click)="chooseCL($event)">выбор из справочника</button>
        <input type='text'
            name='__ClassifIds'
            id='__ClassifIds' />

    </div>
    <div class="col-sm-2">
        <div class="current-image"
            [ngStyle]="{'background-image': defaultImage}">
            <eos-photo-uploader class="photo-uploader"
                (endUploading)="newImage($event)"></eos-photo-uploader>
        </div>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-{{msg}}"
            *ngFor="let msg of testMessages"
            (click)="addNewMessage(msg)">{{msg}} message</button>
    </div>
</div>
<div class="row fa-icon-list">
    <div class="pull-left fa-icon-item"
        *ngFor="let icon of faIcons"><i class="fa"
            [ngClass]="icon"></i> {{icon}}
    </div>
</div>

<div class="test-form">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4 test-item"
                    *ngFor="let ctrl of inputs">
                    <div class="form-group">
                        <eos-dynamic-input [input]="ctrl"
                            [form]="form"
                            [readonly]="false"></eos-dynamic-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <pre>{{data | json}}</pre>
        </div>
    </div>
</div>
