<p class="h4 text-center">Component test page</p>

<p> Ссылки </p>
<ul>
    <li><a routerLink="/delivery">Delivery REST test page</a></li>
    <li><a routerLink="/rubric">Rubric REST test page</a></li>
    <li><a routerLink="/department">Department REST test page</a></li>
    <li><a routerLink="/user">User REST test page</a></li>
</ul>

<div class="current-image" [ngStyle]="{'background-image': defaultImage}">
        <eos-photo-uploader class="photo-uploader" (endUploading)="newImage($event)"></eos-photo-uploader>
</div>

<eos-datepicker [placeholder]="'Дата окончания действия'" [value]="date" [isReadonly]="false" (change)="change($event)"></eos-datepicker>

<div>
    выбор из справочника<button (click)="chooseCL($event)">выбор из справочника</button>
    <input type='text' name='__ClassifIds' id='__ClassifIds'/>

</div>

