<div *ngIf="node && (!node.isDeleted || showDeleted)" [ngClass]="{'deleted': node.isDeleted && showDeleted}">
    <span [ngClass]="{'active': isActive}" class="node-title-wrapper">
        <i *ngIf="node.hasSubnodes" class="fa special-text icon" [ngClass]="{'fa-caret-down':node.isExpanded, 'fa-caret-right': !node.isExpanded}" 
            (click)="onExpand($event, node.isDeleted)"></i>
        <span class="node-title" (click)="onSelect($event, node.isDeleted);">
            <span *ngFor="let field of viewFields; let i = index">{{field.value}}&nbsp;<eos-info *ngIf="i === viewFields.length-1" [info]="'Some info which I want to show at tooltip'"></eos-info>
            </span>
        </span>
    </span>
    <eos-tree *ngIf="node.isExpanded && node.hasSubnodes" [nodes]="node.children"></eos-tree>
</div>