<div *ngIf="node && (!node.isDeleted || showDeleted)" [ngClass]="{'deleted': node.isDeleted && showDeleted}">
    <i *ngIf="node.hasSubnodes" class="fa"
        [ngClass]="{'fa-minus':node.isExpanded, 'fa-plus': !node.isExpanded}" (click)="onExpand($event, node.isDeleted)"></i>
    <span [ngClass]="{active: isActive}" (dblclick)="onSelect($event, node.isDeleted);"><span *ngFor="let field of viewFields">{{field.value}}</span><eos-info [info]="'Some info which I want to show at tooltip'"></eos-info></span>
    <eos-tree *ngIf="node.isExpanded && node.hasSubnodes" [nodes]="node.children"></eos-tree>
</div>
