.eos-title {
    position: absolute;

    .title-wrapper {
        width: 228px;
        display: flex;
        align-items: center;

        .title-text {
            padding: 0 20px;
            text-decoration: none;
            display: inline-block;
            width: 140px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1250px) {
    .eos-title {
        .title-wrapper {
            width: $item-width;

            .title-text {
                display: none;
            }
        }
    }
}
