.fast-srch {
    position: relative;
    display: flex;
    align-items: center;
    height: $item-height;
    background: $light-grey-1;
    border-left: 1px $border-color-main-theme solid;
    border-right: 1px $border-color-main-theme solid;
    border-top: 1px solid $border-color-main-theme;
    font-size: 0;
    .item {
        flex-grow: 0;
        flex-shrink: 0;
        height: $item-height;
        line-height: $item-height;
        white-space: nowrap;
        padding: 0 40px 0 0;
        vertical-align: middle;
        .quick {
            label {
                font-size: 14px;
                color: $grey;
                font-weight: normal;
            }
        }
        .form-control {
            font-size: 14px;
            color: $black;
            padding: 8px 54px 8px 8px;
            width: 100%;
            border: 1px $active-field-color-main-theme solid;
            height: $item-height - 1px;
            border-radius: 0;
        }
        .clear-btn {
            position: absolute;
            top: 1px;
            right: 9px;
            height: $item-height - 5px;
            width: $item-width;
            border: 0;
            background-color: transparent;
            padding: 6px 8px;
            margin-right: -8px;
            z-index: 1;
        }
    }
    .input-item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        position: relative; // width: 100%;
        padding-right: 0;
        vertical-align: top;
    }
    .tringle {
        position: absolute;
        background: $active-field-color-main-theme;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        top: -7px;
        right: 15px;
    }
    .tringle-fon {
        background: $white;
        position: absolute;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        top: -5px;
        right: 15px;
    }
}
