<div class="fast-srch">
    <div class="item"
        *ngIf="isTree">
        <div class="radio-inline quick">
            <label><input type="radio" name="quick-space" [value]="0" [(ngModel)]="settings.mode"><span></span>Во всём справочнике</label>
        </div>
    </div>
    <div class="item"
        *ngIf="isTree">
        <div class="radio-inline quick">
            <label><input type="radio" name="quick-space" [value]="2" [(ngModel)]="settings.mode"><span></span>В текущей ветке</label>
        </div>
    </div>
    <div class="item input-item">
        <input type="text"
            class="form-control quick-search-form"
            [(ngModel)]="srchString"
            (keydown)="quickSearch($event)">
        <button class="btn btn-default clear-btn"
            (click)="clearQuickForm()">
            <span class="eos-icon eos-icon-close-blue"></span></button>
    </div>
    <div class="tringle"></div>
    <div class="tringle-fon"></div>
</div>
