<div class="eos-dictionary" [ngClass]="{'full': !hideTree && !hideFullInfo, 'only-selected': hideTree && hideFullInfo,
    'tree-hidden': hideTree && !hideFullInfo, 'info-hidden': !hideTree && hideFullInfo}">
    <div class="tree-wrapper" [ngClass]="{'open-tree': !hideTree}">
        <eos-tree [nodes]="nodes"></eos-tree>
    </div>
    <div class="selected-wrapper" [ngClass]="{'open-tree': !hideTree}">
        <eos-node-list></eos-node-list>
    </div>
    <div class="opened-wrapper" [ngClass]="{'open-info': !hideFullInfo}">
        <eos-opened-node></eos-opened-node>
    </div>
</div>