<div class="eos-dictionary" [ngClass]="{'full': !hideTree && !hideFullInfo, 'only-selected': hideTree && hideFullInfo,
    'tree-hidden': hideTree && !hideFullInfo, 'info-hidden': !hideTree && hideFullInfo}">
    <!--<button class="btn sandwich" (click)="openTree()">
        <span class="icon icon-left eos-icon eos-icon-menu-blue small" [ngClass]="{'rotate-left': !hideTree}"></span>
    </button>-->
    <div class="tree-wrapper" [ngClass]="{'open-tree': !hideTree}">
        <eos-tree [nodes]="nodes"></eos-tree>
    </div>
    <div class="selected-wrapper" [ngClass]="{'open-tree': !hideTree}">
        <eos-node-list></eos-node-list>
    </div>
    <!--<button class="btn right sandwich" (click)="openInfo()">
        <span class="icon icon-right eos-icon eos-icon-menu-blue small" [ngClass]="{'rotate-right': !hideFullInfo}"></span>
    </button>-->
    <div class="opened-wrapper" [ngClass]="{'open-info': !hideFullInfo}">
        <eos-opened-node></eos-opened-node>
    </div>
</div>