.eos-dictionary {
    overflow: hidden;
    .tree-wrapper,
    .opened-wrapper,
    .selected-wrapper {
        position: absolute;
        transition: 300ms ease-in-out;
        .fon {
            position: absolute;
            z-index: -1;
        }
    }
    .tree-wrapper {
        height: calc(100vh - 96px);
        overflow-x: auto;
        overflow-y: auto;
        border-right: 1px solid $border-color-main-theme;
        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .opened-wrapper {
        height: calc(100vh - 96px);
        border-left-width: 1px;
        border-left-style: solid;
        z-index: 3;
        .info-spinner {
            width: 100%;
            text-align: center;
            position: relative;
            top: 44%;
        }
    }
    .selected-wrapper {
        .table-wrapper {
            overflow-x: auto;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            position: relative;
        }
    }
    .node-actions {
        .selected-node {
            background: $modal-block-background-main-theme;
            border: 1px solid $border-color-main-theme;
            border-bottom: 0;
            min-height: $item-height;
            display: -ms-grid;
            display: grid; // sass-lint:disable-line no-duplicate-properties
            -ms-grid-columns: 48px 1fr auto auto;
            grid-template-columns: 48px 1fr auto minmax(80px, auto);
            &.has-custom {
                -ms-grid-columns: 48px 1fr auto auto;
                grid-template-columns: 48px 1fr auto minmax(80px, auto);
            }
            .item-count {
                align-self: center;
                height: 100%;
                width: fit-content;
                display: inline-block;
                border-left-width: 1px;
                border-left-style: solid;
                -ms-grid-column: 4;
                grid-column: 4;
            }
            .selected-node-title {
                padding: 11px 0;
                align-self: center;
                -ms-grid-column: 2;
                grid-column: 2;
                max-height: 74px;
            }
            .tabs-wrapper {
                align-self: center;
                background-color: $modal-block-background-main-theme;
                -ms-grid-column: 3;
                grid-column: 3;
                width: auto;
                margin: 0;
                border-bottom-width: 0;
                .tabs {
                    .tab-item {
                        margin: 0 20px;
                    }
                    .tab-title {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
            .btn {
                height: $item-height;
                width: $item-width;
            }
            .go-top-wrapper,
            .item-count,
            .selected-node-title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .item-count-content {
                padding: 0 $grid-gutter-width / 2;
                line-height: 24px;
                font-size: 16px;
                .counter {
                    margin-left: 20px;
                    padding: 6.5px 10px;
                    background: $disabled-color-main-theme;
                    border-radius: 2px;
                    color: $white;
                }
            }
            .item-count-found {
                font-size: 16px;
                line-height: 24px;
                padding-left: $grid-gutter-width / 2;
                .counter {
                    padding: 6.5px 10px;
                    background: $disabled-color-main-theme;
                    border-radius: 2px;
                    color: $white;
                }
            }
            .go-top-wrapper {
                align-self: center;
                width: $item-height;
                height: $item-height;
                -ms-grid-column: 1;
                grid-column: 1;
            }
        }
        .first-line {
            background: $modal-block-background-main-theme;
            height: $item-height + 2px;
            padding-top: 1px;
            border: 1px solid $border-color-main-theme;
            border-bottom-width: 0;
        }
        .search {
            width: 320px;
            .input-group-addon {
                cursor: pointer;
                &.search-icon-wrapper {
                    padding: 0 6px;
                }
                &.checkbox-icon-wrapper {
                    padding-left: 8px;
                }
            }
            /*
            .checkbox {
                margin: 0 -4px -4px 0;
            }
            */
        }
        .search-wrapper {
            left: auto;
            right: 0;
            top: 35px;
        }
        .icon {
            margin: 5px 10px;
            cursor: pointer;
        }
    }
    .second-line {
        background: $modal-block-background-main-theme;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 100%;
        height: $item-height;
        line-height: $item-height - 1px;
        .second-line-content {
            display: flex;
            width: 100%;
        }
        .node-title {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            .item {
                display: inline-block;
                padding: 11px 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                .text {
                    cursor: pointer;
                }
                .icon {
                    margin: -5px 0 0;
                }
                &.fixedColumn {
                    position: fixed;
                    background-color: $modal-block-background-main-theme;
                }
            }
        }
        .checkbox-inline {
            line-height: $item-height - 1px;
            width: $item-width;
        }
    }
}

@media (max-width: 1500px) {
    .eos-dictionary {
        .tree-wrapper {
            z-index: 4;
        }
        &.info,
        &.tree,
        &.full {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
        }
        &.info {
            .selected-wrapper {
                left: $grid-gutter-width / 2;
            }
        }
        .screen-wrapper {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}

@media(min-width: 0px) and (max-width: 1499px) {
    .eos-dictionary {
        .tree-wrapper,
        .opened-wrapper {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            width: $dictionary-block-width;
        }
        &.info {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
        }
        &.tree {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width;
                top: $top-menu-height;
            }
        }
        &.full {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
        }
        &.only-selected {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width;
                top: $top-menu-height;
            }
        }
    }
}

@media(min-width: 1500px) and (max-width: 1599px) {
    .eos-dictionary {
        .tree-wrapper,
        .opened-wrapper {
            width: $dictionary-block-width;
        }
        &.info {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2 + $dictionary-block-width;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
        }
        &.tree {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width;
                top: $top-menu-height;
            }
        }
        &.full {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width;
                right: $grid-gutter-width / 2 + $dictionary-block-width;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width;
                right: $grid-gutter-width / 2 + $dictionary-block-width;
            }
        }
        &.only-selected {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width;
                top: $top-menu-height;
            }
        }
    }
}

@media (min-width: 1600px) {
    .eos-dictionary {
        .tree-wrapper,
        .opened-wrapper {
            width: $dictionary-block-width-big-display;
        }
        &.info {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width-big-display;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
        }
        &.tree {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width-big-display;
                top: $top-menu-height;
            }
        }
        &.full {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
                right: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: 0;
            }
            .opened-wrapper {
                right: 0;
                top: $top-menu-height;
            }
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
                right: $grid-gutter-width / 2 + $dictionary-block-width-big-display;
            }
        }
        &.only-selected {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
            .tree-wrapper {
                top: $top-menu-height;
                left: -1 * $dictionary-block-width-big-display;
            }
            .opened-wrapper {
                right: -1 * $dictionary-block-width-big-display;
                top: $top-menu-height;
            }
        }
    }
}
