<ng-template #markAllTooltip>
    {{anyMarked ? 'Снять' : 'Пометить'}}<br/>{{anyMarked ? 'пометки': 'все'}}
</ng-template>
<div class="eos-dictionary"
    [ngClass]="{'full': currentState[0] && currentState[1] && !hideTree,
        'only-selected': !currentState[0] && !currentState[1] || currentState[0] && !currentState[1] && hideTree,
        'info': !currentState[0] && currentState[1] || currentState[0] && currentState[1] && hideTree,
        'tree': currentState[0] && !currentState[1] && !hideTree}"
    (window:resize)="resize()"
    (transitionend)="transitionEnd()">
    <div class="tree-wrapper block"
        #tree
        [ngClass]="{'open-tree': currentState[0] && !hideTree, 'has-spinner': !treeNodes.length }"
        [hidden]="this.dictionary?.descriptor.type === dictTypes.linear">
        <eos-spinner *ngIf="!treeNodes.length"
            size="lg"></eos-spinner>
        <eos-tree *ngIf="treeNodes.length"
            [nodes]="treeNodes"
            [showDeleted]="params.showDeleted"></eos-tree>
    </div>
    <div class="selected-wrapper"
        #selectedWrapper
        [ngClass]="{'open-tree': currentState[0] && !hideTree }"
        (click)="onClick()">
        <div class="node-actions">
            <div *ngIf="treeNode"
                class="selected-node xl-font"
                [ngClass]="{'has-custom': hasCustomTable}">
                <div class="go-top-wrapper">
                    <button *ngIf="hasParent"
                        class="btn btn-primary-light"
                        (click)="goUp()">
                        <span class="eos-icon eos-icon-arrow-blue-left"></span>
                    </button>
                </div>
                <div class="selected-node-title">
                    <span class="long-title xl-font">{{title}}</span>
                </div>
                <div class="tabs-wrapper usual-border m-font">
                    <ul class="tabs"
                        *ngIf="dictionary.id === 'departments'">
                        <li class="tab-item"
                            role="presentation"
                            [ngClass]="{'active': dictMode === 1}"
                            (click)="setDictMode(1)">
                            <span class="tab-title">Кабинеты</span>
                        </li>
                        <li class="tab-item"
                            role="presentation"
                            [ngClass]="{'active': dictMode === 0}"
                            (click)="setDictMode(0)">
                            <span class="tab-title">Подразделения</span>
                        </li>
                    </ul>
                </div>
                <div class="item-count usual-border m-font">
                    <ng-container *ngIf="params.searchResults; then foundRecords; else records"></ng-container>
                    <ng-template #records>
                        <span class="item-count-content">
                            Записей:
                            <span class="counter">{{paginationConfig?.itemsQty}}</span>
                        </span>
                    </ng-template>
                    <ng-template #foundRecords>
                        <span class="item-count-found">
                            Найдено <span class="counter">{{paginationConfig?.itemsQty}}</span> записей
                        <button class="btn btn-primary-light"
                            tooltip="Очистить результаты"
                            placement="bottom"
                            container="body"
                            containerClass="tooltip-info"
                            (click)=resetSearch()><span class="eos-icon eos-icon-close-blue small"></span></button>
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="first-line">
                <div class="controller pull-left">
                    <eos-node-actions (action)="doAction($event)"></eos-node-actions>
                </div>
                <div class="pull-right">
                    <eos-dictionary-search (switchFastSrch)="switchFastSearch($event)"></eos-dictionary-search>
                </div>
            </div>
            <eos-dictionary-quick-search *ngIf="fastSearch"></eos-dictionary-quick-search>
        </div>
        <div class="table-wrapper usual-border">
            <div class="second-line block"
                [ngStyle]="{'width.px': length.tableWidth}">
                <div class="second-line-content">
                    <div *ngIf="params.markItems"
                        class="checkbox-inline">
                        <label [tooltip]="markAllTooltip"
                            placement="bottom"
                            container="body"
                            [ngClass]="{'group-checkbox': anyUnmarked && anyMarked}"
                            containerClass="tooltip-info">
                            <input type="checkbox" [(ngModel)]="allMarked" (change)="toggleAllMarks()"><span></span></label>
                    </div>
                    <div class="node-title"><!--<<-->
                        <div *ngFor="let field of viewFields"
                            class="item l-font"
                            [ngStyle]="{'width.px': length[field.key]}">
                            <span class="text"
                                [ngClass]="{'selected-text': orderBy}"
                                (click)="orderByField(field.foreignKey)"
                                tooltip="{{field.title}}"
                                placement="bottom"
                                container="body"
                                containerClass="tooltip-info">{{field.customTitle || field.title}}</span><span *ngIf="orderBy?.fieldKey === field.foreignKey"
                                class="icon eos-icon small"
                                [ngClass]="{'eos-icon-arrow-blue-top': orderBy?.ascend, 'eos-icon-arrow-blue-bottom': !orderBy?.ascend}"></span>
                        </div>
                        <div *ngFor="let field of customFields"
                            class="item l-font"
                            [ngStyle]="{'width.px': length[field.key]}">
                            <span class="text"
                                [ngClass]="{'selected-text': orderBy}"
                                (click)="orderByField(field.foreignKey)"
                                tooltip="{{field.title}}"
                                placement="bottom"
                                container="body"
                                containerClass="tooltip-info">{{field.customTitle || field.title}}<span *ngIf="orderBy?.fieldKey === field.foreignKey"
                                    class="icon eos-icon small"
                                    [ngClass]="{'eos-icon-arrow-blue-top': orderBy?.ascend, 'eos-icon-arrow-blue-bottom': !orderBy?.ascend}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngStyle]="{'width.px': length.tableWidth}"><!--<<-->
                <ng-container>
                    <eos-node-list [nodes]="visibleNodes"
                        [length]="length"
                        [customFields]="customFields"
                        (checked)="updateMarks()"
                        (reordered)="userOrdered($event)"></eos-node-list>
                    <eos-node-list-pagination [currentState]="[currentState[0] && !hideTree, currentState[1]]"></eos-node-list-pagination>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="opened-wrapper block"
        [ngClass]="{'open-info': currentState[1]}">
        <div class="info-spinner">
            <eos-spinner *ngIf="params.updatingInfo"
                size="lg"></eos-spinner>
        </div>
        <eos-node-info-switcher *ngIf="!params.updatingInfo"></eos-node-info-switcher>
    </div>
</div>
