$login-panel-width: 522px;
$logo-width: 140px;

.navbar-fixed-bottom {
    z-index: 0;
    margin-bottom: 20px;
}

.login-fon {
    background: $white !important;
}

.login-panel {
    width: $login-panel-width;
    margin: 0 calc(50% - 261px);
    .msg-container {
        height: 48px;
        margin-bottom: 32px;
        .msg {
            font-size: 0;
            height: 48px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            .msg-ico {
                font-size: 24px;
                line-height: $item-height;
                color: $white;
                width: $item-width;
                height: $item-height;
                display: inline-block;
                background: $brand-warning;
            }
            .msg-text {
                display: inline-block;
                line-height: $item-width;
                width: 474px;
                padding: 0 20px;
                font-size: 14px;
                vertical-align: top;
            }
        }
    }

    form {
        margin: 0 91px 0 91px;
        .logo {
            margin-bottom: 40px;
            font-size: 0;

            .logo-img {
                border-radius: $logo-width;
                background-image: url("../assets/images/Deal-Logo-Round-140Ñ…140.svg");
                display: inline-block;
                width: $logo-width;
                height: $logo-width;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            }

            .logo-text {
                display: inline-block;
                vertical-align: top;
                height: $logo-width;
                margin-left: 20px;
                color: $white;
                line-height: $logo-width;
                font-size: 63px;
                font-family: Roboto;
                font-style: italic;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            }
        }

        .form-group {
            position: relative;
            margin-bottom: 20px;
            label {
                font-family: Roboto;
                font-size: 12px;
                color: $unimportant-info-color-main-theme;
                text-transform: uppercase;
                font-weight: normal;
            }
            .form-control {
                &.has-error {
                    border-color: $invalid-color-main-theme;
                    border-width: 2px;
                }
                background: $light-grey-1;
                border-color: $border-color-main-theme;
                border-radius: 0;
                padding: 8px;
            }
            .form-control:focus {
                border-color: $active-field-color-main-theme;
            }
            .eye {
                top: 30px;
                right: 8px;
                width: 24px;
                height: 24px;
                background: transparent;
                position: absolute;
                .eos-icon {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    button {
        width: 100%;
        height: 32px;
        border-radius: 2px;
    }
}
