.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Roboto, sans-serif;
}

.content-wrapper {
    width: 100%;
}

.content-outlet {
    padding: $grid-gutter-width / 2;
}

.sidebar-wrapper {
    border-right: 1px solid transparent;
}

.header-wrapper {
    border-bottom: 1px solid transparent;
    height: 60px;

    .round-img-wrapper {
        display: inline-block;
        width: 60px;
        height: 60px;

        .round-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 9px;
            border: 1px solid transparent;
            border-radius: 50%;
            background: darkblue;
        }
    }

    .header-content {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 100%;

        .header-item {
            display: inline-block;
            height: 100%;
            margin: auto;
            margin-left: -4px;

            .link-text {
                position: relative;
                top: -24px;
                padding-left: 20px;
                padding-right: 40px;
                font-size: 18px;
                line-height: 24px;
                cursor: pointer;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .header-wrapper {
        .header-content {
            .header-item {
                .link-text {
                    display: inline-block;
                    max-width: 180px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 10px;
                    padding-right: 15px;
                    font-size: 14px;
                    line-height: 20px;
                    top: -18px;
                }
            }
        }
    }
}

@media (max-width: 1130px) {
    .header-wrapper {
        .header-content {
            .header-item {
                .link-text {
                    max-width: 150px;
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    .header-wrapper {
        .header-content {
            .header-item {
                .link-text {
                    max-width: 100px;
                }
            }
        }
    }
}

.messages-wrapper {
    position: fixed;
    top: 48px;
    right: $grid-gutter-width / 2;
    min-width: 20%;
    max-width: 50%;
    z-index: 1049;

    .alert {
        span {
            white-space: pre-wrap;
        }
    }
}

.version-number {
    position: fixed;
    bottom: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
}
