.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.content-wrapper {
    width: 100%;
    overflow: hidden;
}

.content-outlet {
    padding: $grid-gutter-width / 2;
}

.sidebar-wrapper {
    border-right: 1px solid transparent;
}

.header-wrapper {
    border-bottom: 1px solid transparent;
    height: 60px;
    .round-img-wrapper {
        display: inline-block;
        width: 60px;
        height: 60px;
        .round-img {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 5px 0;
            border: 1px solid transparent;
            border-radius: 50%;
            background: darkblue;
        }
    }
    .header-content {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 100%;
        &.left {
            .header-item:not(:first-child) {
                position: relative;
                top: -27px;
            }
        }
        &.right {
            margin-left: 40px;
        }
        .header-item {
            display: inline-block;
            height: 100%;
            margin: auto;
            margin-left: -4px;
            .link-text {
                position: relative;
                top: 3px;
                padding-left: 40px;
                padding-right: 0;
                font-size: 18px;
                line-height: 26px;
                cursor: pointer;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            .search-btn {
                width: $item-width;
                height: 100%;
                padding: 6px;
                background-color: transparent;
            }
            &.else-dropdown {
                .dropdown-menu {
                    width: 250px;
                    padding: 0;
                    top: 45px;
                    .else-item {
                        height: $item-height;
                        padding: 12px 20px;
                        font-size: 18px;
                        line-height: 26px;
                        &>a {
                            padding: 0;
                            font-size: inherit;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
    }
}

.messages-wrapper {
    position: fixed;
    top: 48px;
    right: $grid-gutter-width / 2;
    min-width: 20%;
    max-width: 50%;
    z-index: 1049;
    .alert {
        span {
            white-space: pre-wrap;
        }
    }
}

.version-number {
    position: fixed;
    bottom: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
}
