.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.content-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 20px 0 20px 0;
}

.content-outlet {
    margin: 0 ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2);
}

.header-wrapper {
    position: relative;
    z-index: 10;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.15);
    .menu {
        background-color: $white;
        height: $item-width;
        border-bottom: 1px solid $border-color-main-theme;
    }
    .square-img-wrapper {
        display: inline-block;
        width: $item-width;
        height: $item-height;
        .square-img-logo {
            display: inline-block;
            width: $item-width;
            height: $item-height;
            background: url("../assets/images/Deal-Logo-Square-48Ñ…48.svg");
        }
        .square-img {
            display: inline-block;
            width: $item-width;
            height: $item-height;
            background: darkblue;
        }
    }
    .header-content {
        font-size: 0;
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 100%;
        &.left {
            margin-left: 228px;
        }
        &.right {
            margin-left: 40px;
        }

        .header-item {
            display: inline-block;
            vertical-align: middle;
            .link-name {
                cursor: pointer;
                padding: 13.5px 20px;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            .link-name:hover > span {
                color: $button-color-hover-main-theme;
            }
            .search-btn {
                width: $item-width;
                height: 100%;
                padding: 12px 6px;
                background-color: transparent;
            }
            &.else-dropdown {
                position: relative;
            }
        }
    }
}

.messages-wrapper {
    position: fixed;
    top: 48px;
    right: $grid-gutter-width / 2;
    min-width: 20%;
    max-width: 50%;
    z-index: 1052;
    .alert {
        span {
            white-space: pre-wrap;
        }
    }
}

.version-number {
    position: fixed;
    bottom: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    z-index: 3;
}

.btn-transparent {
    background-color: transparent;
}

#loading {
    position: absolute;
    top: 46%;
    left: 48%;
}

.bl {
    color: $active-field-color-main-theme;
    font-size: 36px;
}
.more {
    position: absolute;
    top: 11px;
    .menuitem {
        .dropdown-item {
            padding: 0 20px !important;
            span {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .header-wrapper {
        .header-content {
            &.left {
                margin-left: $item-width;
            }
        }
    }
}

.no-border {
    border-style: none;
}

.border-bottom {
    border-bottom-style: solid;
}

.border-right {
    border-right-style: solid;
}

.border-top {
    border-top-style: solid;
}

.border-left {
    border-left-style: solid;
}

.paragraph-title {
    display: block;
    margin: $grid-gutter-width/2 0;
    border: 1px none $border-color-main-theme;
    border-bottom-style: solid;
}

a {
    cursor: pointer;
}
