.eos-breadcrumb {
    height: $breadcrumbs-height;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .15);

    .breadcrumb {
        background-color: inherit;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        top: 11px;
        padding-left: 20px;

        & > li:not(:first-child)::before {
            // font-family: "Glyphicons Halflings";
            // content: "\E258";
            content: "";
            background-image: url("../assets/icons/Arrow-V-Blue.svg");
            transition: 0ms;
            transform: rotate(180deg);
            display: inline-block;
            height: 24px;
            width: 24px;
            background-size: cover;
        }

        .breadcrumb-item {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            padding: 0 12px;
        }

        .link {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }

    .pushpin {
        top: 11px;
        position: relative;
        transition: right .25s ease-in-out;
        right: 0;
    }

    .left-sandwich {
        .btn {
            margin-right: -16px;
            margin-bottom: -7px;
        }
    }

    .right-sandwich {
        .btn {
            margin-bottom: -19px;
        }
    }

}
