.breadcrumb-wrapper {
    /* height: $breadcrumbs-height;*/
    border-bottom: 1px solid transparent;
    border-radius: 0;
    padding: $grid-gutter-width /2;
    /* margin-bottom: 20px; */
    .breadcrumb {
        background-color: inherit;
        display: inline-block;
        margin: 0;
        padding: 0;

        .breadcrumb-item {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            line-height: 14px;
        }
    }
}
