.eos-breadcrumb {
    height: $breadcrumbs-height;
    border-bottom: 1px solid transparent;
    border-radius: 0;

    .lefter {
        .pushpin {
            margin-right: 364px;
            transition: 300ms ease-in-out;
        }
    }

    .btn {
        padding: 0;
        height: $item-height;
        width: $item-width;
        // margin-top: -3px;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;

        &:focus {
            outline: 0;
        }
    }

    .breadcrumb {
        background-color: inherit;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        top: 6px;

        & > li:not(:first-child)::before {
            // font-family: "Glyphicons Halflings";
            // content: "\E258";
            content: "";
            background-image: url("../assets/icons/Arrow-V-Blue.svg");
            transition: 0ms;
            transform: rotate(180deg);
            display: inline-block;
            height: 24px;
            width: 24px;
            background-size: cover;
        }

        .breadcrumb-item {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            padding: 0 12px;
        }

        .link {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }

    .icon {
        font-size: 20px;
        transition: 300ms ease-in-out;
        cursor: pointer;

        &.icon-left {
            margin: 8px 0 8px 12px;
        }

        &.icon-right {
            margin: 8px 12px;
        }

        &.rotate-left {
            transform: rotate(-90deg);
        }
    }
}

@media (max-width: 1500px) {
    .eos-breadcrumb {
        .opened-node-actions.full {
            transition: 300ms ease-in-out;
        }
    }
}
