.column-settings-modal {
    .modal-header {
        padding: 0 15px;

        .btn {
            text-transform: uppercase;
            margin-top: 7px;
        }
    }

    .title {
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 8px;
    }

    .info-block {
        border-width: 1px;
        border-style: solid;
        height: 300px;
        overflow: auto;

        .item {
            height: 32px;
            padding: 8px;
            cursor: move;
            position: relative;

            .edit-btn {
                position: absolute;
                right: 0;
                top: 5px;
            }

            .new-title {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
            }

            &.gu-transit {
                background-color: $highlight-color-main-theme;
            }
        }
    }

    .col {
        width: 405px;
    }

    .driver-col {
        width: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            display: flex;
            height: auto;
        }
    }

    .modal-body {
        padding: 20px;
    }

    .modal-body-container {
        display: flex;
    }
}
