.column-settings-modal {
    .modal-header {
        padding: 0 15px;
    }

    .btn {
        text-transform: uppercase;
        margin-top: 7px;
    }

    .title {
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 8px;
    }

    .info-block {
        border-width: 1px;
        border-style: solid;
        height: 500px;
        overflow: auto;

        .item {
            height: 32px;
            padding: 8px;
            cursor: move;
            position: relative;

            .edit-btn,
            .ok-btn,
            .cancel-btn {
                position: absolute;
                right: 0;
                top: 5px;
            }

            .ok-btn {
                right: 24px;
            }

            .new-title,
            .text {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
                padding-right: 50px;
            }

            .text {
                padding: 6px 12px;
            }

            &.gu-transit {
                background-color: $highlight-color-main-theme;
            }
        }
    }

    .col {
        width: 405px;

        .clear-btn {
            margin-top: 20px;
            width: inherit;
        }
    }

    .driver-col {
        width: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            display: flex;
            height: auto;
        }
    }

    .modal-body {
        padding: 20px;
    }

    .modal-body-container {
        display: flex;
    }
}


.warning {
    &.modal-footer {
        .btn {
            padding: 0 20px;
            text-transform: uppercase;
        }
    }
}
