.eos-datepicker {
    position: relative;

    input {
        padding-right: 32px !important;
        background-image: url("../assets/icons/Calendar-Blue.png");
        background-repeat: no-repeat;
        cursor: pointer;
        background-position-x: right;
        background-position-y: center;
        background-size: 24px;

        &.readonly {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
            background-image: none;
        }
    }
}

.theme-dark-blue .bs-datepicker-head,
.theme-dark-blue .bs-datepicker-body table td span.selected,
.theme-dark-blue .bs-datepicker-body table td.selected span,
.theme-dark-blue .bs-datepicker-body table td span[class*="select-"]:after,
.theme-dark-blue .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: $button-color-main-theme !important;
}

.bs-datepicker-body table td {
    color: black !important;
}
