.eos-datepicker {
    position: relative;

    .icon {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        margin: 0;
    }

    input {
        padding-right: 32px !important;

        &.readonly {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.theme-dark-blue .bs-datepicker-head,
.theme-dark-blue .bs-datepicker-body table td span.selected, 
.theme-dark-blue .bs-datepicker-body table td.selected span, 
.theme-dark-blue .bs-datepicker-body table td span[class*="select-"]:after, 
.theme-dark-blue .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: $button-color-main-theme !important;
}

.bs-datepicker-body table td {
    color: black !important;
}