.eos-departments-card-edit {
    overflow-y: auto;
    overflow-x: hidden;

    .tabs-wrapper {
        width: 800px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid transparent;
        margin: -11px -20px 20px;
    }

    .tabs {
        display: inline-block;
        padding: 0;
        margin: 0;

        .tab-item {
            display: inline-block;
            border-bottom: 5px solid transparent;
            padding: 12px 0 5px;
            position: relative;
            cursor: pointer;
            height: $item-height;
            margin-right: 40px;
        }
    }

    .block-title {
        border-bottom: 1px solid transparent;
        display: inline-block;
        height: 38px;
        line-height: 38px;
        width: 100%;
        font-weight: 700;
        font-size: 17px;
        margin-bottom: 10px;

        &:not(.first) {
            margin-top: 50px;
        }
    }

    .alternates {
        .form-group{
            &:first-child {
                margin-top: 20px;
            }

            &:last-child {
                .form-control {
                    padding-right: 32px;
                    position: relative;
                }
            }

            .user-icon {
                position: absolute;
                right: 25px;
                top: 35px;  
            }
        }
    }

    .form-group {
        margin-bottom: 10px;

        &:not(:first-child) {
            &.fathers-name {
                margin-top: 0;
            }

            &.email {
                margin-top: 5px;
            }

            &.full-position {
                margin-top: 61px;
            }

            &.sev {
                margin-top: 38px;
            }
        }
    }

    textarea {
        resize: none;

        &.note {
            height: 189px;
        }
    }

    .alternate-button-wrapper {
        margin-top: 20px;

        .alternate-button {
            width: 100%;
            height: 32px;
        }
    }

    .current-image {
        height: 130px;
        width: 130px;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        margin-left: 24px;

        .photo-uploader {
            position: absolute;
            bottom: -8px;
            right: 0;
        }
    }

    .gender-placeholder {
        position: absolute;
        top: 183px;
        left: 9px;
        width: 30px;
    }

    .gender-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../assets/icons/Arrow-V-Blue-Bottom.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 24px;
    }

    .names {
        margin-top: 20px;
    }

    .wrapper,
    .row-wrapper {
        display: flex;
    }

    .row-wrapper {
        .form-group {
            width: 100%;

            &:not(:first-child) {
                margin-top: 0;
            }

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .email-wrapper {
        .form-group {
            width: 54%;

            &:first-child,
            &:last-child {
                width: 24%;
            }
        }

    }

    .declination-wrapper {
        .form-control {
            width: 24%;

            &:not(.last) {
                margin-right: 40px;
            }

            &:first-child {
                width: 54%;
            }
        }
    }

    .col-1,
    .col-2 {
        display: inline-block;
    }

    .col-1 {
        width: 178px;
        margin-right: 40px;
        position: relative;
    }

    .col-2 {
        width: 535px;
    }
}
