.eos-departments-card-edit {
    overflow-y: auto;
    overflow-x: hidden;
    border-width: 1px;
    border-style: solid;
    border-top-width: 0;
    width: 800px;
    margin: 0 auto;

    .block-title {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: inline-block;
        height: 38px;
        width: 100%;
        font-weight: 700;
        padding-top: 8px;

        &:not(.first) {
            margin-top: 50px;
        }
    }

    .checkbox {
        display: block;
        margin-top: 8px;
        margin-bottom: 0;

        label {
            padding-left: 0;
        }

        input[type="checkbox"] + span {
            margin-right: 12px;
        }

        &.card-flag {
            margin-top: 62px;
        }
    }

    .alternates {
        .form-group {
            &:first-child {
                margin-top: 30px;
            }

            &:last-child {
                .form-control {
                    padding-right: 32px;
                    position: relative;
                }
            }

            .person-list-btn {
                position: absolute;
                right: 20px;
                top: 29px;
                height: 32px;
                width: 32px;
            }
        }
    }

    .form-group {
        margin-bottom: 0;

        &:not(:first-child) {
            &.fathers-name {
                margin-top: 0;
            }

            &.full-position {
                margin-top: 91px;
            }

            &.gender {
                margin-top: 44px;
                position: relative;
            }
        }

        &.dytu-row {
            display: flex;
            align-items: flex-end;

            .text-input {
                width: 72%;
            }

            .checkbox-input {
                padding: 0 0 6px 40px;
            }
        }

        .boss {
            width: 153px;
        }
    }

    textarea {
        resize: none;

        &.note-person {
            height: 212px;
        }

        &.note-dep {
            height: 90px;
        }
    }

    select::-ms-expand {
        display: none;
    }

    .alternate-button-wrapper {
        margin-top: 20px;

        .alternate-button {
            width: 100%;
            height: 32px;
        }
    }

    .current-image {
        height: 130px;
        width: 130px;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        margin: 0 24px;

        .photo-uploader {
            position: absolute;
            bottom: -8px;
            right: -24px;
        }
    }

    .gender-placeholder {
        position: absolute;
        top: 30px;
        left: 9px;
        width: 30px;
    }

    .gender-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../assets/icons/Arrow-V-Blue-Bottom.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 24px;
    }

    .names {
        margin-top: 30px;
    }

    .wrapper,
    .row-wrapper {
        display: flex;
    }

    .row-wrapper {
        .form-group {
            width: 100%;

            &:not(:first-child) {
                margin-top: 0;
            }

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .contact-wrapper {
        display: -ms-grid;
        display: grid;// sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 60px 90px;
        grid-template-rows: 60px 90px;

        .cab,
        .phone,
        .phone-local,
        .email {
            margin-right: 40px;
        }

        .phone,
        .phone-local,
        .fax {
            margin-top: 0;
        }

        .cab {
            grid-column: 1;
        }

        .phone {
            grid-column: 2;
        }

        .phone-local {
            grid-column: 3;
        }

        .fax {
            grid-column: 4;
        }

        .email {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 2;
            -ms-grid-column-span: 2;
        }

        .skype {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row: 2;
        }
    }


    .declination-wrapper {
        .form-control {
            width: 24%;

            &:not(.last) {
                margin-right: 40px;
            }

            &:first-child {
                width: 55%;
            }
        }
    }

    .col-1,
    .col-2 {
        display: inline-block;
    }

    .col-1 {
        width: 178px;
        margin-right: 40px;
    }

    .col-2 {
        width: 535px;
    }
}
