.eos-departments-card-edit {
    overflow-y: auto;
    overflow-x: hidden;

    .tabs {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid transparent;

        .tab-item {
            display: inline-block;
            border-bottom: 5px solid transparent;
            padding: 5px;
            position: relative;
            cursor: pointer;
            height: $item-height;
            padding-top: 12px;
            margin-right: $item-width;
        }
    }

    .photo {
        display: block;
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

    .block-title {
        border-bottom: 1px solid transparent;
        display: inline-block;
        height: 38px;
        line-height: 38px;
        width: 100%;
        font-weight: 700;
        font-size: 17px;
    }
}

