.eos-desktop-switcher {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;

    .dropdown-button {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        position: relative;
        top: -24px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
        border-top: 0;
    }

    .dropdown-menu {
        width: 300px;
        top: 24px;

        .menuitem {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 20px;

            a {
                text-decoration: none;
            }
        }

        li {
            &:last-child {
                margin-bottom: 5px;
            }
        }
    }

    .actions {
        position: absolute;
        right: 5px;
        cursor: pointer;
    }

    .create {
        cursor: pointer;
    }
}

@media (max-width: 1280px) {
    .eos-desktop-switcher {
        .dropdown-button {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
