eos-desktop-switcher {
    display: inline-block;
    margin: 0 10px;
    color: black;

    .btn {
        &.dropdown-toggle {
            height: $header-element-height;
        }
    }

    .dropdown-menu {
        width: 300px;

        & > li > a {
            display: inline-block;
            width: 100%;
        }
    }

    .actions {
        position: absolute;
        right: 5px;
    }
}
