.eos-desktop {
    .sortable-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - 300px - 40px);

        .icon-btn {
            cursor: pointer;
        }
    }

    .icon {
        cursor: pointer;
    }

    .sortable-item {
        display: inline-block;
        position: relative;
        height: 100px;
        flex-basis: calc((100% - 4*10px) / 4);
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 0;
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        overflow: hidden;

        .btn {
            padding: 0;
        }

        .item-content {
            width: 100%;
            height: 100%;
            font-size: 18px;
            line-height: 26px;
            text-align: left;
            border-radius: 0;

            &.edited {
                padding: 32px 53px 32px 5px;
                flex-direction: column;
                display: flex;
                justify-content: space-around;
            }

            .text {
                position: relative;
                top: -6px;
                left: -6px;
                display: inline-block;
                width: calc(100% - 170px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .icon {
                height: 48px;
                width: 48px;
            }

            .icon-wrapper {
                display: inline-block;
                height: 99px;
                width: 100px;
                padding: 26px;
            }
        }

        .icon-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;

            &.lefter {
                right: 30px;
            }
        }

        .end-hidder {
            display: inline-block;
            position: absolute;
            bottom: 5px;
            right: 15px;
            height: 1.42857143em;
            width: 60px;
        }

        .title-input {
            width: 100%;
        }
    }

    .right {
        grid-row: 1;
        grid-column: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .recent {
        height: 4 * ($desktop-link-size + $desktop-link-margin);
        width: 2 * $desktop-link-size;
        overflow: auto;
        padding: 0;
        grid-column: 2;
        grid-row: 1;
        border: 1px solid transparent;
        text-align: center;
        font-size: 18px;
        line-height: 26px;

        &.left {
            grid-column: 1;
            grid-row: 1;
        }

        .recent-title-wrapper {
            padding: 10px;
            display: inline-block;
            border-bottom: 1px solid transparent;
            width: 100%;

            .recent-title {
                position: relative;
                top: -10px;
            }
        }

        .recent-list {
            list-style: none;
            padding: 0;

            .recent-item {
                border-bottom: 1px solid transparent;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px;


                a.special-text {
                    white-space: nowrap;
                }
            }
        }
    }

    .desktop-wrapper {
        display: -ms-grid;
        display: grid;// sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 1fr (2 * ($desktop-link-size + $desktop-link-margin));
        grid-template-columns: 1fr (2 * ($desktop-link-size + $desktop-link-margin));

        &.reverse {
            -ms-grid-columns: (2 * ($desktop-link-size + $desktop-link-margin)) 1fr;
            grid-template-columns: (2 * ($desktop-link-size + $desktop-link-margin)) 1fr;
        }
    }
}
