eos-desktop {
    .btn-sq-lg {
        height: 150px;
        margin: 5px;
        width: 150px;
        background-color: $modal-background;
    }

    .btn-wrapper {
        display: inline-block;
        position: relative;

        .glyphicon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
