.eos-desktop-switcher {
    display: inline-block;
    margin: 0 10px;

    .dropdown-menu {
        width: 300px;

        .menuitem {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 20px;

            a {
                text-decoration: none;
            }
        }

        li {
            &:last-child {
                margin-bottom: 5px;
            }
        }
    }

    .actions {
        position: absolute;
        right: 5px;
        cursor: pointer;
    }

    .create {
        cursor: pointer;
    }
}
