.eos-desktop {
    .btn-sq-lg {
        height: $desktop-link-size;
        margin: $desktop-link-margin;
        width: $desktop-link-size;
        white-space: normal;
        overflow: hidden;
    }

    .sortable-wrapper {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
    }

    .sortable-item {
        display: inline-block;
        position: relative;

        .glyphicon {
            position: absolute;
            top: 10px;
            right: 10px;

            &.lefter {
                right: 30px;
            }
        }

        .end-hidder {
            display: inline-block;
            position: absolute;
            bottom: 5px;
            right: 15px;
            height: 1.42857143em;
            width: 60px;
        }

        .title-input {
            width: 100%;
            height: 100px;
        }
    }

    .right {
        grid-row: 1;
        grid-column: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .recent {
        height: 4 * ($desktop-link-size + $desktop-link-margin);
        width: 2 * $desktop-link-size;
        margin: $desktop-link-margin;
        padding: 0;
        grid-column: 2;
        grid-row: 1;

        &.left {
            grid-column: 1;
            grid-row: 1;
        }

        .recent-title {
            line-height: 3;
        }

        .recent-list {
            list-style: none;
            padding: 0;
            border-top: 1px solid transparent;

            .recent-item {
                border-bottom: 1px solid transparent;
                line-height: 3;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .desktop-wrapper {
        display: -ms-grid;
        display: grid; // sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 1fr 2 * ($desktop-link-size + $desktop-link-margin);
        grid-template-columns: 1fr 2 * ($desktop-link-size + $desktop-link-margin);

        &.reverse {
            -ms-grid-columns: 2 * ($desktop-link-size + $desktop-link-margin) 1fr;
            grid-template-columns: 2 * ($desktop-link-size + $desktop-link-margin) 1fr;
        }
    }

}
