.eos-dictionaries {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .dictionary {
        height: 100px;
        flex-basis: 24%;
        margin-right: 1%;
        margin-bottom: 10px;
        border-radius: 0;
        font-size: 18px;
        line-height: 26px;
        text-align: left;

        .icon {
            font-size: xx-large;
            width: 60px;
            text-align: center;
        }

        .text {
            position: relative;
            top: -8px;
        }
    }
}
