
eos-dictionary {
    .dictionary-wrapper {
        display: -ms-grid;
        display: grid; // sass-lint:disable-line no-duplicate-properties
        overflow: hidden;

        & > div:not(:last-child) {
            margin-right: 10px;
        }

        &.tree-hidden {
            grid-template-columns: 50px 5fr 4fr;
            -ms-grid-columns: 50px 5fr 4fr;
        }

        &.info-hidden {
            grid-template-columns: 3fr 5fr 50px;
            -ms-grid-columns: 3fr 5fr 50px;
        }

        &.only-selected {
            grid-template-columns: 35px 1fr 50px;
            -ms-grid-columns: 35px 1fr 50px;
        }

        &.full {
            grid-template-columns: 3fr 5fr 4fr;
            -ms-grid-columns: 3fr 5fr 4fr;
        }
    }

    .tree-wrapper {
        grid-row: 1;
        grid-column: 1;

        & > eos-tree > .eos-tree {
            max-height: calc(100vh - 210px);
            overflow-y: auto;
        }

        &.vertical {
            width: 50px;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .selected-wrapper {
        grid-row: 1;
        grid-column: 2;
    }

    .opened-wrapper {
        grid-row: 1;
        grid-column: 3;
    }

    .aside {
        overflow-x: hidden;
        display: inline-block;

        .sandwich-wrapper {
            position: relative;
            height: 40px;
            margin-left: 10px;
        }
    }

    .root-title {
        transform: rotate(-90deg) translateX(-120px) translateY(9px);
        transform-origin: top left;
        width: 120px;
        text-overflow: ellipsis;
    }
}
