
eos-dictionary {
    .tree-wrapper {
        & > eos-tree > .eos-tree {
            max-height: calc(100vh - 172px);
            overflow-y: auto;
        }
    

        &.vertical {
            width: 50px;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .aside {
        overflow-x: hidden;

        .sandwich-wrapper {
            position: relative;
            top: -11px;
        }
    }

    .root-title {
        transform: rotate(-90deg) translateX(-120px);
        transform-origin: top left;
        width: 120px;
        text-overflow: ellipsis;
    }
}
