.eos-dictionary {
    overflow: hidden;
    margin: -1 * $grid-gutter-width / 2;

    .tree-wrapper,
    .opened-wrapper,
    .selected-wrapper {
        position: absolute;
        transition: 300ms ease-in-out;
    }

    .tree-wrapper {
        height: calc(100vh - 108px);
        width: 425px;
        overflow-y: auto;
        border-right: 1px solid transparent;
        transform: translateX(-24px);

        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .opened-wrapper {
        height: calc(100vh - 60px);
        width: $dictionary-block-width;
        border-left: 1px solid transparent;
        z-index: 3;
    }

    &.info {
        .tree-wrapper {
            left: -1 * $dictionary-block-width;
        }

        .opened-wrapper {
            right: 0;
            top: $top-menu-height - $breadcrumbs-height;
        }

        .selected-wrapper {
            top: $grid-gutter-width / 2 + $top-menu-height;
            left: $grid-gutter-width / 2;
            right: 420px;
        }
    }

    &.tree {
        .tree-wrapper {
            left: 0;
        }

        .opened-wrapper {
            right: -1 * $dictionary-block-width;
            top: $top-menu-height - $breadcrumbs-height;
        }

        .selected-wrapper {
            top: $grid-gutter-width / 2 + $top-menu-height;
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2;
        }
    }

    &.only-selected {
        .tree-wrapper {
            left: -1 * $dictionary-block-width;
        }

        .opened-wrapper {
            right: -1 * $dictionary-block-width;
            top: $top-menu-height - $breadcrumbs-height;
        }

        .selected-wrapper {
            top: $grid-gutter-width / 2 + $top-menu-height;
            left: $grid-gutter-width / 2;
            right: $grid-gutter-width / 2;
        }
    }

    &.full {
        .tree-wrapper {
            left: 0;
        }

        .opened-wrapper {
            right: 0;
            top: $top-menu-height - $breadcrumbs-height;
        }

        .selected-wrapper {
            top: $grid-gutter-width / 2 + $top-menu-height;
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2 + $dictionary-block-width;
        }
    }

    .node-actions {
        .selected-node {
            border: 1px solid transparent;
            border-bottom: 0;
            min-height: $item-height;
            font-size: 18px;
            display: -ms-grid;
            display: grid;// sass-lint:disable-line no-duplicate-properties
            -ms-grid-columns:  48px 1fr 150px;
            grid-template-columns: 48px 1fr 150px;

            .item-count {
                height: 100%;
                width: 150px;
                display: inline-block;
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                border-left: 1px solid transparent;
                grid-column: 3;
            }

            .selected-node-title {
                line-height: 26px;
                grid-column: 2;
            }

            .btn {
                height: $item-height;
                width: $item-width;
            }

            .go-top-wrapper,
            .item-count,
            .selected-node-title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .go-top-wrapper {
                grid-column: 1;
            }
        }

        .first-line {
            height: $item-height;
            border: 1px solid transparent;
        }

        .date {
            position: relative;
            top: 6px;
        }

        .search {
            width: 320px;

            .input-group-addon {
                cursor: pointer;

                &.search-icon-wrapper {
                    padding: 0 6px;
                }

                &.checkbox-icon-wrapper {
                    padding-left: 8px;
                }
            }

            .checkbox {
                margin: 0 -4px -4px 0;
            }
        }

        .search-wrapper {
            left: auto;
            right: 0;
            top: 35px;
        }

        .icon {
            margin: 5px 10px;
            cursor: pointer;
        }

        .eos-datepicker {
            display: inline-block;
            width: 145px;
            font-weight: bold;
            position: relative;
            top: 6px;

            input {
                border-color: transparent;
                box-shadow: none;
            }
        }

        .second-line {
            border: 1px solid transparent;
            border-top: 0;
            width: 100%;
            height: $item-height;
            line-height: $item-height;

            .second-line-content {
                display: flex;
                width: 100%;
            }

            .config-btn {
                height: $item-height;
                width: $item-width;
                font-size: 24px;
            }

            .node-title {
                display: inline-block;
                width: 100%;

                .item {
                    display: inline-block;
                    padding: 0 20px;
                    font-size: 16px;
                    line-height: 24px;
                    white-space: nowrap;

                    .text {
                        cursor: pointer;
                    }

                    .icon {
                        margin: 0;
                        vertical-align: sub;
                    }
                }
            }

            .checkbox-inline {
                line-height: $item-height;
                width: $item-width;
                padding-right: 12px;
            }
        }
    }
}

.creating-modal {
    .modal-content {
        padding: 0 20px;
    }
}

@media (max-width: 1500px) {
    .eos-dictionary {
        .tree-wrapper {
            z-index: 4;
        }

        &.info,
        &.tree,
        &.full {
            .selected-wrapper {
                top: $grid-gutter-width / 2 + $top-menu-height;
                left: $grid-gutter-width / 2;
                right: $grid-gutter-width / 2;
            }
        }

        &.info {
            .selected-wrapper {
                left: $grid-gutter-width / 2;
            }
        }

        .screen-wrapper {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}
