.eos-dictionaries {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: calc(100vw - 30px);
    overflow-y: auto;
    max-height: calc(100vh - 150px);

    .dictionary {
        height: 100px;
        flex-basis: calc((100% - 4*10px) / 4);
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 0;
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        overflow: hidden;

        &.btn {
            padding: 0;
        }

        .text {
            position: relative;
            top: -8px;
            left: -6px;
            width: calc(100% - 120px);
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
        }

        .icon {
            height: 48px;
            width: 48px;
        }

        .icon-wrapper {
            display: inline-block;
            height: 99px;
            width: 100px;
            padding: 26px;
        }
    }
}
