.eos-card {
    // min-height: 450px;
    max-height: calc(100vh - 108px - 60px);
    border: 1px solid transparent;
    overflow-y: auto;
    .edit-block-header,
    .edit-header {
        min-height: $item-height;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        width: 800px;
        margin: 0 auto;
    }
    .edit-header {
        display: -ms-grid;
        display: grid; // sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 100px 48px 1fr 153px;
        grid-template-columns: 100px 48px 1fr 153px;
        &.edited {
            -ms-grid-columns: 0 48px 1fr 195px;
            grid-template-columns: 0 48px 1fr 195px;
        }
        .btn {
            padding: 1px 6px;
        }
        a:hover {
            text-decoration: none;
        }
        div {
            display: inline-block;
        }
        .check-wrapper {
            -ms-grid-column: 2;
            grid-column: 2;
            -ms-grid-row: 1;
            grid-row: 1;
            .checkbox {
                margin: 0;
                label {
                    padding: 0;
                }
            }
            .checkbox-inline {
                padding: 0;
                margin-left: 12px;
            }
        }
        .move-wrapper {
            -ms-grid-column: 1;
            grid-column: 1;
            -ms-grid-row: 1;
            grid-row: 1;
            .btn {
                height: $item-height;
                width: $item-width;
            }
        }
        .name-wrapper {
            -ms-grid-row-align: center;
            align-self: center;
            -ms-grid-column: 3;
            grid-column: 3;
            -ms-grid-row: 1;
            grid-row: 1;
        }
        .buttons-wrapper {
            -ms-grid-column: 4;
            grid-column: 4;
            -ms-grid-row: 1;
            grid-row: 1;
            height: 48px;
        }
        .action-wrapper {
            -ms-grid-column: 4;
            grid-column: 4;
            -ms-grid-row: 1;
            grid-row: 1;
            .btn {
                height: $item-height;
                margin: -8px 0;
                width: $item-width;
            }
        }
        .move-wrapper,
        .check-wrapper,
        .buttons-wrapper,
        .action-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .spinner-wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        border-top-width: 0;
        width: 800px;
        margin: 0 auto;
    }
    .edit-aside {
        .vertical-buttons {
            transform: rotate(-90deg) translateX(-145px) translateY(-144px);
        }
    }
    /* .active {
        background-color: #e6e5e5;
        border-color: #adadad;
    }*/
}

.edit-content {
    padding: 20px;
    label {
        font-weight: normal;
        &:not(.checkbox) {
            margin-bottom: 8px;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .btn-wrapper {
            text-align: center;
            .btn {
                text-transform: uppercase;
            }
        }
    }
    .visa-type-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../assets/icons/Arrow-V-Blue-Bottom.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 24px;
    }
    .visa-select-edit {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
    }
    .form-group {
        &:not(.gender) {
            position: relative;
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    .form-control {
        border-radius: 0;
        padding: 8px;
    }
    input.form-control {
        height: 32px;
    }
    .readonly {
        box-shadow: none;
        padding: 0;
    }
}

.simple-card-edit {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-top-width: 0;
    width: 800px;
    margin: 0 auto;
}

.security-card-edit {
    .checkbox-inline {
        padding-left: 0;
    }
}

.appearance-none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
