.eos-edit-card {
    min-height: 450px;
    width: 800px;
    margin: 20px auto;
    border: 1px solid transparent;

    .edit-header {
        padding: 5px;
        display: -ms-grid;
        display: grid; // sass-lint:disable-line no-duplicate-properties
        -ms-grid-columns: 100px 20px 1fr 130px;
        grid-template-columns: 100px 20px 1fr 130px;
        border-bottom: 1px solid transparent;

        &.edited {
            -ms-grid-columns: 100px 20px 1fr 172px;
            grid-template-columns: 100px 20px 1fr 172px;
        }

        .btn {
            padding: 1px 6px;
        }

        a:hover {
            text-decoration: none;
        }

        div {
            display: inline-block;
        }

        .check-wrapper {
            grid-column: 2;
            grid-row: 1;
            margin: 8px 0 0 -10px;

            .checkbox {
                margin: 0;
            }
        }

        .move-wrapper {
            grid-column: 1;
            grid-row: 1;
        }

        .name-wrapper {
            align-self: center;
            grid-column: 3;
            grid-row: 1;
        }

        .buttons-wrapper {
            grid-column: 4;
            grid-row: 1;
            margin: auto;
        }

        .action-wrapper {
            grid-column: 4;
            grid-row: 1;
        }

    }

    .spinner-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .edit-aside {
        .vertical-buttons {
            transform: rotate(-90deg) translateX(-145px) translateY(-144px);
        }
    }

    /* .active {
        background-color: #e6e5e5;
        border-color: #adadad;
    }*/

    .edit-content {
        label {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 16px;
        }

        .form {
            margin: 20px;
            margin-top: -4px;

            .form-group {
                margin: 0;
                margin-top: 20px;
            }

            .form-control {
                font-size: 14px;
                line-height: 20px;
                border-radius: 0;
                padding: 8px;
            }
        }
    }
}
