.checkbox-inline,
.checkbox,
.minus-checkbox,
.radio-inline,
.radio {
    margin: 0;
    cursor: pointer;
    &.disabled {
        cursor: default;
    }
    label {
        cursor: inherit;
        span {
            vertical-align: middle;
        }
    }
    span {
        vertical-align: middle;
    }
    input[type="checkbox"],
    input[type="radio"] {
        opacity: 0;
        cursor: pointer;
        margin: 0;
        &+span {
            cursor: inherit;
            vertical-align: middle;
            /* margin-top: -3px; */
            margin-right: 12px;
            display: inline-block;
            height: 24px;
            width: 24px;
            line-height: 24px;
            background-size: cover;
        }
        &[disabled] {
            cursor: default;
        }
    }
}

.checkbox-inline,
.radio-inline {
    padding-left: 12px;
    line-height: 24px;
    label {
        margin: 0;
    }
}

.checkbox-inline,
.checkbox,
.minus-checkbox {
    input[type="checkbox"] {
        &:checked+span {
            background-image: url("../assets/icons/Checkbox-Square-V-Blue.svg");
        }
        &+span {
            background-image: url("../assets/icons/Checkbox-Square-Blue.svg");
        }
    }
}

.checkbox-inline,
.checkbox {
    input[type="checkbox"] {
        &[disabled] {
            cursor: default;
            &+span {
                background-image: url("../assets/icons/Checkbox-Square-Grey.svg");
            }
            &:checked+span {
                background-image: url("../assets/icons/Checkbox-Grey.svg");
            }
        }
    }
}

.minus-checkbox {
    input[type="checkbox"] {
        &[disabled] {
            cursor: default;
            &+span {
                background-image: url("../assets/icons/Minus-Grey.svg");
            }
            &:checked+span {
                background-image: url("../assets/icons/Checkbox-Grey.svg");
            }
        }
    }
}

.radio-inline,
.radio {
    input[type="radio"] {
        &:checked+span {
            background-image: url("../assets/icons/Radio-V-Blue.svg");
        }
        &+span {
            background-image: url("../assets/icons/Radio-Blue.svg");
        }
    }
}

.group-checkbox {
    input[type="checkbox"] {
        &:checked+span {
            background-image: url("../assets/icons/Checkbox-Square-Minus-Blue.svg");
        }
        &:checked[disabled]+span {
            background-image: url("../assets/icons/Minus-Grey.svg");
        }
        /*& + span {
            margin-right: 6px;
            margin-bottom: -3px;
        }*/
    }
}

/*.modal-body,
.popover-body {
    label {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
    }
}
*/

.menuitem,
.dropdown-item {
    cursor: pointer;
}

/*.input-cleaner {
    float: right;
    margin-top: -34px;
    background-color: transparent;
    position: relative;
}
*/

input[type=text]::-ms-clear {
    display: none;
}

.form-control {
    background: $modal-block-background-main-theme;
    border-radius: 0px;
    &:focus {
        box-shadow: none;
    }
}

.tabs-wrapper {
    /* width: 800px; */
    display: flex;
    justify-content: space-around;
    margin: 0 $grid-gutter-width / -2;
    background-color: $light-grey-1;
}

.tabs {
    display: inline-block;
    color: $grey;
    padding: 0;
    margin: 0;
    .tab-item {
        display: inline-block;
        border-bottom: 6px solid transparent;
        padding: 12px 0 5px;
        position: relative;
        cursor: pointer;
        height: $item-height;
        margin-right: 40px;
        &.active {
            border-bottom-color: $button-color-main-theme;
            color: $black;
        }
    }
    .tab-item:last-child {
        margin: 0;
    }
}

.btn {
    border-radius: 2px !important;
    font-size: 12px;
    line-height: 1;
    padding: 7px 4px;
}

.btn-primary,
.btn-primary-full {
    border-style: solid;
    border-width: 1px;
}

.s-font {
    line-height: 16px;
    font-size: 12px;
}

.m-font {
    line-height: 20px;
    font-size: 14px;
}

.l-font {
    line-height: 24px;
    font-size: 16px;
}

.xl-font {
    line-height: 26px;
    font-size: 18px;
}

.upper {
    text-transform: uppercase;
}

.no-drag {
    background-color: red !important;
}

textarea {
    resize: none;
}

typeahead-container {
    .dropdown-menu {
        z-index: 1100;
    }
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.long-title {
    display: inline-block;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
}
