input[type="checkbox"] {
    opacity: 0.2;

    & + span {
        // -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid transparent;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        display: inline-block;
        margin-left: -22px;
        margin-bottom: -2px;
        margin-right: 5px;
    }

    &:checked + span {
        &::before {
            content: "";
            display: block;
            width: 7px;
            height: 11px;
            border: 1px solid transparent;
            border-width: 0 2px 2px 0;
            transform: rotateZ(45deg);
            margin: -2px 3px;
        }
    }
}

.group-checkbox {
    input[type="checkbox"] + span {
        border-color: red;
    }
}

.modal-body {
    label {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
    }
}

.dropdown-item {
    cursor: pointer;
}
