.modal-content {
    .modal-header {
        padding: 11px 15px;
    }
    .modal-body {
        padding: 15px;
    }
    .modal-footer {
        padding: 10px 15px;
    }
    .modal-footer {
        .btn {
            min-width: 88px;
            &.eos-icon {
                min-width: initial;
            }
        }
    }
}
