.pagination-option {
    margin-top: 20px;
    border: 1px solid transparent;
    display: -ms-grid;
    display: grid; // sass-lint:disable-line no-duplicate-properties
    -ms-grid-columns: 330px 1fr 220px;
    grid-template-columns: 330px 1fr 220px;
    line-height: 24px;
    font-size: 16px;

    .pagination {
        display: flex;
        margin: 0;
    }

    .btn {
        line-height: inherit;
        font: inherit;
    }

    .pag-btn {
        width: 48px;
        height: 48px;
        border-width: 0;
        border-right-width: 1px;
        border-right-style: solid;

        &:disabled {
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            border-width: 1px;
            border-style: solid;
        }
    }

    .count-select {
        height: $item-height;
        border-left-width: 1px;
        border-left-style: solid;
        grid-column: 3;
        display: inline-block;
        margin: 0;

        .drop-btn {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon-btn {
            padding: 12px;
            position: relative;
        }

        .dropdown-toggle {
            height: $item-height;
            width: 100%;
            display: inline-flex;
            justify-content: space-around;
            cursor: pointer;

            .dropdown-toggle-text {
                position: relative;
                padding: 12px 0 12px 20px;
            }
        }
    }

    .page-link {
        height: $item-height;
        width: $item-width;
        text-align: center;
        padding: 12px 16px;
        font-size: 16px;
    }

    .show-more {
        position: relative;
        left: -5px;
        height: $item-height;
        padding: 0 10px;
        background: transparent;
        font-size: 16px;
        line-height: 24px;
        grid-column: 2;
    }

    .pagination-lg > li {
        &:last-child,
        &:first-child {
            & > a,
            & > span {
                border-radius: 0;
            }
        }
    }
}
