.eos-node-list,
.eos-node-list-item {
    .checkbox,
    .checkbox-inline {
        width: $item-width;
        line-height: 36px;
    }

    bs-sortable {
        width: 100%;
    }

    .node-list-item {
        display: flex;
    }

    .elements {
        list-style: none;
        max-height: calc(100vh - 415px);
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0;

        .child {
            cursor: pointer;
        }

        .flat-child {
            padding: 0;
        }

        .node-info {
            cursor: pointer;
            width: calc(100% - 2* 48px); // checkbox and spinner

        }

        .checkbox-inline {
            padding: 5px 0 5px 12px;
        }

        .code {
            padding: 0 20px;
            display: inline-block;
            height: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            padding-top: 14px;
        }

        .spinner {
            margin-top: 10px;
            width: 48px;
            text-align: center;

            &.transparent {
                opacity: 0;
            }
        }
    }

    .list {
        border: 1px solid transparent;
        border-top: 0;

        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
        }

        .spinner-container {
            padding: 20px;
        }
    }
}

.eos-node-list {
    position: relative;

    ul {
        position: relative;
    }
}

.node-list-item {
    height: $item-height;
}

.create-new-node {
    &.modal-body {
        .input-group {
            margin-bottom: 10px;
        }
    }
}
