.eos-node-actions {
    .first-line {
        height: 50px;
        border-bottom: 1px solid transparent;

        .deleted-toggle {
            cursor: pointer;
            position: relative;
            top: 4px;
        }
    }

    @media (max-width: 1180px) {
        .first-line {
            height: 100px;

            .deleted-toggle {
                top: 0;
                line-height: 3;
            }

            .search {
                float: none !important;
                width: 100%;
            }
        }
    }

    .second-line {
        border-bottom: 1px solid transparent;
        margin-bottom: 10px;

        .controller {
            margin-top: 10px;

            .circle {
                border: 1px solid transparent;
                border-radius: 50%;
                display: inline-block;
                height: 25px;
                width: 25px;
                cursor: pointer;

                &:last-child {
                    position: relative;
                    top: -2px;
                }
            }

            .glyphicon {
                display: inline-block;
                margin-left: 5px;
                margin-top: 3px;

                &.glyphicon-minus {
                    margin-left: 3px;
                }
            }

            .dots {
                display: inline-block;
                font-size: 20px;
                line-height: -35px;
                margin-left: 3px;
                margin-top: -4px;
            }
        }

        .clear-all {
            clear: both;
        }
    }

    .table-title {
        .checkbox {
            display: inline-block;
        }

        .code {
            margin: 0 20px;
        }
    }

    .search {
        width: 220px;

        .input-group-addon {
            cursor: pointer;
        }
    }
}

.creating-modal {
    .form {
        margin-left: 20px;
        margin-right: 20px;
    }
}
