.eos-node-actions {
    .first-line {
        height: $item-height;
        border: 1px solid transparent;
        margin-bottom: 20px;

        .dropdown-menu {
            padding: 0;
        }
    }

    .second-line {
        border: 1px solid transparent;
        padding: 8px 0;

        .config-btn {
            height: 41px;
            margin-top: -9px;

            .fa {
                font-size: 22px;
            }
        }
    }

    .table-title {
        .checkbox {
            display: inline-block;
            margin-left: 12px;
        }

        .code {
            margin: 0 20px;
        }
    }

    .date {
        position: relative;
        top: 6px;
    }

    .search {
        width: 320px;

        .input-group-addon {
            cursor: pointer;

            &.search-icon-wrapper {
                padding: 0 6px;
            }

            &.checkbox-icon-wrapper {
                padding-left: 8px;
            }
        }

        .checkbox {
            margin: 0 -4px -4px 0;
        }
    }

    .search-wrapper {
        left: auto;
        right: 0;
        top: 35px;
    }

    .actions {
        position: relative;
        top: 8px;
    }

    .icon {
        margin: 5px 10px;
        cursor: pointer;

        &.eos-icon-fab-blue {
            margin-top: -5px;
        }

        &.eos-icon-search-blue {
            position: relative;
            top: 4px;
        }
    }

    .full-search {
        position: relative;
        top: 3px;
    }

    .eos-datepicker {
        display: inline-block;
        width: 145px;
        font-weight: bold;
        position: relative;
        top: 6px;

        input {
            border-color: transparent;
            box-shadow: none;
        }
    }
}

@media (max-width: 1430px) {
    .eos-node-actions {
        .first-line {
            padding: 0 7px;
        }
    }
}

@media (max-width: 1199px) {
    .eos-node-actions {
        .icon {
            &.eos-icon-fab-blue {
                position: relative;
                top: 15px;
            }
        }
    }
}

.creating-modal {
    .form {
        margin-left: 20px;
        margin-right: 20px;
    }
}
