.eos-notice {
    height: 100%;
    width: 48px;

    .badge {
        font-size: 9px;
        line-height: 2px;
        border-radius: 100px;
        width: 12px;
        height: 12px;
        padding: 4px;
        top: -6px;
        left: 8px;
    }

    .btn {
        padding: 6px 7px;
        height: 100%;
    }

    .dropdown-button {
        background-color: transparent;
        font-size: 20px;
    }

    .menuitem {
        cursor: pointer;
    }
}
/*
@media (max-width: 1280px) {
    .eos-notice {
        // top: -24px;

        .dropdown-button {
            font-size: 16px;
        }
    }
}
*/