.opened-wrapper {
    .sandwich-wrapper {
        position: relative;
        left: -20px;
        height: 40px;
    }

    .opened-node-wrapper {
        .short-info {
            display: inline-block;
            padding: 10px;
        }

        .full-info {
            border-top: 5px solid transparent;
            padding: 10px;
        }
    }

    &.vertical {
        .opened-node-wrapper {
            height: 300px;
            width: 38px;
        }

        .short-info {
            transform: rotate(-90deg) translateX(-260px);
            transform-origin: top left;
            width: 260px;
            text-overflow: ellipsis;
        }

        .full-info {
            display: none;
        }
    }

}
