.eos-opened-node {
    .short-info {
        display: inline-block;
        padding: 20px;
        padding-bottom: 12px;
    }

    .full-info {
        border-top: 1px solid transparent;
        padding: 20px;

        .field-title {
            text-transform: uppercase;
        }

        .field {
            margin: 12px 0;
            line-height: 32px;
        }
    }
}
