.eos-opened-node {
    height: 100%;

    .opened-node-wrapper {
        height: 100%;
        width: 400px;
    }

    .short-info {
        display: inline-block;
        padding: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
    }

    .full-info {
        border-top-width: 1px;
        border-top-style: solid;
        padding: 20px;
        padding-top: 0;

        .field-title {
            text-transform: uppercase;
            line-height: 16px;
            font-size: 12px;
            font-weight: normal;
        }

        .field-value {
            line-height: 20px;
            font-size: 14px;
            display: inline-block;
            margin-top: 12px;
        }

        .field {
            margin: 0;
            margin-top: 20px;
        }
    }

    .no-data {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .opened-node-actions {
        position: relative;
        height: $breadcrumbs-height;
        width: $dictionary-block-width;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        .icon-btn {
            position: absolute;

            &.left {
                left: 0;
            }

            &.right {
                left: $item-width;
            }

            &.edit {
                right: $item-width;
            }
        }
    }

    .btn {
        padding: 0;
        height: $item-height;
        width: $item-width;

        // margin-top: -3px;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;

        &:focus {
            outline: 0;
        }
    }
}
