.eos-photo-uploader {
    display: inline-block;
    overflow: hidden;
    position: relative;

    .input-file {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        height: 0;
    }

    .input-file-label {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .upload-btn {
        position: absolute;
        bottom: -4px;
        right: 0;
        background-color: transparent;
        padding: 0;
    }

    .current-image {
        height: 150px;
        width: 150px;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 50%;
        // background-image: url("../assets/images/no-user.png");
        background-size: cover;
    }
}

.image-wrapper {
    height: 100%;
    width: 100%;
}

.user-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    margin: 20px auto;
}
