.eos-photo-uploader {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 24px;
    width: 24px;
    cursor: pointer;

    .input-file {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        height: 0;
    }

    label {
        margin: 0;
    }

    .upload-btn {
        position: absolute;
        bottom: -4px;
        right: 0;
        background-color: transparent;
        padding: 0;
    }
}

.image-wrapper {
    height: 100%;
    width: 100%;
}

.user-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 20px auto;
}
