.eos-photo-uploader {
    display: inline-block;
    overflow: hidden;
    position: relative;

    .input-file {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .input-file + .input-file-label {
        display: inline-block;
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-image: url("../assets/images/no-user.png");
        background-size: cover;
        margin-bottom: -5px;

        &.uploading {
            background-image: none;
            background-color: white;
        }
    }

    .upload-btn {
        position: absolute;
        bottom: -4px;
        right: 0;
        background-color: transparent;
        padding: 0;
    }
}
