.pin {
    display: inline-block;

    .pushdrop {
        min-width: 280px !important;
    }

    .pushpin:focus {
        border: none;
    }

    .eos-icon-pin-blue {
        cursor: pointer;
    }
}

.pushdrop {
    min-width: 280px;

    .desk {
        cursor: pointer;
    }

    .create {
        margin: 3px 20px;
        cursor: pointer;
    }
}
