.sandwich-wrapper {
    .sandwich {
        // background: white;
        display: inline-block;
        height: 3px;
        position: relative;
        width: 20px;

        &::before,
        &::after {
            // background: white;
            content: "";
            display: inline-block;
            height: 3px;
            position: absolute;
            width: 20px;
        }

        &::before {
            top: 6px;
        }

        &::after {
            top: 12px;
        }
    }
}
