eos-search-result {
    .result-wrapper {
        background: white;
        max-height: calc(100vh - 150px);
        overflow-y: auto;
        padding-left: 0;
        color: black;

        .result-list {
            list-style: none;
        }

        .checkbox {
            display: inline-block;
            position: relative;
            top: 4px;
        }
    }
}
