.eos-search {
    display: inline-block;
    width: 48px;
    position: relative;
    top: -20px;

    .icon-btn {
        font-size: 20px;
    }
}

.search-modal {
    .input-group,
    .intro-text {
        margin-bottom: 20px;
    }
}

@media (max-width: 1280px) {
    .eos-search {
        top: -24px;
        width: 30px;

        .icon-btn {
            font-size: 16px;
        }
    }
}
