.eos-search {
    display: inline-block;
    width: $item-width;
    position: relative;
    top: -15px;
    padding: 4px;
}

/* .search-modal {
    .input-group,
    .intro-text {
        margin-bottom: 20px;
    }
}*/

@media (max-width: 1200px) {
    .eos-search {
        top: -19px;
        width: 30px;
    }
}
