.eos-search {
    display: inline-block;

    /*
    .btn {
        height: $header-element-height;
        .glyphicon{
            font-size: 24px;
            margin-top: 4px;
        }
    }
    */
}

.search-modal {
    .input-group,
    .intro-text {
        margin-bottom: 20px;
    }
}
