eos-selected-node {
    .selected-node-info {
        align-self: center;
        cursor: pointer;
        margin-left: 10px;
        color: black;
        display: flex;

        .node-info {
            margin-left: 10px;
        }

        .code {
            margin-right: 10px;
        }

        .checkbox {
            display: inline-block;
        }
    }

    .highlight {
        background: yellow;
    }
}
