.eos-selected-node {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 10px 0;

    .link {
        cursor: pointer;
        margin-left: 10px;
    }

    .selected-node-info {
        display: flex;

        .node-info {
            margin-left: 10px;
            align-self: center;
            cursor: pointer;
        }

        .code {
            margin-right: 10px;
        }

        .checkbox {
            display: inline-block;
        }

        .spinner {
            margin-top: 9px;
        }
    }
}
