.sidebar {
    background: $background-color;

    .glyphicon,
    .fa {
        width: 20px;
        font-size: 20px;
    }


    .menu {
        list-style: none;
        padding: 10px 10px 0;

        li {
            padding-bottom: 10px;
        }

        .link-text {
            white-space: nowrap;
            color: $link-color;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }

            &.active {
                color: $light-grey;
            }
        }
    }

    .sandwich-wrapper {
        /* height: $breadcrumbs-height; */
        border-bottom: 1px solid $icon-color;
        padding: $grid-gutter-width /2 10px;

        .fa {
            font-size: 24px;
            line-height: 1px;
            vertical-align: middle;
        }

        .sandwich {
            background: $icon-color;

            &::before,
            &::after {
                background: $icon-color;
            }
        }
    }
}
