.sidebar {
    background: $background-color;

    .menu {
        list-style: none;
        padding: 10px 10px 0;

        li {
            padding-bottom: 10px;
        }

        .glyphicon,
        .fa {
            width: 20px;
            font-size: 20px;
        }

        .link-text {
            white-space: nowrap;
            color: $link-color;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &.active {
                color: $light-grey;
            }
        }
    }

    .sandwich-wrapper {
        height: $breadcrumbs-height;
        border-bottom: 1px solid $icon-color;
        padding: 5px 10px;

        .sandwich {
            background: $icon-color;

            &::before,
            &::after {
                background: $icon-color;
            }
        }
    }
}
