.modal-body {
    label {
        color: $primary-font-color-main-theme;
    }
}

.main-theme {
    // general
    .block {
        background-color: $primary-color-main-theme;
        color: $primary-font-color-main-theme;
        border-color: $border-color-main-theme;
    }

    .special-text {
        color: $button-color-main-theme;
    }

    .btn-primary-light {
        background-color: transparent;
        color: $button-color-main-theme;
        border-color: transparent;
        padding: 1px 6px;
    }

    /* .btn-icon {
        background-color: white;
        width: $item-width;
        color: $button-color-main-theme;
    }*/

    .btn-primary {
        border: 2px solid $button-color-main-theme;
        color: $button-color-main-theme;
        background: white;
        padding: 0 4px;

        &:hover,
        &:active,
        &:focus {
            color: white;
            background: $button-color-main-theme;
        }
    }


    .ng-invalid {
        border-color: $invalid-color-main-theme;
        outline-color: $invalid-color-main-theme;
    }

    .ng-valid {
        border-color: $valid-color-main-theme;
        outline-color: $valid-color-main-theme;
    }

    .pagination {
        & > li {
            & > a,
            & > span {
                color: $button-color-main-theme;
            }
        }

        & > .active {
            & > a,
            & > span {
                &,
                &:hover,
                &:focus {
                    background-color: $button-color-main-theme;
                    border-color: $button-color-main-theme;
                    color: white;
                }
            }
        }
    }

    .input-cleaner {
        color: $button-color-main-theme;

        &:hover {
            color: $button-color-hover-main-theme;
        }
    }

    .deleted {
        color: $disabled-color-main-theme;
    }

    // main-layout

    &.main-container {
        background-color: $secondary-color-main-theme;
        color: $primary-font-color-main-theme;

        .header-wrapper {
            background-color: $primary-color-main-theme;

            .header-content {
                .header-item {
                    color: $primary-font-color-main-theme;

                    a {
                        color: $primary-font-color-main-theme;
                    }

                    .active {
                        color: $button-color-main-theme;
                    }
                }
            }
        }
    }

    .content-wrapper {
        background: $secondary-color-main-theme;
    }

    .eos-breadcrumb {
        .link {
            color: $primary-font-color-main-theme;
        }

        .breadcrumb > li::before {
            color: $button-color-main-theme;
        }
    }

    .sidebar-wrapper,
    .header-wrapper,
    .breadcrumb-wrapper {
        border-color: $border-color-main-theme;
    }

    .opened-wrapper {
        background-color: $block-color-main-theme;
        color: $secondary-font-color-main-theme;
    }

    .tree-wrapper {
        background: $block-color-main-theme;
        color: $secondary-font-color-main-theme;
    }

    // components

    .eos-opened-node {
        .full-info {
            border-color: $border-color-main-theme;

            .field-title {
                color: $unimportant-info-color-main-theme;
            }
        }

        .opened-node-actions {
            border-color: $border-color-main-theme;
        }
    }

    .eos-node-list {
        // background-color: $block-color-main-theme;
        .elements,
        .selected-node {
            color: $secondary-font-color-main-theme;
        }

        .highlight {
            background: $highlight-color-main-theme;
        }

        .count-select {
            border-color: $border-color-main-theme;
        }
    }

    .eos-tree-node {
        .deleted {
            .node-title {
                color: $disabled-color-main-theme;
            }
        }

        .active {
            background-color: $highlight-color-main-theme;

            .node-title {
                color: $secondary-font-color-main-theme;
            }
        }

        .node-title {
            color: $primary-font-color-main-theme;
        }
    }

    .eos-search {
        color: $button-color-main-theme;
    }

    .eos-notice {
        .btn {
            color: $button-color-main-theme;
        }
    }

    .eos-desktop {
        .recent {
            .recent-title-wrapper,
            .recent-item {
                border-color: $border-color-main-theme;
            }
        }

        .icon-btn {
            color: $secondary-font-color-main-theme;
        }
    }

    .eos-dictionary {
        .tree-wrapper,
        .opened-wrapper {
            border-color: $border-color-main-theme;
        }
    }

    .eos-user {
        /* .avatar {
            background: $block-color-main-theme;
        }*/
        .text {
            color: $secondary-font-color-main-theme;
        }
    }

    .eos-desktop-switcher {
        color: $secondary-font-color-main-theme;

        .menuitem {
            a {
                color: $secondary-font-color-main-theme;
            }

            &:hover {
                background-color: $secondary-color-main-theme;
            }

            &:active {
                background-color: $secondary-color-main-theme;
            }
        }

        .dropdown-button {
            border-color: $border-color-main-theme;
            color: $primary-font-color-main-theme;
        }
    }

    .eos-card {
        background: $block-color-main-theme;
        color: $secondary-font-color-main-theme;
        border-color: $border-color-main-theme;

        .edit-header {
            background: $block-color-main-theme;
            color: $secondary-font-color-main-theme;
            border-color: $border-color-main-theme;
        }

        .edit-content {
            label {
                color: $unimportant-info-color-main-theme;
            }

            .form-control {
                color: $secondary-font-color-main-theme;
                background-color: $secondary-color-main-theme;
                border-color: $border-color-main-theme;

                &.ng-invalid {
                    border-color: $invalid-color-main-theme;
                }
            }
        }
    }

    .eos-node-actions {
        .icon {
            color: $button-color-main-theme;
        }
    }

    // spacial templates

    .eos-departments-card-edit {
        .tabs {
            .tab-item {
                border-color: $secondary-color-main-theme;

                &.active {
                    background-color: $button-color-main-theme;
                    border-color: transparent;
                    color: $block-color-main-theme;
                }
            }
        }

        .photo {
            border-color: $secondary-color-main-theme;
        }
    }
}
