/*
.column-settings-modal {
    color: $unimportant-info-color-main-theme;

    .modal-title {
        color: $primary-font-color-main-theme;
    }

    .info-block {
        background-color: $secondary-color-main-theme;
        border-color: $border-color-main-theme;
        color: $secondary-font-color-main-theme;
    }

    .selected {
        background-color: $highlight-color-main-theme;
    }

    .btn {
        background-color: transparent;
    }
}
*/

// THEME BUT USE IN MODAL/TOOLTIPS/ECT
.btn-primary {
    border-color: $button-color-main-theme !important;
    color: $button-color-main-theme !important;
    background: white !important;
    /* padding: 0 4px; */
    &:hover {
        color: $button-color-hover-main-theme !important;
        border-color: $button-color-hover-main-theme !important;
    }
}

.btn-primary-full {
    border-color: $button-color-main-theme !important;
    background-color: $button-color-main-theme !important;
    color: white !important;
    /* padding: 0 4px; */
    &:hover {
        border-color: $button-color-hover-main-theme !important;
        background: $button-color-hover-main-theme !important;
    }
}

.btn-primary-light {
    background-color: transparent;
    color: $button-color-main-theme;
    border-color: transparent;
    /* padding: 1px 6px; */
    &:hover {
        color: $button-color-hover-main-theme;
    }
    &.search-btn {
        &.opened {
            color: $primary-color-main-theme;
            background: $button-color-main-theme;
            outline: none;
        }
    }
}

.btn-default {
    background-color: $primary-color-main-theme;
    border-color: $border-color-main-theme;
    color: $primary-font-color-main-theme;
    &:hover:not(:disabled) {
        background-color: $border-color-main-theme;
    }
}

.btn {
    &.active {
        color: $primary-color-main-theme;
        background-color: $button-color-main-theme;
    }
}

.highlighted {
    background: $highlight-color-main-theme;
    color: $secondary-font-color-main-theme;
}

.unimportant-text {
    color: $unimportant-info-color-main-theme;
}

.primary-text {
    color: $primary-font-color-main-theme !important;
}

.usual-border {
    border-color: $border-color-main-theme;
    border-width: 1px;
}

.active-border {
    border-color: $button-color-main-theme !important;
}

.modal-block {
    background: $modal-block-background-main-theme;
    color: $secondary-font-color-main-theme;
    border-color: $border-color-main-theme;
}

.block {
    background-color: $block-color-main-theme;
    color: $primary-font-color-main-theme;
    border-color: $border-color-main-theme;
}

.tooltip {
    opacity: 1 !important;
    &.word-break {
        word-break: break-all;
    }
    .tooltip-inner {
        padding: 8px;
        border-radius: 0px;
        color: $black;
        font-size: 14px;
        line-height: 20px;
        background-color: $primary-color-main-theme;
        box-shadow: 0 0 0 1px #333333, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
    }
}

.tooltip-info,
.tooltip-error {
    .tooltip-inner {
        box-shadow: 0 0 0 1px $active-field-color-main-theme, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
        border-color: $active-field-color-main-theme;
    }
    &.tooltip.bottom .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0;
        left: calc(50% - 7px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.top .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: calc(50% - 7px);
        bottom: 0;
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.left .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        right: 0;
        top: calc(50% - 6px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.right .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: calc(50% - 6px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.right .tooltip-arrow {
        top: calc(50% - 4.5px) !important;
        left: -13px;
        border-right-color: $active-field-color-main-theme;
        border-width: 9px 9px 9px;
    }
    &.tooltip.left .tooltip-arrow {
        top: calc(50% - 4.5px) !important;
        right: -13px;
        border-left-color: $active-field-color-main-theme;
        border-width: 9px 9px 9px;
    }
    &.tooltip.top .tooltip-arrow {
        bottom: -4px;
        left: 50% !important;
        margin-left: -10px;
        border-top-color: $active-field-color-main-theme;
        border-width: 9px 9px 0;
    }
    &.tooltip.bottom .tooltip-arrow {
        top: -4px;
        left: 50% !important;
        margin-left: -10px;
        border-bottom-color: $active-field-color-main-theme;
        border-width: 0 9px 9px;
    }
}

.tooltip-error {
    .tooltip-inner {
        color: $invalid-color-main-theme;
        box-shadow: 0 0 0 1px $invalid-color-main-theme, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
        border-color: $invalid-color-main-theme;
    }
    &.tooltip.bottom .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0;
        left: calc(50% - 7px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.top .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: calc(50% - 7px);
        bottom: 0;
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.left .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        right: 0;
        top: calc(50% - 6px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.right .tooltip-inner::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: calc(50% - 6px);
        transform: rotate(45deg);
        background: $primary-color-main-theme;
    }
    &.tooltip.right .tooltip-arrow {
        top: calc(50% - 4.5px) !important;
        left: -13px;
        border-right-color: $invalid-color-main-theme;
        border-width: 9px 9px 9px;
    }
    &.tooltip.left .tooltip-arrow {
        top: calc(50% - 4.5px) !important;
        right: -13px;
        border-left-color: $invalid-color-main-theme;
        border-width: 9px 9px 9px;
    }
    &.tooltip.top .tooltip-arrow {
        bottom: -4px;
        left: 50% !important;
        margin-left: -10px;
        border-top-color: $invalid-color-main-theme;
        border-width: 9px 9px 0;
    }
    &.tooltip.bottom .tooltip-arrow {
        top: -4px;
        left: 50% !important;
        margin-left: -10px;
        border-bottom-color: $invalid-color-main-theme;
        border-width: 0 9px 9px;
    }
}

/* .main-theme { */

.secondary-block {
    background-color: $light-grey-1;
    color: $secondary-font-color-main-theme;
    border-color: $border-color-main-theme;
    border-width: 1px;
}

.link-text {
    color: $button-color-main-theme;
}

.selected-text {
    color: $button-color-main-theme;
}

.secondary-text {
    color: $secondary-font-color-main-theme;
}

.active {
    border-color: $button-color-main-theme;
    color: $button-color-main-theme !important;
}

.transparent-border {
    border-color: transparent;
}

/*.input-cleaner {
        color: $button-color-main-theme;

        &:hover {
            color: $button-color-hover-main-theme;
        }
    }*/

.deleted {
    color: $disabled-color-main-theme;
}

.highlight-on-hover {
    &:hover {
        background-color: $highlight-color-main-theme;
    }
} // main-layout
.main-container {
    background-color: $secondary-color-main-theme;
    color: $primary-font-color-main-theme;
}

.content-wrapper {
    background: $secondary-color-main-theme;
}

.breadcrumb>li::before {
    color: $button-color-main-theme;
}

/* } */

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
    border: 1px $border-color-main-theme solid;
    .menuitem {
        line-height: $item-height;
        .input-group {
            height: inherit;
            padding-left: 0;
            border-bottom: 1px $border-color-main-theme solid;
            .form-control {
                background: $border-color-main-theme;
                height: inherit;
                margin-top: 0;
                border-radius: 0;
                padding: 8px;
            }
            .input-group-btn {
                .btn {
                    padding: 6px 6px;
                }
            }
        }
    }
    .dropdown-item {
        font-size: 0;
        padding: 0;
        text-decoration: none;
        line-height: 48px;
        height: $item-height;
        span {
            line-height: $item-height;
        }
    }
    .ico-wrapper {
        display: flex;
    }
    .menu-icon {
        display: inline-block;
        width: $item-width;
        text-align: center;
        .eos-icon {
            vertical-align: middle;
        }
    }
    .has-padding {
        padding: 0 20px;
    }
    .menuitem+.menuitem {
        border-top: solid 1px $border-color-main-theme;
    }
}

.modal-backdrop.in {
    opacity: .3;
}

.modal {
    .modal-dialog {
        .modal-content {
            background: $modal-block-background-main-theme;
            border-radius: 1px;
        }
    }
}
