.modal-body {
    label {
        color: $primary-font-color-main-theme;
    }
}

.tooltip {
    opacity: 1 !important;

    &.word-break {
        word-break: break-all;
    }

    .tooltip-inner {
        color: #333333;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 0 0 1px #333333, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
    }
}

.column-settings-modal {
    color: $unimportant-info-color-main-theme;

    .modal-title {
        color: $primary-font-color-main-theme;
    }

    .info-block {
        background-color: $secondary-color-main-theme;
        border-color: $border-color-main-theme;
        color: $secondary-font-color-main-theme;
    }

    .selected {
        background-color: $highlight-color-main-theme;
    }

    .btn {
        background-color: transparent;
    }
}

.btn-primary {
    border: 2px solid $button-color-main-theme !important;
    color: $button-color-main-theme !important;
    background: white !important;
    padding: 0 4px;

    &:hover {
        color: $button-color-hover-main-theme !important;
        border-color: $button-color-hover-main-theme !important;
    }
}

.btn-primary-full {
    border: 2px solid $button-color-main-theme !important;
    background-color: $button-color-main-theme !important;
    color: white !important;
    padding: 0 4px;

    &:hover {
        border-color: $button-color-hover-main-theme !important;
        background: $button-color-hover-main-theme !important;
    }
}

.tooltip-info {
    .tooltip-inner {
        color: $active-field-color-main-theme;
        box-shadow: 0 0 0 1px $active-field-color-main-theme, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
        border-color: $active-field-color-main-theme;
    }

    &.tooltip-right .tooltip-arrow {
        border-right-color: $active-field-color-main-theme;
    }

    &.tooltip-left .tooltip-arrow {
        border-left-color: $active-field-color-main-theme;
    }

    &.tooltip-top .tooltip-arrow {
        border-top-color: $active-field-color-main-theme;
    }

    &.tooltip-bottom .tooltip-arrow {
        border-bottom-color: $active-field-color-main-theme;
    }
}

.tooltip-error {
    .tooltip-inner {
        color: $invalid-color-main-theme;
        box-shadow: 0 0 0 1px $invalid-color-main-theme, 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
        border-color: $invalid-color-main-theme;
    }

    &.tooltip-right .tooltip-arrow {
        border-right-color: $invalid-color-main-theme;
    }

    &.tooltip-left .tooltip-arrow {
        border-left-color: $invalid-color-main-theme;
    }

    &.tooltip-top .tooltip-arrow {
        border-top-color: $invalid-color-main-theme;
    }

    &.tooltip-bottom .tooltip-arrow {
        border-bottom-color: $invalid-color-main-theme;
    }
}

input,
textarea {
    &.ng-invalid.ng-dirty {
        border-color: $invalid-color-main-theme !important;
        outline: $invalid-color-main-theme solid 1px !important;
        outline-offset: 0 !important;
    }
}

.main-theme {
    // general
    .block {
        background-color: $block-color-main-theme;
        color: $primary-font-color-main-theme;
        border-color: $border-color-main-theme !important;
    }

    .secondary-block {
        background-color: $block-color-main-theme;
        color: $secondary-font-color-main-theme;
        border-color: $border-color-main-theme;
    }

    .link-text {
        color: $button-color-main-theme;
    }

    .selected-text {
        color: $button-color-main-theme;
    }

    .primary-text {
        color: $primary-font-color-main-theme;
    }

    .secondary-text {
        color: $secondary-font-color-main-theme;
    }

    .unimportant-text {
        color: $unimportant-info-color-main-theme;
    }

    .btn-primary-light {
        background-color: transparent;
        color: $button-color-main-theme;
        border-color: transparent;
        padding: 1px 6px;

        &:hover {
            color: $button-color-hover-main-theme;
        }

        &.search-btn {
            &.opened {
                color: white;
                background: $button-color-main-theme;
                outline: none;
            }
        }
    }

    .btn {
        &.active {
            color: white;
            background-color: $button-color-main-theme;
        }
    }

    .active {
        border-color: $button-color-main-theme;
        color: $button-color-main-theme;
    }

    .usual-border {
        border-color: $border-color-main-theme;
    }

    .active-border {
        border-color: $button-color-main-theme;
    }

    .transparent-border {
        border-color: transparent;
    }

    /*.input-cleaner {
        color: $button-color-main-theme;

        &:hover {
            color: $button-color-hover-main-theme;
        }
    }*/

    .deleted {
        color: $disabled-color-main-theme;
    }

    .highlighted {
        background: $highlight-color-main-theme;
        color: $secondary-font-color-main-theme;
    }

    // main-layout
    &.main-container {
        background-color: $secondary-color-main-theme;
        color: $primary-font-color-main-theme;

        .header-wrapper {
            background-color: $block-color-main-theme;
        }
    }

    .content-wrapper {
        background: $secondary-color-main-theme;
    }

    .eos-breadcrumb {
        .breadcrumb > li::before {
            color: $button-color-main-theme;
        }
    }

    .eos-dictionary {
        .node-actions {
            .second-line .node-title .item.user-sort {
                color: $primary-font-color-main-theme;
            }

            .selected-node .item-count {
                .bright {
                    color: $secondary-font-color-main-theme;
                }
            }
        }
    }

    .eos-desktop-switcher {
        color: $primary-font-color-main-theme;

        .menuitem {
            a {
                color: $primary-font-color-main-theme;
            }

            &:hover {
                background-color: $secondary-color-main-theme;
            }

            &:active {
                background-color: $secondary-color-main-theme;
            }
        }

        .dropdown-button {
            color: $primary-font-color-main-theme;
        }
    }

    .edit-content {
        .form-control {
            color: $secondary-font-color-main-theme;
            background-color: $secondary-color-main-theme;
            border-color: $border-color-main-theme;

            &:focus {
                border-color: $active-field-color-main-theme;
            }

            &:-ms-input-placeholder {
                color: $primary-font-color-main-theme;
            }

            &.readonly {
                background-color: transparent;
                border-color: transparent;

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .search-wrapper {
        .ng-valid {
            border-color: $border-color-main-theme;
        }
    }

    .full-search-form {
        .form-control.ng-valid {
            border-color: $border-color-main-theme;
        }
    }

    .eos-datepicker {
        input.stub {
            border-color: transparent;
            background-color: transparent;

            &:focus {
                border-color: transparent;
            }
        }
    }

    // spacial templates
    .eos-departments-card-edit {
        .block-title {
            border-color: $border-color-main-theme;
            color: $primary-font-color-main-theme;
            &:focus {
                border-color: transparent;
            }
        }
    }
}
