.title-wrapper {
    width: 240px;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
    cursor: pointer;

    .title-text-wrapper {
        display: inline-block;
        padding: 10px 0 10px 10px;

        .title-text {
            display: inline-block;
            text-decoration: none;
        }
    }
}


@media (max-width: 1250px) {
    .title-wrapper {
        width: 90px;

        .title-text-wrapper {
            display: none;
        }
    }
}
