.eos-tree-node {
    margin-bottom: 8px;
    padding-left: 24px;
    position: relative;

    & > div {
        display: inline-block;
        width: 15px;
    }

    .node-title-wrapper {
        display: inline-block;
        width: 100%;
        position: relative;
        min-height: $item-height;

        .icon {
            cursor: pointer;
            position: absolute;
            top: 16px;
            left: 16px;
        }

        .node-title {
            cursor: pointer;
            display: inline-block;
            margin-left: $item-width;
            padding: 13px 7px 13px 0;
            min-height: $item-height;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
