.eos-tree-node {
    .node {
        cursor: pointer;
        width: $dictionary-block-width;

        .fake-padding,
        .tree-btn,
        .title {
            display: inline-block;
        }

        .tree-btn {
            padding: 13.5px 16px;
            width: $item-width;
            vertical-align: top;
        }

        .title {
            padding: $item-width / 4 0;
            word-wrap: break-word;

            .title-item {
                padding-right: $item-width / 4;
            }
        }
    }
}
