.eos-user {
    height: 100%;
    cursor: pointer;
    padding-left: 20px;

    .text {
        position: relative;
        top: -24px;
        font-size: 14px;
        line-height: 20px;
    }

    .caret {
        position: relative;
        top: -23px;
        left: -12px;
    }
}

.login-modal {
    .input-group {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .eos-user {
        .text {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
