.eos-user {
    height: 100%;
    cursor: pointer;
    width: 280px;
    margin: 0 20px;

    .text {
        position: relative;
        top: -24px;
        display: inline-block;
    }

    .user-menu-btn {
        width: 240px;
        height: 100%;
        background-color: transparent;
        padding: 0;
        overflow: hidden;
    }
}

.login-modal {
    .input-group {
        margin-bottom: 20px;
        width: 100%;
    }
}


@media (max-width: 1250px) {
    .eos-user {
        width: 90px;
        padding: 0 14px;
        margin: 0;

        .text {
            display: none;
        }

        .user-menu-btn {
            width: 60px;
        }
    }
}

