.eos-user {
    .avatar {
        display: inline-block;
        height: 30px;
        width: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
        margin: -9px 5px;
    }

    .hidden {
        display: none;
    }
}
