@import "bootstrap/variables";
$fa-font-path: "../../node_modules/font-awesome/fonts";
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$white: #fff;
$light-grey: #eee;
$light-grey-1: #fafafa;
$grey: #646464;
$black: #000000;
// $primary-color-main-theme: #0b1324;
// $primary-font-color-main-theme: $white;
$deviders-color-main-theme: grey;
$block-color-main-theme: $white;
// $button-color-main-theme: #337ab7;
$highlight-color-main-theme: #d9edf7;
$disabled-color-main-theme: #bababa;
// Colors from new design
$unimportant-info-color-main-theme: #969696;
$primary-color-main-theme: $white;
$secondary-color-main-theme: #f3f2f2;
$border-color-main-theme: #e6e6e6;
$active-field-color-main-theme: $brand-primary;
$button-color-main-theme: $brand-primary;
$button-color-hover-main-theme: #1976d2;
$primary-font-color-main-theme: $grey;
$secondary-font-color-main-theme: $black;
$invalid-color-main-theme: #f44336;
$invalid-color-hover-main-theme: #d32f2f;
$valid-color-main-theme: #8bc34a;
$valid-color-hover-main-theme: #689f38;
$modal-block-background-main-theme: $light-grey-1;
// Elements size
$header-element-height: 49px;
$desktop-link-size: 150px;
$desktop-link-margin: 5px;
$top-menu-height: 108px;
$breadcrumbs-height: 48px;
$item-height: 48px;
$item-width: 48px;
$item-small-height: 32px;
$item-small-width: 32px;
$dictionary-block-width: 300px;
$label-color: $unimportant-info-color-main-theme;
