$fa-font-path: "../../node_modules/font-awesome/fonts";
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$white: #ffffff;
$light-grey: #eeeeee;

$background-color: #0b1324;
$icon-color: grey;
$font-color: $white;
$modal-background: #d1d2d3;

$breadcrumbs-height: 65px;
$header-element-height: 49px;
$desktop-link-size: 150px;
$desktop-link-margin: 5px;
