$ie:10 !default;
@import "variables";
@import "fonts";
@import "icons";
// override bootstrap variables
//@import "bootstrap/variables";
// @import "fontawesome/variables";
// VENDOR - Default fall-backs and external files.
// ==========================================================================
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../../node_modules/dragula/dist/dragula.css";

@import "app";
@import "general-items";
@import "modal";
// module styles
@import "../app/styles";
@import "../eos-common/styles";
@import "../eos-dictionaries/styles";
@import "../eos-rest/styles";
@import "theme";
@import "adaptation";
