<div class="eos-node-info">
        <span class="opened-node-actions pull-right usual-border">
            <button class="btn icon-btn left" (click)="actionHandler(actionNavigationUp.type)" tooltip="{{actionNavigationUp.hint}}"
                containerClass="tooltip-info">
                <span class="icon eos-icon eos-icon-arrow-v-blue-left small"></span>
            </button>
            <button class="btn icon-btn right" (click)="actionHandler(actionNavigationDown.type)" tooltip="{{actionNavigationDown.hint}}"
                containerClass="tooltip-info">
                <span class="icon eos-icon eos-icon-arrow-v-blue-right small"></span>
            </button>
            <button class="btn icon-btn edit" (click)="actionHandler(actionEdit.type)" tooltip="{{actionEdit.hint}}" containerClass="tooltip-info">
                <span class="icon {{actionEdit.iconClass}} small"></span>
            </button>
        </span>
        <div class="opened-node-wrapper">
            <div *ngIf="updating" class="no-data full-info usual-border">
                <eos-spinner [size]="'lg'"></eos-spinner>
            </div>
    
            <div *ngIf="nodeDataShort" class="short-info l-font">
                <span>
                    {{nodeDataShort.rec['FULLNAME'] || nodeDataShort.rec['CABINET_NAME']}}
                </span>
            </div>
    
            <div *ngIf="nodeDataFull && nodeDataFull.department" class="full-info usual-border">
                <div *ngIf="nodeDataFull.rec['DUE'] && nodeDataFull.department['CLASSIF_NAME']" class="field">
                    <span class="field-title unimportant-text s-font">Подразделение</span>
                    {{nodeDataFull.department['FULLNAME'] || nodeDataFull.department['CLASSIF_NAME']}}
                </div>
                <div></div>
            </div>
        </div>
    </div>