<div class="eos-node-info">
        <span class="opened-node-actions pull-right usual-border">
            <button class="btn icon-btn left" (click)="actionHandler(actionNavigationUp.type)" tooltip="{{actionNavigationUp.hint}}"
                containerClass="tooltip-info"
                placement="bottom">
                <span class="icon eos-icon eos-icon-arrow-v-blue-left small"></span>
            </button>
            <button class="btn icon-btn right" (click)="actionHandler(actionNavigationDown.type)" tooltip="{{actionNavigationDown.hint}}"
                containerClass="tooltip-info"
                placement="bottom">
                <span class="icon eos-icon eos-icon-arrow-v-blue-right small"></span>
            </button>
            <button class="btn icon-btn edit" (click)="actionHandler(actionEdit.type)" tooltip="{{actionEdit.hint}}" containerClass="tooltip-info"
                placement="bottom">
                <span class="icon {{actionEdit.iconClass}} small"></span>
            </button>
        </span>
        <div class="">
            <div *ngIf="nodeDataFull && nodeDataFull.rec && nodeDataFull.rec['IS_NODE']">
                <span *ngIf="nodeDataFull['printInfo'] && nodeDataFull['printInfo']['NAME'] && nodeDataFull['printInfo']['SURNAME'] && nodeDataFull['printInfo']['PATRON'];then fullName else shortName"></span>
                <ng-template #fullName>
                    <div class="head-wrapper">
                        <div class="current-image usual-border" [ngStyle]="{'background-image': photo}"></div>
                        <span class="info">
                            <div>
                                <div>{{nodeDataFull['printInfo']['SURNAME']}}</div>
                                <div>{{nodeDataFull['printInfo']['NAME']}}</div>
                                <div>{{nodeDataFull['printInfo']['PATRON']}}</div>
                            </div>
                        </span>
                    </div>
                </ng-template>
                <ng-template #shortName>
                    <div class="head-wrapper">
                        <div class="current-image usual-border" [ngStyle]="{'background-image': photo}"></div>
                        <div class="info">
                            <span>{{nodeDataFull.rec['SURNAME']}}</span>
                        </div>
                    </div>
                </ng-template>

                <div *ngIf="nodeDataFull.rec" class="full-info usual-border">
                    <span *ngIf="nodeDataFull.rec['FULLNAME'];then fullPosition else shortPosition"></span>
                    <ng-template #fullPosition>
                        <div class="field">
                            <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['fullPosition']?.title}}</span>
                            <br>
                            <span class="flex-wrapper">
                                <span *ngIf="nodeDataFull.rec['POST_H']" class="eos-icon eos-icon-star-black small field-value boss-icon"></span>
                                <span class="field-value m-font">{{nodeDataFull.rec['FULLNAME']}}</span>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template #shortPosition>
                        <div class="field">
                            <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['DUTY']?.title}}</span>
                            <br>
                            <span class="flex-wrapper">
                                <span *ngIf="nodeDataFull.rec['POST_H']" class="eos-icon eos-icon-star-black small field-value boss-icon"></span>
                                <span class="field-value m-font">{{nodeDataFull.rec['DUTY']}}</span>
                            </span>
                        </div>
                    </ng-template>

                    <div class="field">
                        <span class="field-title unimportant-text s-font">ПОДРАЗДЕЛЕНИЕ</span>
                        <br>
                        <span class="field-value m-font">{{department}}</span>
                    </div>

                    <span *ngIf="nodeDataFull.rec['PHONE'];then phone else localPhone"></span>
                    <ng-template #phone>
                        <div class="field">
                            <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['PHONE']?.title}}</span>
                            <br>
                            <span class="field-value m-font">{{nodeDataFull.rec['PHONE']}}</span>
                        </div>
                    </ng-template>
                    <ng-template #localPhone>
                        <div class="field">
                            <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['PHONE_LOCAL']?.title}}</span>
                            <br>
                            <span class="field-value m-font">{{nodeDataFull.rec['PHONE_LOCAL']}}</span>
                        </div>
                    </ng-template>

                    <div class="field">
                        <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['E_MAIL']?.title}}</span>
                        <br>
                        <span class="field-value m-font">{{nodeDataFull.rec['E_MAIL']}}</span>
                    </div>
                    <hr>
                    <div class="field">
                        <span class= "field-title unimportant-text s-font">КАБИНЕТЫ</span>
                        <br>
                        <span class="field-value m-font"><a [routerLink]="'/spravochniki/cabinet/'+nodeDataFull.cabinet?.ISN_CABINET + '/view'">
                            {{nodeDataFull.cabinet?.CABINET_NAME}}</a></span>
                    </div>
                    <div class="field">
                        <span class= "field-title unimportant-text s-font">ЯВЛЯЕТСЯ ПОЛЬЗОВАТЕЛЕМ</span>
                        <br>
                        <span class="field-value m-font"><!-- a [routerLink]="'/spravochniki/user/'+nodeDataFull.user?.ISN_LCLASSIF + '/view'" -->
                            {{nodeDataFull.user?.CLASSIF_NAME}}<!-- /a --></span>
                    </div>
                </div>
            </div>
            <div *ngIf="nodeDataFull && nodeDataFull.rec && !nodeDataFull.rec['IS_NODE']">
                <div>
                    <span *ngIf="nodeDataFull.rec['FULLNAME'];then fullName else shortName"></span>
                    <ng-template #fullName>
                        <span class="short-info l-font">{{nodeDataFull.rec['FULLNAME']}}</span>
                    </ng-template>
                    <ng-template #shortName>
                        <span class="short-info l-font">{{nodeDataFull.rec['CLASSIF_NAME']}}</span>
                    </ng-template>
                </div>
                <div *ngIf="nodeDataFull.rec" class="full-info usual-border">
                    <div class="field">
                        <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['CARD_NAME']?.title}}</span>
                        <br>
                        <span class="field-value m-font">{{nodeDataFull.rec['CARD_NAME']}}</span>
                    </div>
                    <div class="field" *ngIf="nodeDataFull['sev']">
                        <span class="field-title unimportant-text s-font">Индекс СЭВ</span>
                        <br>
                        <span class="field-value m-font">{{nodeDataFull['sev']['GLOBAL_ID']}}</span>
                    </div>
                    <div class="field">
                        <span class="field-title unimportant-text s-font">Фамилия И.О. начальника подразделения</span>
                        <br>
                        <span class="field-value m-font">{{bossName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
