<div class="eos-node-info">
    <div class="opened-node-wrapper">
        <div *ngIf="nodeDataFull && nodeDataFull.rec && nodeDataFull.rec['IS_NODE']"
            class="content-block">
            <div class="head-wrapper">
                <div class="current-image usual-border"
                    [ngStyle]="{'background-image': photo}"></div>
                <div class="info l-font">
                    <ng-container *ngIf="nodeDataFull['printInfo'] && nodeDataFull['printInfo']['NAME'] && nodeDataFull['printInfo']['SURNAME'] && nodeDataFull['printInfo']['PATRON'];then fullName else shortName"></ng-container>
                </div>
            </div>
            <ng-template #fullName>
                <span>{{nodeDataFull['printInfo']['SURNAME']}}</span>
                <span>{{nodeDataFull['printInfo']['NAME']}}</span>
                <span>{{nodeDataFull['printInfo']['PATRON']}}</span>
            </ng-template>
            <ng-template #shortName>
                <span>{{nodeDataFull.rec['SURNAME']}}</span>
            </ng-template>

            <div *ngIf="nodeDataFull.rec"
                class="full-info usual-border">
                <ng-container *ngIf="nodeDataFull.rec['FULLNAME'];then fullPosition else shortPosition"></ng-container>
                <ng-template #fullPosition>
                    <div class="field">
                        <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['fullPosition']?.title}}</p>
                        <p class="field-value m-font">{{nodeDataFull.rec['FULLNAME']}}</p>
                    </div>
                    <div class="field">
                        <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['POST_H']?.title}}</p>
                        <p class="field-value m-font">{{getRole(nodeDataFull.rec['POST_H'])}}</p>
                    </div>
                </ng-template>
                <ng-template #shortPosition>
                    <div class="field">
                        <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['DUTY']?.title}}</p>
                        <p class="field-value m-font">{{nodeDataFull.rec['DUTY']}}</p>
                    </div>
                    <div class="field">
                        <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['POST_H']?.title}}</p>
                        <p class="field-value m-font">{{getRole(nodeDataFull.rec['POST_H'])}}</p>
                    </div>
                </ng-template>

                <div class="field">
                    <p class="field-title unimportant-text s-font">ПОДРАЗДЕЛЕНИЕ</p>
                    <p class="field-value m-font">{{department}}</p>
                </div>

                <div class="field">
                    <ng-container *ngIf="nodeDataFull.rec['PHONE'];then phone else localPhone"></ng-container>
                </div>
                <ng-template #phone>
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['PHONE']?.title}}</p>
                    <p class="field-value m-font">{{nodeDataFull.rec['PHONE']}}</p>
                </ng-template>
                <ng-template #localPhone>
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['PHONE_LOCAL']?.title}}</p>
                    <p class="field-value m-font">{{nodeDataFull.rec['PHONE_LOCAL']}}</p>
                </ng-template>

                <div class="field">
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['E_MAIL']?.title}}</p>
                    <p class="field-value m-font"><a href="mailto:{{nodeDataFull.rec['E_MAIL']}}">{{nodeDataFull.rec['E_MAIL']}}</a></p>
                </div>
                <hr>
                <div class="field">
                    <p class="field-title unimportant-text s-font">КАБИНЕТЫ</p>
                    <p class="field-value m-font"><a *ngIf="nodeDataFull.cabinet?.ISN_CABINET"
                            [routerLink]="'/spravochniki/cabinet/'+nodeDataFull.cabinet?.ISN_CABINET + '/view'">{{nodeDataFull.cabinet?.CABINET_NAME}}</a></p>
                </div>
                <div class="field">
                    <p class="field-title unimportant-text s-font">ЯВЛЯЕТСЯ ПОЛЬЗОВАТЕЛЕМ</p>
                    <p class="field-value m-font">{{nodeDataFull.user?.CLASSIF_NAME}}</p>
                    <!-- p class="field-value m-font"><a [routerLink]="'/spravochniki/user/'+nodeDataFull.user?.ISN_LCLASSIF + '/view'">{{nodeDataFull.user?.CLASSIF_NAME}}</a></p -->
                </div>
            </div>
        </div>
        <div *ngIf="nodeDataFull && nodeDataFull.rec && !nodeDataFull.rec['IS_NODE']"
            class="content-block">
            <div class="short-info long-title">
                <ng-container *ngIf="nodeDataFull.rec['FULLNAME'];then fullName else shortName"></ng-container>
                <ng-template #fullName>
                    <span class="l-font">{{nodeDataFull.rec['FULLNAME']}}</span>
                </ng-template>
                <ng-template #shortName>
                    <span class="l-font">{{nodeDataFull.rec['CLASSIF_NAME']}}</span>
                </ng-template>
            </div>
            <div class="full-info usual-border">
                <div class="field">
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['CARD_NAME']?.title}}</p>
                    <p class="field-value m-font">{{nodeDataFull.rec['CARD_NAME']}}</p>
                </div>
                <div class="field">
                    <p class="field-title unimportant-text s-font">Фамилия И.О. начальника подразделения</p>
                    <p class="field-value m-font"><a *ngIf="boss"
                            [routerLink]="'/spravochniki/departments/' + boss.id + '/view'">{{boss.data.rec.CLASSIF_NAME}}</a></p>
                </div>
                <div class="field">
                    <p class="field-title unimportant-text s-font text-upper">Организация</p>
                    <p class="field-value m-font"><a *ngIf="nodeDataFull.organization?.DUE"
                            [routerLink]="'/spravochniki/organization/'+nodeDataFull.organization?.DUE + '/view'">{{nodeDataFull.organization?.CLASSIF_NAME}}</a></p>
                </div>
                <div class="field"
                    *ngIf="nodeDataFull['sev']">
                    <p class="field-title unimportant-text s-font">Индекс СЭВ</p>
                    <p class="field-value m-font">{{nodeDataFull['sev']['GLOBAL_ID']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
