<div class="eos-node-info">
    <div class="opened-node-actions pull-right usual-border">
        <button class="btn icon-btn left" (click)="actionHandler(actionNavigationUp.type)" tooltip="{{actionNavigationUp.hint}}"
            containerClass="tooltip-info">
            <span class="icon eos-icon eos-icon-arrow-v-blue-left small"></span>
        </button>
        <button class="btn icon-btn right" (click)="actionHandler(actionNavigationDown.type)" tooltip="{{actionNavigationDown.hint}}"
            containerClass="tooltip-info">
            <span class="icon eos-icon eos-icon-arrow-v-blue-right small"></span>
        </button>
        <button class="btn icon-btn edit" (click)="actionHandler(actionEdit.type)" tooltip="{{actionEdit.hint}}" containerClass="tooltip-info">
            <span class="icon {{actionEdit.iconClass}} small"></span>
        </button>
    </div>
    <div class="opened-node-wrapper">
        <div *ngIf="nodeDataShort" class="short-info l-font">
            <span *ngFor="let key of keys(fieldsDescriptionShort.rec)">
                {{nodeDataShort.rec[key]}}
            </span>
        </div>
        <div *ngIf="nodeDataFull" class="full-info usual-border">
            <div *ngFor="let key of keys(fieldsDescriptionFull.rec)" class="field">
                <span *ngIf="fieldsDescriptionFull.rec[key].type === fieldTypes.boolean;then checkboxField else textField"></span>
                <ng-template #checkboxField>
                    <label class="checkbox field-title unimportant-text s-font"><input type="checkbox" value="{{nodeDataFull.rec[key]}}" disabled>
                        <span></span>
                        {{fieldsDescriptionFull.rec[key].title}}</label>
                </ng-template>
                <ng-template #textField>
                    <span class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec[key].title}}</span>
                    <br>
                    <span class="field-value m-font">{{nodeDataFull.rec[key]}}</span>
                </ng-template>
            </div>

            <div *ngIf="nodeDataFull['sev']" class="field">
                <span class="field-title unimportant-text s-font">Индекс СЭВ</span>
                <br>
                <span class="field-value m-font">{{nodeDataFull['sev']['GLOBAL_ID']}}</span>
            </div>
        </div>
    </div>
</div>
