<div class="eos-node-info">
    <div class="opened-node-wrapper">
        <div class="content-block">
            <div *ngIf="nodeDataShort"
                class="short-info l-font">
                <span *ngFor="let key of keys(fieldsDescriptionShort.rec)">{{nodeDataShort.rec[key]}}</span>
            </div>
            <div *ngIf="nodeDataFull"
                class="full-info usual-border">
                <div *ngFor="let key of keys(fieldsDescriptionFull.rec)"
                    class="field">
                    <ng-container *ngIf="fieldsDescriptionFull.rec[key].type === fieldTypes.boolean;then checkboxField else textField"></ng-container>
                    <ng-template #checkboxField>
                        <label class="checkbox field-title unimportant-text s-font"><input type="checkbox"
                            [(ngModel)]="nodeDataFull.rec[key]"
                            disabled><span></span>{{fieldsDescriptionFull.rec[key].title}}</label>
                    </ng-template>
                    <ng-template #textField>
                        <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec[key].title}}</p>
                        <p class="field-value m-font">{{nodeDataFull.rec[key]}}</p>
                    </ng-template>
                </div>
                <div *ngIf="nodeDataFull['sev']"
                    class="field">
                    <p class="field-title unimportant-text s-font">Индекс СЭВ</p>
                    <p class="field-value m-font">{{nodeDataFull['sev']['GLOBAL_ID']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
