<ng-container *ngIf="node">
    <ng-container [ngSwitch]="node.dictionaryId">
        <eos-department-node-info *ngSwitchCase="'departments'"
            [node]="node"></eos-department-node-info>
        <eos-cabinet-node-info *ngSwitchCase="'cabinet'"
            [node]="node"></eos-cabinet-node-info>
        <eos-security-node-info *ngSwitchCase="'security'"
            [node]="node"></eos-security-node-info>
        <eos-node-info *ngSwitchDefault
            [node]="node"></eos-node-info>
    </ng-container>
</ng-container>
