.has-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eos-node-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    .opened-node-wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        .content-block {
            padding: 20px;
        }
    }
    .head-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .current-image {
            flex: 0 0 $photo-radius;
            min-height: $photo-radius;
            min-width: $photo-radius;
            height: $photo-radius;
            width: $photo-radius;
            display: inline-block;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 $grid-gutter-width / 2 0 0;
        }
        .info {
            flex: 0 1 239px;
            max-height: $photo-radius;
            max-width: calc(100% - 100px);
            span {
                max-width: 100%;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            }
    }
    .short-info {
        display: block;
        margin-bottom: 20px;
        height: 52px;
    }
    .full-info {
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 0;
    }
    .field-title {
        text-transform: uppercase;
        font-weight: normal;
        margin: 0 0 8px;
        line-height: 10px;
    }
    .field-value {
        /* display: inline-block; */
        white-space: pre-wrap;
        word-break: break-all;
        max-width: 100%;
        padding: 6px 0;
    }
    .field {
        margin: 0;
        margin-top: 20px;
        color: $black;
    }
    .no-data {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .flex-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .boss-icon {
        margin-right: 12px;
    }
    ul,
    .ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: unset;
        li,
        .li {
            padding: 0;
        }
    }
}
