<div class="eos-node-info">
    <div class="opened-node-wrapper">
        <div class="content-block">
            <div class="short-info l-font">
                <span>{{nodeDataShort.rec['GRIF_NAME']}}</span>
            </div>
            <div class="full-info usual-border">
                <div class="field">
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['SEC_INDEX'].title}}</p>
                    <p class="field-value m-font">{{nodeDataFull.rec['SEC_INDEX']}}</p>
                </div>
                <div class="field">
                    <p class="field-title unimportant-text s-font">Требуется</p>
                    <label class="checkbox field-title unimportant-text s-font"><input type="checkbox"
                        [ngModel]="nodeDataFull.rec['EDS_FLAG']"
                        disabled><span></span>{{fieldsDescriptionFull.rec['EDS_FLAG'].title}}</label>
                    <label class="checkbox field-title unimportant-text s-font"><input type="checkbox"
                            [ngModel]="nodeDataFull.rec['ENCRYPT_FLAG']"
                            disabled><span></span>{{fieldsDescriptionFull.rec['ENCRYPT_FLAG'].title}}</label>
                </div>
                <div class="field">
                    <p class="field-title unimportant-text s-font">{{fieldsDescriptionFull.rec['NOTE'].title}}</p>
                    <p class="field-value m-font">{{nodeDataFull.rec['NOTE']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
