<div *ngIf="_show" class="pushpin btn-group" dropdown placement="bottom right" container="body" [style.right]="infoOpened ? openStyle : closeStyle">
    <a dropdownToggle type="button" class="dropdown-toggle">
        <span class="eos-icon eos-icon-pin-blue small" tooltip="Прикрепить" placement="left" containerClass="tooltip-info"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="desk" *ngFor="let desk of deskList" (click)="pin(desk)"><a>{{desk.name}}</a></li>
    </ul>
</div>
