.pin {
    display: inline-block;
    .pushdrop {
        min-width: 280px !important;
    }
    .pushpin:focus {
        border: none;
    }
    .eos-icon-pin-blue {
        cursor: pointer;
    }
}
/*
.dropdown-menu {
    width: 280px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding: 0;
    margin: 0;
    .menuitem {
        padding-left: 20px;
        cursor: pointer;
        height: $item-height;
        line-height: $item-height;
        a {
            padding: 0px;
            line-height: 48px;
            text-decoration: none;
        }
        a:hover {
            background: transparent;
        }

        .form-control {
            height: 32px;
            margin-top: 8px;
        }
    }
    .menuitem:hover .check {
        display: none;
    }

    .menuitem:hover .act-ico {
        display: block;
    }

    .divider {
        margin: 0;
    }
    li {
        border: 1px solid #e6e6e6;
        border-bottom: transparent;
        cursor: pointer;
        .spinner-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: #fff;
            opacity: 0.6;
            z-index: 1050;
        }
        .spinner-holder {
            position: absolute;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 2em;
            margin: auto;
            text-align: center;
        }
    }
}*/
