.column-settings-modal {
    width: 800px;
    .modal-header {
        padding: 0 20px;
        .pull-right {
            font-size: 0;
        }
    }

    .btn {
        text-transform: uppercase;
        margin: 8px 0;
        padding: 9px 6.5px;
        &.btn-primary-light {
            margin-top: 0;
        }
    }
    .fixed-width {
        width: 88px;
    }

    .have-margin {
        margin: 8px 10px;
    }


    .btn:disabled {
        border: 1px $disabled-color-main-theme solid !important;
        color: $disabled-color-main-theme !important;
    }

    .title {
        display: inline-block;
        margin-bottom: 8px;
    }

    .info-block {
        border-width: 1px;
        border-style: solid;
        height: 472px;
        overflow: auto;

        &.right {
            display: flex;
            flex-direction: column;
        }

        .current {
            height: 100%;
        }

        .item {
            height: 32px;
            padding: 8px;
            cursor: move;
            position: relative;

            .fa {
                vertical-align: text-top;
            }

            .edit-btn,
            .ok-btn,
            .cancel-btn {
                padding: 14px;
                position: absolute;
                right: 1px;
                top: 1px;
            }

            .ok-btn {
                right: 32px;
            }

            .new-title,
            .text {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
                padding-right: 64px;
            }
            .new-title {
                background-color: $light-grey-1;
            }

            .new-title {
                border: 1px $active-field-color-main-theme solid;
            }

            .new-title::-ms-clear {
                display: none;
            }

            .text {
                padding: 6px 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
            }

            &.gu-transit {
                display: block;
                width: 100%;
                background-color: $highlight-color-main-theme;
            }
        }
    }

    .col {
        width: 405px;

        .clear-btn {
            margin-top: 20px;
            width: inherit;
        }
    }

    .driver-col {
        width: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            display: flex;
            height: auto;
        }
    }

    .modal-body {
        padding: 20px;
    }

    .modal-body-container {
        display: flex;
    }
}


.warning {
    &.modal-header {
        padding: 11px;
    }
    &.modal-footer {
        padding: 9.5px 20px;
        .btn {
            line-height: 0;
            padding: 15px 20px;
            text-transform: uppercase;
        }
    }
}
