<div [formGroup]="form"
    [ngSwitch]="input.controlType">
    <ng-container *ngSwitchCase="'string'">
        <label [hidden]="input.hideLabel"
            class="primary-text"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <input class="form-control m-font"
            [formControlName]="input.key"
            [id]="input.key"
            type="text"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            [placeholder]="input.label"
            [tooltip]="input.invalidMessage"
            [placement]="tooltip.placement"
            [containerClass]="tooltip.class"
            [container]="tooltip.container"
            [isDisabled]="readonly"
            [isOpen]="!focused && isDirty && !isValid"
            (focus)="onFocus()"
            (blur)="onBlur()"
            triggers=""
            autocomplete="off">
    </ng-container>
    <ng-container *ngSwitchCase="'text'">
        <label class="primary-text"
            [hidden]="input.hideLabel"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <textarea class="form-control m-font"
            [formControlName]="input.key"
            [id]="input.key"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            [ngStyle]="{'height.px': input.height}"
            [placeholder]="input.label"
            [tooltip]="input.invalidMessage"
            [placement]="tooltip.placement"
            [containerClass]="tooltip.class"
            [container]="tooltip.container"
            [isDisabled]="readonly"
            [isOpen]="!focused && isDirty && !isValid"
            (focus)="onFocus()"
            (blur)="onBlur()"
            triggers=""></textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
        <label class="primary-text"
            [hidden]="input.hideLabel"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <select class="form-control m-font eos-select"
            [ngClass]="{readonly: readonly}"
            [id]="input.key"
            [formControlName]="input.key">
            <option disabled="disabled" selected="selected" class="hidden">{{input.label}}</option>
            <option *ngFor="let opt of input.options" [value]="opt.value">{{opt.title}}</option>
        </select>
    </ng-container>
    <ng-container *ngSwitchCase="'checkbox'">
        <label class="primary-text checkbox">
            <input type="checkbox"
                [formControlName]="input.key"
                [id]="input.key"
                [readonly]="readonly"
                [ngClass]="{'readonly': readonly}">
            <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>{{input.label}}
        </label>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
        <label class="primary-text"
            [hidden]="input.hideLabel"
            [attr.for]="input.key">{{input.label}}</label>
        <div class="eos-datepicker">
            <input type="text"
                [id]="input.key"
                [formControlName]="input.key"
                class="form-control"
                [ngClass]="{readonly: readonly}"
                [readonly]="readonly"
                [placeholder]="input.label"
                [tooltip]="input.invalidMessage"
                [placement]="tooltip.placement"
                [containerClass]="tooltip.class"
                [container]="tooltip.container"
                triggers=""
                [isDisabled]="readonly"
                [isOpen]="!focused && isDirty && !isValid"
                (focus)="onFocus()"
                (blur)="onBlur()"
                maxlength="10">
            <span #dpw><a *ngIf="!readonly"
                bsDatepicker
                #dp="bsDatepicker"
                [bsConfig]="bsConfig"
                [bsValue]="bsDate"
                (bsValueChange)="dpChanged($event)"
                [minDate]="bsConfig.minDate"
                [maxDate]="bsConfig.maxDate"
                [isDisabled]="readonly"
                ><span class="eos-icon eos-icon-calendar-blue small"></span></a>
            </span>
        </div>
    </ng-container>
</div>
