    .eos-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../assets/icons/Arrow-V-Blue-Bottom.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 24px;
        &[disabled],
        &.readonly {
            cursor: default;
            background-image: none;
            background-color: inherit;
            box-shadow: none;
            border: 0 none transparent;
        }
        &.select-placeholder {
            color: rgba(0, 0, 0, 0.5);
            option {
                color: black;
            }
        }
    }
.form-group {
    font-size: 0;
    label {
        font-size: 12px;
        color: $label-color;
    }
}
