.eos-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../assets/icons/Arrow-V-Blue-Bottom.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 24px;
    &[disabled],
    &.readonly {
        cursor: default;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        background-image: none;
    }
    &.select-placeholder {
        color: rgba(0, 0, 0, 0.5);
        option {
            color: black;
        }
    }
}
