<div [formGroup]="form">
    <label [hidden]="input.hideLabel"
        [attr.for]="input.key">{{input.label}}</label>

    <p class="form-control-static m-font"
        [ngClass]="{'placeholder': !hasValue()}"
        *ngIf="readonly">{{currentValue}}</p>
    <div class="eos-datepicker"
        *ngIf="!readonly">
        <input type="text"
            eosDateMask
            [id]="input.key"
            [formControlName]="input.key"
            class="form-control"
            [ngClass]="{readonly: readonly}"
            [readonly]="readonly"
            [placeholder]="input.label"
            (focus)="onFocus()"
            (blur)="onBlur()"
            maxlength="10">
        <span #dpw><a bsDatepicker
            #dp="bsDatepicker"
            [placement]="placement"
            [bsConfig]="bsConfig"
            [bsValue]="bsDate"
            (bsValueChange)="dpChanged($event)"
            [minDate]="bsConfig.minDate"
            [maxDate]="bsConfig.maxDate"
            [isDisabled]="readonly"><span class="eos-icon eos-icon-calendar-blue small"></span></a>
        </span>
    </div>
</div>
