<div [formGroup]="form"
    [tooltip]="tooltipMessage"
    [placement]="tooltipCfg.placement"
    [containerClass]="tooltipCfg.class"
    [container]="tooltipCfg.container"
    [isDisabled]="readonly"
    [isOpen]="!focused && isDirty && !isValid"
    triggers="">
    <label [hidden]="input.hideLabel"
        [attr.for]="input.key"
        [ngClass]="{'required': input.required}">{{input.label}}</label>
    <p *ngIf="readonly"
        class="form-control-static m-font"
        [ngClass]="{'placeholder': !hasValue()}">{{currentValue()}}</p>
    <select *ngIf="!readonly"
        class="form-control m-font eos-select"
        [ngClass]="{readonly: readonly, 'placeholder': !hasValue()}"
        [id]="input.key"
        [formControlName]="input.key"
        (focus)="onFocus()"
        (blur)="onBlur()">
        <option disabled="disabled" [selected]="!hasValue()" class="hidden">{{input.label}}</option>
        <option *ngFor="let opt of input.options" [value]="opt.value">{{opt.title}}</option>
    </select>
</div>
