<div class="form-group"
    *ngIf="form && input && form.controls[input.key]"
    [tooltip]="tooltip.message"
    [placement]="tooltip.placement"
    [containerClass]="tooltip.class"
    [container]="tooltip.container"
    [isOpen]="tooltip.visible"
    triggers="">
    <ng-container [ngSwitch]="input.controlType">
        <eos-dynamic-input-string *ngSwitchCase="types.string"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-string>
        <eos-dynamic-input-text *ngSwitchCase="types.text"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-text>
        <eos-dynamic-input-select *ngSwitchCase="types.select"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-select>
        <eos-dynamic-input-checkbox *ngSwitchCase="types.boolean"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-checkbox>
        <eos-dynamic-input-date *ngSwitchCase="types.date"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-date>
        <eos-dynamic-input-buttons *ngSwitchCase="types.buttons"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-buttons>
    </ng-container>
</div>
