<div [formGroup]="form"
    [tooltip]="tooltipMessage"
    [placement]="tooltipCfg.placement"
    [containerClass]="tooltipCfg.class"
    [container]="tooltipCfg.container"
    [isDisabled]="readonly"
    [isOpen]="!focused && isDirty && !isValid"
    triggers="">
    <label [hidden]="input.hideLabel"
        [attr.for]="input.key">{{input.label}}</label>
    <p *ngIf="readonly"
        class="form-control-static m-font"
        [ngClass]="{'placeholder': !hasValue()}">{{currentValue()}}</p>
    <div class="eos-switch btn-group"
        *ngIf="!readonly">
        <a *ngFor="let opt of buttons"
            class="btn btn-primary switch-item text-uppercase"
            [ngClass]="{'btn-primary-full':control?.value === opt.value}"
            (click)="switchTo(opt)">{{opt.title}}</a>
    </div>
</div>
