<div class="btn-group eos-notice" dropdown tooltip="Уведомления" placement="left" containerClass="tooltip-info">
  <button dropdownToggle type="button" class="btn dropdown-button dropdown-toggle">
    <span *ngIf="noticesCount" class="eos-icon eos-icon-bell-blue"><span class="badge">{{noticesCount}}</span></span>
    <span *ngIf="!noticesCount" class="eos-icon eos-icon-bell-grey"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let notice of notices" class="menuitem" role="menuitem"><a class="dropdown-item">{{notice}}</a></li>
  </ul>
</div>
