<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <section name="services" type="Eos.Desktop.Services.ServicesSection, Eos.Desktop.Services" />
    <section name="CustomAppSettings" type="Eos.Delo.Common.ConfigSectionHandler, Eos.Delo.Common" />
  </configSections>
  <connectionStrings>
    <add name="DeloPG" providerName="Npgsql" connectionString="Server=192.168.0.4;Database=x164_db;User ID=X164;Password=x164;" />
    <add name="Delo" providerName="System.Data.SqlClient" connectionString="Data Source=VS-AUTOCATCH\SQL2016;Persist Security Info=True;User ID=eos_web_user;Password=web_user;Pooling=True;Connect Timeout=30" />
  </connectionStrings>
  <CustomAppSettings type="Eos.Delo.Common.Config.PersonalAppSettings, Eos.Delo.Common">
    <CommonAppSettings>
      <add key="DefaultAlias" value="Default" />
      <add key="Default.Owner" value="eos" />
      <add key="Default.ConnectionStringName" value="Delo" />
      <add key="Default.CommandsTag" value="default" />
      <add key="Default.HexLogId" value="true" />
      <add key="Default.UpperCasePassword" value="false" />
      <add key="Default.WorkConnectionType" value="APP" />
      <add key="Default.SearchDictionaryTag" value="default" />
      <add key="Postgre.Owner" value="X164" />
      <add key="Postgre.ConnectionStringName" value="DeloPG" />
      <add key="Postgre.CommandsTag" value="defsimple" />
      <add key="Postgre.HexLogId" value="true" />
      <add key="Postgre.UpperCasePassword" value="false" />
      <add key="Postgre.WorkConnectionType" value="APP" />
      <add key="Postgre.SearchDictionaryTag" value="default" />
      <add key="Postgre.SimpleDB" value="true" />
      <add key="FacadeSpecificTypeName" value="Eos.Delo96.Api.FacadeSpecific, WebSite" />
      <add key="LoginOverHTTPS" value="false" />
    </CommonAppSettings>
  </CustomAppSettings>
  <appSettings>
    <add key="SiteID" value="eos.VS-AUTOCATCH.MSS" />
    <add key="DestDirectory" value="Download" />
    <add key="LongPingGetTicket" value="True" />
    <add key="LongPingSeconds" value="120" />
    <add key="RemoveTicketsTimer" value="30" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="ContextWiseTraceListener" type="Eos.Delo.Diagnostics.ContextWiseTraceListener, Eos.Delo.Diagnostics" initializeData="{0}\App_data\user_{1}_page_{2}.log">
        <filter type="Eos.Delo.Diagnostics.ContextWiseFilter, Eos.Delo.Diagnostics" />
      </add>
      <add name="DiscardableTraceListener" type="Eos.Delo.Diagnostics.DiscardableTraceListener, Eos.Delo.Diagnostics">
        <filter type="Eos.Delo.Diagnostics.DiscardableTraceFilter, Eos.Delo.Diagnostics" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="ContextWiseTraceListener" />
        <add name="DiscardableTraceListener" />
      </listeners>
    </trace>
    <sources>
      <source name="Eos.Delo.DB" switchType="Eos.Delo.Diagnostics.ContextWiseSwitch, Eos.Delo.Diagnostics">
        <listeners>
          <remove name="Default" />
          <add name="ContextWiseTraceListener" />
          <add name="DiscardableTraceListener" />
        </listeners>
      </source>
      <source name="Eos.Delo.App" switchType="Eos.Delo.Diagnostics.ContextWiseSwitch, Eos.Delo.Diagnostics">
        <listeners>
          <remove name="Default" />
          <add name="ContextWiseTraceListener" />
          <add name="DiscardableTraceListener" />
        </listeners>
      </source>
      <source name="Eos.Delo.Logic" switchType="Eos.Delo.Diagnostics.ContextWiseSwitch, Eos.Delo.Diagnostics">
        <listeners>
          <remove name="Default" />
          <add name="ContextWiseTraceListener" />
          <add name="DiscardableTraceListener" />
        </listeners>
      </source>
      <source name="Eos.Delo.UI" switchType="Eos.Delo.Diagnostics.ContextWiseSwitch, Eos.Delo.Diagnostics">
        <listeners>
          <remove name="Default" />
          <add name="ContextWiseTraceListener" />
          <add name="DiscardableTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <httpProtocol>
       <customHeaders>
         <!-- add name="Access-Control-Allow-Origin" value="*" / -->
         <add name="Access-Control-Allow-Origin" value="http://localhost:8081" />
         <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
         <add name="Access-Control-Allow-Credentials" value="true" />
         <add name="Access-Control-Allow-Headers" value="X-Requested-With, origin, content-type, accept, token, maxdataserviceversion" />
       </customHeaders>
    </httpProtocol>
    <modules>
      <add name="ReadOnlySessionStateModule" type="WebSite.Code.ReadOnlySessionStateModule" />
      <add name="RegistrationModule" type="Eos.Delo.Wapi.RegistrationModule" />
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
        <rewrite>
            <rules>
                <rule name="eosProxy" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="angular?/(.*)" />
                    <action type="Rewrite" url="http://192.168.1.25:8081/{R:1}" />
                </rule>
                <rule name="Odata-custom-resp" stopProcessing="true">
                    <match url="OData.svc/.*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" statusReason="Options ok" statusDescription="Options ok" />
                </rule>
            </rules>
            <outboundRules>
                <remove name="Update Cookie Path" />
				<rule name="Update Cookie Path" enabled="true">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern="^(.*; path=/)eos(.*)" />
                    <conditions />
                    <action type="Rewrite" value="{R:1}{R:2}" />
                </rule>
                <rule name="modify options" preCondition="ONLY OPTIONS" patternSyntax="ECMAScript">
                    <match serverVariable="RESPONSE_STATUS" pattern="(.*)" />
                    <action type="Rewrite" value="200" />
                </rule>
                <preConditions>
                    <preCondition name="ONLY OPTIONS">
                        <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
    <trace enabled="false" writeToDiagnosticsTrace="true" mostRecent="true" />
    <sessionState timeout="20" sessionIDManagerType="WebSite.Code.AliasedSessionIDManager, WebSite" cookieName="EosDelo_SessionID" />
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <!--<authentication mode="Forms">
			<forms loginUrl="UI/login.aspx" defaultUrl="Default.aspx"/>
		</authentication>-->
    <authentication mode="Windows">
      <forms loginUrl="login.aspx" defaultUrl="main.aspx" />
    </authentication>
    <authorization>
      <!--deny users="?"/-->
    </authorization>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        -->
	<customErrors mode="Off" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="eos" namespace="Eos.Delo.WebControls" assembly="Eos.Delo.WebControls" />
        <add tagPrefix="crit" namespace="Eos.Delo.WebControls.Search" assembly="Eos.Delo.WebControls" />
        <add tagPrefix="crit" namespace="Eos.Delo.WebControls.Search" assembly="WebSite" />
        <add tagPrefix="eos" namespace="Eos.Delo.WebControls" assembly="Eos.Delo.Common" />
        <add tagPrefix="eos" namespace="Eos.Delo.WebControls" assembly="Eos.Delo.Wapi" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <location path="Pages/Project/UploadFile.aspx">
    <system.web>
      <httpRuntime maxRequestLength="500000" executionTimeout="300" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="512000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="UploadTempFile.aspx">
    <system.web>
      <httpRuntime maxRequestLength="500000" executionTimeout="300" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="512000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="Services">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
  </location>
  <location path="tracecfg.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <allow roles="Администраторы" />
        <deny users="*" />
      </authorization>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="traceview.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="RC/add_zip.aspx">
    <system.web>
      <httpRuntime executionTimeout="300" />
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="main.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".delox" mimeType="application/vnd.eos.delox" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="3" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileTransfer">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" />
        </behavior>
        <behavior name="FileTransferSSL">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bindingFileService" allowCookies="true" maxReceivedMessageSize="1000000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="bindingFileServiceNAuth" allowCookies="true" maxReceivedMessageSize="1000000000">
          <security mode="None" />
        </binding>
        <binding name="bindingFileServiceSSL" allowCookies="true" maxReceivedMessageSize="1000000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" maxBufferSize="104857600" transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="FileTransfer" name="Eos.Desktop.CommonInterfaces.FileService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="bindingFileService" name="FileTransfer" contract="Eos.Desktop.CommonInterfaces.IFileService" />
        <endpoint address="mex" binding="basicHttpBinding" name="mex" bindingConfiguration="bindingFileService" contract="Eos.Desktop.CommonInterfaces.IFileService" />
      </service>
      <service behaviorConfiguration="FileTransfer" name="Eos.Desktop.CommonInterfaces.FileServiceNAuth">
        <endpoint binding="basicHttpBinding" bindingConfiguration="bindingFileServiceNAuth" name="FileServiceNAuth" contract="Eos.Desktop.CommonInterfaces.IFileService" />
        <endpoint address="mex" binding="basicHttpBinding" name="mex" bindingConfiguration="bindingFileServiceNAuth" contract="Eos.Desktop.CommonInterfaces.IFileService" />
      </service>
      <service behaviorConfiguration="FileTransferSSL" name="Eos.Desktop.CommonInterfaces.FileServiceSSL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="bindingFileServiceSSL" name="FileTransferSSL" contract="Eos.Desktop.CommonInterfaces.IFileService" />
        <endpoint address="mex" binding="mexHttpsBinding" name="mex" contract="Eos.Desktop.CommonInterfaces.IFileService" />
      </service>
    </services>
  </system.serviceModel>
  <services>
    <tickets />
    <types>
      <add servicename="TicketLogic" typename="Eos.Desktop.TS.TicketLogic, Eos.Desktop.TS" singleton="true" />
      <add servicename="RealFileService" typename="Eos.Desktop.TS.StdFileService, Eos.Desktop.TS" singleton="true" />
      <add servicename="Scan" typename="Eos.Desktop.TestClasses.ScanTicketFactory, Eos.Desktop.TestClasses" />
      <add servicename="EditFile" typename="Eos.Delo.Desktop.EditFileTicketFactory, WebSite" />
      <add servicename="NullTicket" typename="Eos.Desktop.TestClasses.NullTicketFactory, Eos.Desktop.TestClasses" />
      <add servicename="FineReader" typename="Eos.Delo.Desktop.FineReaderTicketFactory, WebSite" />
      <add servicename="BrowseFile" typename="Eos.Delo.Desktop.BrowseFileTicketFactory, WebSite" />
      <add servicename="TicketMan" typename="Eos.Desktop.TS.TicketManImpl, Eos.Desktop.TS" singleton="true" />
      <add servicename="TicketStorage" typename="Eos.Desktop.TS.TicketStorage, Eos.Desktop.TS" singleton="true" />
      <add servicename="FileStreamWriter" typename="Eos.Delo.Desktop.FileStreamsWriter, WebSite" singleton="true" />
      <add servicename="SiteParameters" typename="Eos.Desktop.TS.StdSiteParameters, Eos.Desktop.TS" />
      <add servicename="LocalizationService" typename="Eos.Desktop.TS.JSCodeLocalizationMgr, Eos.Desktop.TS" singleton="true" />
      <add servicename="JsCodeLocalizationStrings" typename="Eos.Desktop.TS.DefLocalizationStrings, Eos.Desktop.TS" />
      <add servicename="WordFile" typename="Eos.Delo.Desktop.WordEditFileTicketFactory, WebSite" />
    </types>
  </services>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
