span {
    &.tt-wrapper {
        &,
        span {
            margin: 0;
            outline: none;
        }
        .info-icon {
            position: relative;
            top: 3px;
        }
    }
}
