<div class="main-container main-theme" [ngClass]="{'hide': !firstLoadAuth, 'login-fon': !isAuthorized}">
    <eos-header *ngIf="isAuthorized"></eos-header>
    <div class="content-wrapper">
        <div class="content-outlet">
            <router-outlet></router-outlet>
        </div>
        <div class="messages-wrapper">
            <eos-messages></eos-messages>
        </div>
        <div class="navbar-fixed-bottom row-fluid selected-text text-center" *ngIf="version">
            <span>ДЕЛО. Сборка: {{version}}. Все права защищены. ЭОС</span>
        </div>
    </div>
</div>

<div id="loadblock" *ngIf="!firstLoadAuth">
    <div id="loading">
        <i class="fa fa-spinner fa-pulse fa-fw selected-text lg bl"></i>
    </div>
</div>
