<div class="main-container main-theme" [ngClass]="{'hide': !firstLoadAuth}">
    <!-- DON'T USE class="container" with display: grid -->
    <div class="header-wrapper usual-border">
        <div class="menu">
            <div class="eos-title primary-text"><eos-title></eos-title></div>
            <ul class="header-content left">
                <li class="header-item primary-text" *ngIf="isAuthorized">
                    <eos-desktop-switcher></eos-desktop-switcher>
                </li>
                <ng-container *ngIf="isAuthorized">
                    <li *ngFor="let item of modules" class="header-item primary-text">
                        <a class="link-name primary-text xl-font" [routerLink]="item.url" routerLinkActive="active">
                            <span tooltip="{{item.title}}" placement="bottom" container="body" containerClass="tooltip-info">{{item.title}}</span>
                        </a>
                    </li>
                    <li class="header-item else-dropdown primary-text" dropdown>
                        <span class="link-name xl-font" dropdownToggle>Ещё
                            <eos-info info="Компонента отображения краткой справки по элементам интерфейса/справочника"></eos-info>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li *ngFor="let item of modulesDropdown" class="else-item xl-font">
                                <a [routerLink]="item.url" class="primary-text" routerLinkActive="active">
                                    <span tooltip="{{item.title}}" placement="bottom" container="body" containerClass="tooltip-info">{{item.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
            <ul class="header-content right pull-right">
                <!--li class="header-item primary-text" *ngIf="isAuthorized">
                    <button class="btn search-btn">
                        <span class="eos-icon eos-icon-search-blue"></span>
                    </button>
                </li-->
                <li class="header-item primary-text" *ngIf="isAuthorized">
                    <eos-notice></eos-notice>
                </li>
                <li class="header-item primary-text">
                    <eos-user></eos-user>
                </li>
            </ul>
        </div>
        <eos-breadcrumb [ngClass]="{'hide' : !breadcrumbView}"></eos-breadcrumb>
    </div>
    <div class="content-wrapper">
        <!-- *ngIf="isAuthorized" -->
        <div class="content-outlet">
            <router-outlet></router-outlet>
        </div>
        <div class="messages-wrapper">
            <eos-messages></eos-messages>
        </div>
        <div class="text-right text-info version-number" *ngIf="version">Build: {{version}}</div>
    </div>
</div>

<div id="loadblock" *ngIf="!firstLoadAuth">
    <div id="loading">
        <i class="fa fa-spinner fa-pulse fa-fw selected-text lg bl"></i>
    </div>
</div>
