.node-list-item {
    overflow: hidden;
    display: flex;
    height: $item-height;
    .checkbox-inline {
        &.fixedColumn {
            position: fixed;
            background-color: $white;
        }
    }
}
