.node-list-item {
    overflow: hidden;
    display: flex;
    height: 32px;
    .node-row {
        cursor: pointer;
        width: calc(100% - 48px); // checkbox
        display: inline-flex;
    }
    .node-marker {
        width: $item-width;
        text-align: center;
        .checkbox,
        .checkbox-inline {
            line-height: 32px;
            input[type="checkbox"]+span {
                margin: 0;
            }
        }
    }
    eos-node-field+eos-node-field {
        margin-left: $grid-gutter-width /2;
    }
}
