<ng-template #markTemp>Снять<br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить<br>элемент</ng-template>
<div #item
    class="eos-node-list-item secondary-text"
    [ngClass]="{'highlighted': node.isSelected, 'flat-child': node.isActive}">
    <div [ngClass]="{'deleted': node.isDeleted}"
        class="node-list-item">
        <div *ngIf="params?.markItems"
            class="checkbox-inline"
            [style.marginTop.px]="length.dualTable ? length.fixedMargTop : null"
            [ngClass]="{'fixedColumn' : length.dualTable, 'highlighted': node.isSelected}">
            <label [tooltip]="node.marked ? markTemp : notMarkTemp"
                containerClass="tooltip-info"
                container="body"
                placement="bottom"><input type="checkbox"[ngModel]="node.marked" (ngModelChange)="markNode($event)"><span></span></label>
        </div>
        <div class="node-info"
            (click)="selectNode($event)"
            (dblclick)="viewNode($event)">
            <eos-node-field *ngFor="let field of viewFields; let i = index"
                [field]="field"
                [node]="node"
                [width]="length[field.key]"
                [dualTable] = "length.dualTable"
                [index]="i"
                [custom]="false"
                [margin] = "i * length[field.key] + 48"
                [marginTop]="length.fixedMargTop"
                [selected]= "node.isSelected"
                (fieldHover)="onFieldHover($event)"
                (view)="viewNode($event, true)"></eos-node-field>
            <eos-node-field *ngFor="let field of custom; let i = index"
                [field]="field"
                [node]="node"
                [custom]="true"
                [dualTable] = "length.dualTable"
                [margin]="length.lockFieldsSpace + 80"
                [index]="i"
                [width]="length[field.key]"
                (fieldHover)="onFieldHover($event)"
                (view)="viewNode($event, true)"></eos-node-field>
        </div>
        <!--eos-spinner [ngClass]="{'transparent': !node.updating}" class="spinner" size="sm"></eos-spinner-->
    </div>
</div>
