<ng-template #markTemp>Снять<br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить<br>элемент</ng-template>
<div #item
    class="eos-node-list-item secondary-text"
    [ngClass]="{'highlighted': node.isSelected, 'flat-child': node.isActive}">
    <div [ngClass]="{'deleted': node.isDeleted}"
        class="node-list-item">
        <span *ngIf="params?.markItems"
            class="checkbox-inline">
            <label [tooltip]="node.marked ? markTemp : notMarkTemp"
                containerClass="tooltip-info" container="body" placement="bottom">
                <input type="checkbox"[ngModel]="node.marked" (ngModelChange)="markNode($event)"><span></span>
        </label>
        </span>
        <span class="node-info" (click)="selectNode($event)" (dblclick)="openAsFolder($event)">
            <!--COMMON MODE LINE-->
            <div *ngIf="!length.tableModeDuble">
                <span *ngFor="let field of viewFields; let i = index" #el (mouseover)="showHint(el)" id="{{field.foreignKey}}" class="code"
                    [ngStyle]="{'width.px': length.length[field.key]}"
                    [ngClass]="{'have-no-pading': node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME')}">
                    <div class="table-field-ico" *ngIf="node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME')">
                        <span *ngIf="!node.isDeleted" (click)="viewNode()" class="folder small eos-icon eos-icon-folder-blue"></span>
                        <span *ngIf="node.isDeleted" class="folder small eos-icon eos-icon-folder-grey"></span>
                    </div>
                    <span>{{field.value}}</span>
                </span>
                <span *ngFor="let field of customFields; let i = index" #el (mouseover)="showHint(el)"
                    id="{{field.foreignKey}}" class="code" [ngStyle]="{'width.px': length.length[field.key]}">
                    <span *ngIf="customValues">{{customValues[field.key]}}</span>
                </span>
            </div>
            <!--SCROLING MODE LINE-->
            <div *ngIf="length.tableModeDuble" class="scroll-mode-wrapper">
                <div class="fixed-block">
                    <span *ngFor="let field of viewFields; let i = index" #el (mouseover)="showHint(el)" id="{{field.foreignKey}}" class="code"
                        [ngStyle]="{'width.px': length.length[field.key]}"
                        [ngClass]="{'have-no-pading': node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME')}">
                        <div class="table-field-ico" *ngIf="node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME')">
                            <span *ngIf="!node.isDeleted" (click)="viewNode()" class="folder small eos-icon eos-icon-folder-blue"></span>
                            <span *ngIf="node.isDeleted" class="folder small eos-icon eos-icon-folder-grey"></span>
                        </div>
                        <span>{{field.value}}</span>
                    </span>
                </div>
                <div class="srolling-block" [scrollLeft]="length.left_sc">
                    <div class="move">
                        <span *ngFor="let field of customFields; let i = index" #el (mouseover)="showHint(el)"
                            id="{{field.foreignKey}}" class="code" [ngStyle]="{'width.px': length.length[field.key]}">
                            <span *ngIf="customValues">{{customValues[field.key]}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--END-->
        </span>
        <!--eos-spinner [ngClass]="{'transparent': !node.updating}" class="spinner" size="sm"></eos-spinner-->
    </div>
    <!--eos-spinner [ngClass]="{'transparent': !node.updating}" class="spinner" size="sm"></eos-spinner-->
</div>
