<div class="eos-breadcrumb block">
    <eos-sandwich class="left-sandwich"
        [isLeft]="true"></eos-sandwich>
    <ol class="breadcrumb">
        <li *ngFor="let route of breadcrumbs; let isLast = last; let i = index;">
            <a class="breadcrumb-item link primary-text l-font"
                [routerLink]="[route.url]"
                tooltip="{{route.title}}"
                placement="bottom"
                container="body"
                containerClass="tooltip-info word-break"
                *ngIf="!isLast">{{route.title}}</a>
            <span class="breadcrumb-item selected-text l-font"
                tooltip="{{route.title}}"
                placement="bottom"
                container="body"
                containerClass="tooltip-info word-break"
                *ngIf="isLast"> {{route.title}}</span>
        </li>
    </ol>
    <span class="pull-right">
        <eos-pushpin [hidden]="!showPushpin" [infoOpened]="infoOpened"></eos-pushpin>
        <eos-sandwich class="right-sandwich" [isLeft]="false"></eos-sandwich>
    </span>
    <div class="opened-node-actions info-actions usual-border" [ngClass]="{'o-info' : infoOpened, 'c-info': !infoOpened}">
        <button class="btn icon-btn left"
            (click)="actionHandler(actionNavigationUp.type)"
            tooltip="{{actionNavigationUp.hint}}"
            containerClass="tooltip-info"
            placement="bottom">
                <span class="icon eos-icon eos-icon-arrow-v-blue-left small"></span>
            </button>
        <button class="btn icon-btn right"
            (click)="actionHandler(actionNavigationDown.type)"
            tooltip="{{actionNavigationDown.hint}}"
            containerClass="tooltip-info"
            placement="bottom">
                <span class="icon eos-icon eos-icon-arrow-v-blue-right small"></span>
            </button>
        <button class="btn icon-btn edit"
            (click)="actionHandler(actionEdit.type)"
            tooltip="{{actionEdit.hint}}"
            containerClass="tooltip-info"
            placement="bottom">
                <span class="icon {{actionEdit.iconClass}} small"></span>
        </button>
    </div>
</div>
