<span (click)="openModal(settingsWindow)"  tooltip="Настройки системы" placement="bottom" container="body">Настройки системы</span>

<template #settingsWindow>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Настройки</h4>

    </div>
    <div class="modal-body">
        <div *ngFor="let setting of settings" class="checkbox">
            <label><input type="checkbox" [(ngModel)]="setting.value"><span></span>{{setting.name}}</label>
        </div>
        <button class="btn btn-default" (click)="saveSettings()">Сохранить настройки</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Отмена</button>
    </div>
</template>