<div class="eos-departments-card-edit">
    <aside *ngIf="dictIdFromDescriptor !== 'departments'" class="edit-aside">
        <div class="btn-group vertical-buttons" role="group">
            <button type="button" class="btn btn-default">Что-то ещё</button>
            <button type="button" class="btn btn-default" (click)="editMode = false" [ngClass]="{'active': !editMode}">Просмотр</button>
            <button type="button" class="btn btn-default" (click)="editMode = true" [ngClass]="{'active': editMode}">Редактирование</button>
        </div>
    </aside>
    <div *ngIf="1 !== 1"> <!--TODO: replace with isPerson check -->
        <ul class="tabs">
            <li class="tab-item" *ngFor="let tab of fieldGroups; let i = index" role="presentation" [ngClass]="{'active': i === currTab}"
                (click)="setTab(i)">
                <span>{{tab.title}}</span>
            </li>
        </ul>
        <div class="wrapper" *ngIf="currTab === 0">
            <div class="col-1">
                <span class="subcol-3-wrapper">
                    <div class="input-group subcol-1">
                        <span class="input-group-addon" id="basic-addon1">Фамилия:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Фамилия" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastName']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['lastName']}}</p><!--TODO: add *ngIf="node.data['fieldName']" to every field-->
                    </div>
                    <div class="input-group subcol-2">
                        <span class="input-group-addon" id="basic-addon1">Имя:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Имя" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstName']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['firstName']}}</p>
                    </div>
                    <div class="input-group subcol-3">
                        <span class="input-group-addon" id="basic-addon1">Отчество:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Отчество" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersName']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['fathersName']}}</p>
                    </div>
                </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Фамилия И.О.:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Фамилия И.О." aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fio']">
                <p *ngIf="!editMode" class="form-control">{{node.data['fio']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Краткое наименование должности:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Краткое наименование должности" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['shortPosition']">
                <p *ngIf="!editMode" class="form-control">{{node.data['shortPosition']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Полное наименование должности:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Полное наименование должности" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fullPosition']">
                <p *ngIf="!editMode" class="form-control">{{node.data['fullPosition']}}</p>
            </div>
            <span class="subcol-3-wrapper">
                <div class="input-group subcol-1">
                    <span class="input-group-addon" id="basic-addon1">Пол:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Пол" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['gender']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['gender']}}</p>
                </div>
            </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Заместитель:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Заместитель" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['alternate']">
                <p *ngIf="!editMode" class="form-control">{{node.data['alternate']}}</p>
             </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Примичание:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Примичание" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['note']">
                <p *ngIf="!editMode" class="form-control">{{node.data['note']}}</p>
            </div>

                <span class="subcol-3-wrapper">
                    <div class="input-group subcol-1">
                        <span class="input-group-addon" id="basic-addon1">Дата начала действия:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="data" class="form-control" placeholder="Дата начала действия:" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['startDate']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['startDate']}}</p>
                    </div>
                    <div class="input-group subcol-2">
                        <span class="input-group-addon" id="basic-addon1">Дата окончания действия:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="data" class="form-control" placeholder="Дата окончания действия" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['endDate']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['endDate']}}</p>
                    </div>
                </span>
            </div>
            <div class="col-2">
            <span class="photo">Фотография {{node.data['photo']}}
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="image" [(ngModel)]="tmpObj['photo']">
                <p class="photo" *ngIf="!editMode" class="form-control">{{node.data['photo']}}</p>
            </span>
            <span class="checkbox">
                <label><input type="checkbox" (change)="setUnsavedChanges()" [disabled]="!editMode" [(ngModel)]="node.data['boss']">Начальник</label>
            </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Код:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Код" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['code']">
                <p *ngIf="!editMode" class="form-control">{{node.data['code']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Индекс ДЛ:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Индекс ДЛ" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['indexOfficial']">
                <p *ngIf="!editMode" class="form-control">{{node.data['indexOfficial']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Индекс СЭВ:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Индекс СЭВ" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['SEV']">
                <p *ngIf="!editMode" class="form-control">{{node.data['SEV']}}</p>
            </div>
        </div>
        </div>
        <div class="wrapper" *ngIf="currTab === 1">
            <div class="col-1">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Номер телефона:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Номер телефона" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['phone']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['phone']}}</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Номер местного телефона:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Номер местного телефона" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['localPhone']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['localPhone']}}</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">E-mail:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['email']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['email']}}</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Skype:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Skype" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['skype']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['skype']}}</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Факс:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Факс" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fax']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['fax']}}</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Кабинет:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Кабинет" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['room']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['room']}}</p>
                </div>
            </div>
        </div>

        <div class="wrapper" *ngIf="currTab === 2">
            <div class="col-1">
                <span class="block-title">Склонение должности:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Родительный падеж (кого, чего):</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Родительный падеж (кого, чего)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['shortPositionRP']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['shortPositionRP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Дательный падеж (кому, чему):</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Дательный падеж (кому, чему)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['shortPositionDP']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['shortPositionDP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Винительный падеж (кого, что):</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Родительный падеж (кого, что)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['shortPositionVP']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['shortPositionVP']}}</p>
                    </div>
                </span>
                
                <span class="block-title">Склонение фамилии, имени, отчества:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Фамилия И.О., дат. падеж:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Фамилия И.О., дат. падеж" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fioDP']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['fioDP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">И.О. Фамилия:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="И.О. Фамилия" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['iof']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['iof']}}</p>
                    </div>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1"></span>
                    <span class="subcol-2">Фамилия</span>
                    <span class="subcol-3">Имя</span>
                    <span class="subcol-4">Отчество</span>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Род. падеж (кого)</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-2" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastNameRP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-3" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstNameRP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-4" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersNameRP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{node.data['lastNameRP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{node.data['firstNameRP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{node.data['fathersNameRP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Дат. падеж (кому)</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-2" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastNameDP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-3" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstNameDP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-4" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersNameDP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{node.data['lastNameDP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{node.data['firstNameDP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{node.data['fathersNameDP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Вин. падеж (кого)</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-2" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastNameVP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-3" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstNameVP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-4" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersNameVP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{node.data['lastNameVP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{node.data['firstNameVP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{node.data['fathersNameVP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Твор. падеж (кем)</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-2" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastNameTP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-3" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstNameTP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-4" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersNameTP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{node.data['lastNameTP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{node.data['firstNameTP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{node.data['fathersNameTP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Пр. падеж (о ком)</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-2" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['lastNamePP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-3" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['firstNamePP']">
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control subcol-4" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fathersNamePP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{node.data['lastNamePP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{node.data['firstNamePP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{node.data['fathersNamePP']}}</p>
                </span>
                <span class="block-title">Данные для формирования поручений:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Должность:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Должность" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['shortPosition']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['shortPosition']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Подразделение:</span>
                        <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Подразделение" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['department']">
                        <p *ngIf="!editMode" class="form-control">{{node.data['department']}}</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="1 === 1" class="wrapper"><!--TODO: replace with isDepartment check -->
        <div class="col-1">
            <span class="subcol-3-wrapper">
                <div class="input-group subcol-1">
                    <span class="input-group-addon" id="basic-addon1">Код:</span>
                    <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Код" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['code']">
                    <p *ngIf="!editMode" class="form-control">{{node.data['code']}}</p>
                </div>
            </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Краткое наименование:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Краткое наименование" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['title']">
                <p *ngIf="!editMode" class="form-control">{{node.data['title']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Полное наименование:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Полное наименование" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['description']">
                <p *ngIf="!editMode" class="form-control">{{node.data['description']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Организация:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Организация" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['organization']">
                <p *ngIf="!editMode" class="form-control">{{node.data['organization']}}</p>
            </div>
            <span class="checkbox">
                <label><input type="checkbox" (change)="setUnsavedChanges()" [disabled]="!editMode" [(ngModel)]="node.data['file']">Картотека</label>
            </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Наименование картотеки:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Наименование картотеки" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['fileName']">
                <p *ngIf="!editMode" class="form-control">{{node.data['fileName']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Примичание:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Примичание" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['note']">
                <p *ngIf="!editMode" class="form-control">{{node.data['note']}}</p>
            </div>
        </div>
        <div class="col-2">
            <span class="checkbox">
                <label><input type="checkbox" (change)="setUnsavedChanges()" [disabled]="!editMode" [(ngModel)]="node.data['notInPositionTitle']">Не использовать подразделение в названии должности</label>
            </span>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Подразделение в родительном падеже:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Подразделение в родительном падеже" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['titleRP']">
                <p *ngIf="!editMode" class="form-control">{{node.data['titleRP']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Индекс:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Индекс" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['index']">
                <p *ngIf="!editMode" class="form-control">{{node.data['index']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Индекс СЭВ:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="text" class="form-control" placeholder="Индекс СЭВ" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['SEV']">
                <p *ngIf="!editMode" class="form-control">{{node.data['SEV']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Дата начала действия:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="date" class="form-control" placeholder="Дата начала действия" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['startDate']">
                <p *ngIf="!editMode" class="form-control">{{node.data['startDate']}}</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Дата окончания действия:</span>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" type="date" class="form-control" placeholder="Дата окончания действия" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['endDate']">
                <p *ngIf="!editMode" class="form-control">{{node.data['endDate']}}</p>
            </div>
        </div>
    </div>
</div>
