<div class="rubricator-card-edit">
    <aside class="edit-aside">
        <div class="btn-group vertical-buttons" role="group">
            <button type="button" class="btn btn-default">Что-то ещё</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(false)">Просмотр</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(true)">Редактирование</button>
        </div>
    </aside>
    <article class="edit-content">
        <div class="form form-horizontal">
            <div *ngIf="node.data['code']" class="input-group">
                <span class="input-group-addon" id="basic-addon1">Код:</span>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Код" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['code']">
                <p *ngIf="!editMode" class="form-control">{{node.data['code']}}</p>
            </div>
            <div *ngIf="node.data['title']" class="input-group">
                <span class="input-group-addon" id="basic-addon1">Краткое наименование:</span>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Краткое наименование" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['title']">
                <p *ngIf="!editMode" class="form-control">{{node.data['title']}}</p>
            </div>
            <div *ngIf="node.data['description']" class="input-group">
                <span class="input-group-addon" id="basic-addon1">Полное наименование:</span>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Полное наименование" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['description']">
                <p *ngIf="!editMode" class="form-control">{{node.data['description']}}</p>
            </div>
            <div *ngIf="node.data['note']" class="input-group">
                <span class="input-group-addon" id="basic-addon1">Примичание:</span>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Примичание" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['note']">
                <p *ngIf="!editMode" class="form-control">{{node.data['note']}}</p>
            </div>
            <div *ngIf="node.data['SEV']" class="input-group">
                <span class="input-group-addon" id="basic-addon1">Индекс СЭВ:</span>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Индекс СЭВ" aria-describedby="basic-addon1" [(ngModel)]="tmpObj['SEV']">
                <p *ngIf="!editMode" class="form-control">{{node.data['SEV']}}</p>
            </div>
        </div>
    </article>
</div>