<div class="rubricator-card-edit" *ngIf="data">
    <!--<aside class="edit-aside">
        <div class="btn-group vertical-buttons" role="group">
            <button type="button" class="btn btn-default">Что-то ещё</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(false)" [ngClass]="{'active': !editMode}">Просмотр</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(true)" [ngClass]="{'active': editMode}">Редактирование</button>
        </div>
    </aside>-->
    <article class="edit-content">
        <div class="form form-horizontal">
            <div class="form-group">
                <label for="code">Код:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="code" type="text" class="form-control" placeholder="Код" [(ngModel)]="tmpObj['code']">
                <p *ngIf="!editMode && data['code']">{{data['code']}}</p>
            </div>
            <div class="form-group">
                <label for="title">Краткое наименование:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="title" type="text" class="form-control" placeholder="Краткое наименование" [(ngModel)]="tmpObj['title']">
                <p *ngIf="!editMode && data['title']">{{data['title']}}</p>
            </div>
            <div class="form-group">
                <label for="description">Полное наименование:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="description" type="text" class="form-control" placeholder="Полное наименование" [(ngModel)]="tmpObj['description']">
                <p *ngIf="!editMode && data['description']">{{data['description']}}</p>
            </div>
            <div class="form-group">
                <label for="note">Примичание:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="note" type="text" class="form-control" placeholder="Примичание" [(ngModel)]="tmpObj['note']">
                <p *ngIf="!editMode && data['note']">{{data['note']}}</p>
            </div>
            <div class="form-group">
                <label for="SEV">Индекс СЭВ:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="SEV" type="text" class="form-control" placeholder="Индекс СЭВ" [(ngModel)]="tmpObj['SEV']">
                <p *ngIf="!editMode && data['SEV']">{{data['SEV']}}</p>
            </div>
        </div>
    </article>
</div>