<div [formGroup]="form">
    <div [ngSwitch]="input.controlType">
        <label *ngSwitchCase="'text'" [attr.for]="input.key" [ngClass]="{'required': input.required}">{{input.label}}</label>
        <input *ngSwitchCase="'text'"
            [formControlName]="input.key"
            [id]="input.key"
            type="text"
            required="{{input.required}}"
            [pattern]="input.pattern"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            placeholder="{{input.label}}"
            class="form-control m-font"
            [tooltip]="input.invalidMessage"
            placement="right"
            containerClass="tooltip-error" container="body"
            [isDisabled]="readonly"
            [isOpen]="isDirty && !isValid" triggers="">

        <label *ngSwitchCase="'dropdown'" [attr.for]="input.key">{{input.label}}</label>
        <select [id]="input.key" *ngSwitchCase="'dropdown'" [formControlName]="input.key">
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <label *ngSwitchCase="'checkbox'" class="checkbox">
            <input type="checkbox"
                [formControlName]="input.key"
                [id]="input.key"
                [disabled]="readonly">
            <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>{{input.label}}
        </label>

    </div>
</div>