<div [formGroup]="form">
    <div [ngSwitch]="input.controlType">
        <label [hidden]="input.hideLabel"
            class="primary-text"
            *ngSwitchCase="'string'"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <input *ngSwitchCase="'string'"
            [formControlName]="input.key"
            [id]="input.key"
            type="text"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            placeholder="{{input.label}}"
            class="form-control m-font"
            [tooltip]="input.invalidMessage"
            placement="right"
            containerClass="tooltip-error"
            container="body"
            [isDisabled]="readonly"
            [isOpen]="isDirty && !isValid"
            triggers=""
            autocomplete="off">

        <label class="primary-text"
            *ngSwitchCase="'text'"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <textarea *ngSwitchCase="'text'"
            [formControlName]="input.key"
            [id]="input.key"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            [ngStyle]="{'height.px': input.height}"
            placeholder="{{input.label}}"
            class="form-control m-font"
            [tooltip]="input.invalidMessage"
            placement="right"
            containerClass="tooltip-error"
            container="body"
            [isDisabled]="readonly"
            [isOpen]="isDirty && !isValid"
            triggers=""></textarea>

        <label class="primary-text"
            *ngSwitchCase="'select'"
            [attr.for]="input.key"
            [ngClass]="{'required': input.required}">{{input.label}}</label>
        <select [id]="input.key"
            *ngSwitchCase="'select'"
            [formControlName]="input.key"
            class="form-control m-font">
            <option disabled="disabled" selected="selected" class="hidden">{{input.label}}</option>
            <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <label class="primary-text checkbox"
            *ngSwitchCase="'checkbox'">
            <input type="checkbox"
                [formControlName]="input.key"
                [id]="input.key">
            <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>{{input.label}}
        </label>

        <label class="primary-text"
            *ngSwitchCase="'date'"
            [attr.for]="input.key">{{input.label}}</label>
        <eos-datepicker *ngSwitchCase="'date'"
            [placeholder]="input.label"
            [value]="input.value"
            [isReadonly]="readonly"
            [ngClass]="{'readonly': readonly }"></eos-datepicker>
    </div>
</div>
