<div class="eos-datepicker" #dpw>
    <input placeholder="{{placeholder}}"
        type="text" readonly class="form-control"
        bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"
        [bsValue]="value" placement="{{placement}}"
        (bsValueChange)="emitChange($event)"
        [ngClass]="{'hidden': readonly}"
        (click)="measureDistance()"
        [minDate]="bsConfig.minDate"
        [maxDate]="bsConfig.maxDate"
        [isDisabled]="isDisabled">
    <input class="form-control stub" 
        value="{{value | date:'dd.MM.yyyy'}}" 
        readonly 
        [ngClass]="{'hidden': !readonly}"
        placeholder="{{placeholder}}">
</div>
