<div class="eos-datepicker" [formGroup]="form"
    #dpw>
    <input type="text"
        [formControlName]="formControlName"
        class="form-control"
        [ngClass]="{readonly: isReadonly}"
        [readonly]="isReadonly"
        [pattern]="datePattern"
        placeholder="{{placeholder}}"
        [ngModel]="aDate | date:'dd.MM.yyyy' | slice:0:10"
        (ngModelChange)="inputChanged($event)"
        tooltip="Формат даты ДД.ММ.ГГГГ"
        placement="bottom"
        containerClass="tooltip-error"
        triggers=""
        [isDisabled]="isReadonly"
        [isOpen]="!valid && !focused"
        (focus)="onFocus()"
        (blur)="onBlur()"
        maxlength="10">
    <a *ngIf="!isReadonly"
        bsDatepicker
        #dp="bsDatepicker"
        [bsConfig]="bsConfig"
        [bsValue]="bsDate"
        (bsValueChange)="dpChanged($event)"
        [minDate]="bsConfig.minDate"
        [maxDate]="bsConfig.maxDate"
        [isDisabled]="isReadonly"
        placement="{{placement}}"><span class="eos-icon eos-icon-calendar-blue small"></span></a>
</div>
