.eos-sandwich {
    z-index: 4;
    position: relative;

    &.wide {
        display: inline-block;
        width: $dictionary-block-width;
        .sandwich {
            left: $dictionary-block-width - $item-width;
        }
    }

    .sandwich {
        border-radius: 0 !important;
        position: relative;
    }

    .btn {
        padding: 0;
        height: $item-height;
        width: $item-width;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;

        &:focus {
            outline: 0;
        }
    }

    .icon {
        font-size: 20px;
        cursor: pointer;
        transition: 300ms ease-in-out;

        &.icon-left {
            margin: 8px 0 8px 12px;
        }

        &.icon-right {
            margin: 8px 12px;
        }
    }
}
