.pagination-option {
    background-color: $modal-block-background-main-theme;
    color: $primary-font-color-main-theme;
    border-color: $border-color-main-theme !important;
    margin-top: 20px;
    border: 1px solid transparent;
    display: -ms-grid;
    display: grid; // sass-lint:disable-line no-duplicate-properties
    -ms-grid-columns: 330px 1fr 180px;
    grid-template-columns: 330px 1fr 180px;
    position: fixed;
    bottom: 60px;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    transition: 300ms ease-in-out;
    .pagination {
        display: flex;
        margin: 0;
    }
    .btn {
        line-height: inherit;
        font: inherit;
    }
    .pag-btn {
        background-color: $modal-block-background-main-theme;
        width: $item-width;
        height: $item-height;
        border-width: 0;
        border-right-width: 1px;
        border-right-style: solid;
        &:disabled {
            cursor: not-allowed;
        }
        &:hover:not(:disabled) {
            border-width: 1px;
            border-style: solid;
        }
    }
    .count-select {
        height: $item-height;
        border-left-width: 1px;
        border-left-style: solid;
        -ms-grid-column: 3;
        grid-column: 3;
        display: inline-block;
        margin: 0;
        .drop-btn {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon-btn {
            padding: 12px;
            position: relative;
            margin-left: 4px;
        }
        .dropdown-toggle {
            height: $item-height;
            width: 100%;
            display: inline-flex;
            justify-content: space-around;
            cursor: pointer;
            .dropdown-toggle-text {
                position: relative;
                padding: 12px 0 12px 20px;
            }
        }
    }
    .show-more {
        position: relative;
        left: -5px;
        height: $item-height;
        padding: 0 10px;
        background: transparent;
        -ms-grid-column: 2;
        grid-column: 2;
    }
    .pagination-lg>li {
        &:last-child,
        &:first-child {
            &>a,
            &>span {
                border-radius: 0;
            }
        }
    }
}

@media (min-width: 1500px) {
    .pagination-option {
        &.tree {
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2;
        }
        &.info {
            right: $grid-gutter-width / 2 + $dictionary-block-width;
            left: $grid-gutter-width / 2;
        }
        &.full {
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2 + $dictionary-block-width;
        }
    }
}
