<div class="pagination-option block l-font"
    [ngClass]="{'full': currentState[0] && currentState[1] && !hideTree,
        'only-selected': !currentState[0] && !currentState[1] || currentState[0] && !currentState[1] && hideTree,
        'info': !currentState[0] && currentState[1] || currentState[0] && currentState[1] && hideTree,
        'tree': currentState[0] && !currentState[1] && !hideTree}">
    <div class="pagination">
        <button class="pag-btn btn-default prev" [disabled]="config?.current === 1" (click)="showPage(config.current - 1)">&lsaquo;</button>
        <button *ngFor="let page of pages let i = index" class="pag-btn btn-default" [ngClass]="{'btn-primary-full': config.current === page}"
            (click)="showPage(page)">{{page}}</button>
        <button class="pag-btn btn-default next" [disabled]="config?.current === pageCount" (click)="showPage(config.current + 1)">&rsaquo;</button>
    </div>

    <button class="btn show-more selected-text" [disabled]="config?.current*config?.length >= config?.itemsQty" (click)="showMore()">Показывать еще</button>
    <div class="btn-group count-select usual-border" dropdown dropup="true" placement="top right">
        <button type="button" dropdownToggle class="dropdown-toggle btn btn-transparent selected-text">
            <span class="selected-text">Показывать по {{config?.length}}</span>
            <span class="icon-btn eos-icon eos-icon-arrow-v-blue-bottom small"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem" *ngFor="let item of pageLengths">
                <a class="dropdown-item" (click)="setPageLength(item.value)">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>
