<div class="pagination-option block">
    <div class="pagintaion">
        <button class="pag-btn prev inactive" [disabled]="config.current === 1" (click)="showPage(config.current - 1)">&lsaquo;</button>
        <button *ngFor="let page of pages let i = index" class="pag-btn" [ngClass]="{'btn-primary-full': config.current === page, 'inactive': config.current !== page}"
            (click)="showPage(page)">{{page}}</button>
        <button class="pag-btn next inactive" [disabled]="config.current === pageCount" (click)="showPage(config.current + 1)">&rsaquo;</button>
    </div>

    <button class="btn show-more selected-text" [disabled]="config.current*config.length >= total" (click)="showMore()">Показывать еще</button>
    <div class="btn-group count-select usual-border" dropdown dropup="true" placement="top right">
        <button type="button" dropdownToggle class="dropdown-toggle btn btn-transparent selected-text">
            <span class="selected-text">Показывать по {{config.length}}</span>
            <span class="icon-btn eos-icon eos-icon-arrow-v-blue-bottom small"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem" *ngFor="let item of pageLengths">
                <a class="dropdown-item" (click)="setPageLength(item.value)">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>
