<div class="pagination-option block">
    <div class="pagintaion">
        <button class="pag-btn prev" (click)="showPrev()"></button>
        <button class="pag-btn first" (click)="showPage(1)">1</button>
        <div *ngFor="let page of pagess">
            <button class="pag-btn" (click)="showPage(page)">{{page}}</button>
         </div>
        <button class="pag-btn last" (click)="showPage()">{{total}}</button>
        <button class="pag-btn next" (click)="showNext()"></button>
    </div>

    <button class="btn show-more special-text" [disabled]="page.current*page.length >= total" (click)="showMore()">Показывать еще</button>
    <div class="btn-group count-select" dropdown container="body">
        <span type="button" class="dropdown-toggle special-text" dropdownToggle>
            <span class="dropdown-toggle-text">Показывать по {{pageLength.title}}</span>
            <div class="drop-btn">
                <span class="icon-btn eos-icon eos-icon-arrow-v-blue-bottom small"></span>
            </div>
        </span>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let item of pages">
                <a class="dropdown-item" (click)="setPageLength(item)">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>
