.pagination-option {
    background-color: $modal-block-background-main-theme;
    color: $primary-font-color-main-theme;
    border-color: $border-color-main-theme !important;
    margin-top: 20px;
    display: -ms-grid;
    display: grid; // sass-lint:disable-line no-duplicate-properties
    -ms-grid-columns: auto 1fr 336px;
    grid-template-columns: auto 1fr 336px;
    position: fixed;
    bottom: 60px;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    transition: 300ms ease-in-out;
    .pagination {
        border-color: $border-color-main-theme;
        border-radius: 0;
        display: flex;
        margin: 0;
        .pag-btn {
            background-color: $modal-block-background-main-theme;
            width: $item-width;
            height: $item-height;
            border: 1px solid #e6e6e6;
            border-right: transparent;
            border-radius: 0;
            &:disabled {
                cursor: not-allowed;
                border-left-width: 1px;
                border-style: solid;
            }
        }
        .pag-btn:active {
            color: $button-color-main-theme;
        }
    }
    .btn {
        line-height: inherit;
        font: inherit;
    }
    .count-select-text {
        border: 1px solid #e6e6e6;
        border-left: transparent;
        height: $item-height;
        line-height: $item-height;
        text-align: center;
        -ms-grid-column: 2;
        grid-column: 2;
        border-left-width: 1px;
        border-left-style: solid;
        span {
            margin-left: 24px;
        }
    }

    .show-more {
        border: 1px solid #e6e6e6;
        border-radius: 0;
        position: relative;
        height: $item-height;
        padding: 0 10px;
        background: transparent;
        -ms-grid-column: 2;
        grid-column: 2;
    }

    .to-rigth {
        transform: rotate(180deg);
    }

    .show-by {
        -ms-grid-column: 3;
        grid-column: 3;
        height: $item-height;
        border: 1px solid #e6e6e6;
        border-left: transparent;

        .btn {
            padding: 0;
            position: relative;
            .arrow {
                position: absolute;
                top: -1px;
                right: 0;
                width: $item-width;
                height: $item-height;
                .icon-btn {
                    margin-top: 10px;
                }
            }
        }

        .dropdown-menu {
            width: 336px;
        }
    }
}

@media (min-width: 1500px) {
    .pagination-option {
        &.tree {
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2;
        }
        &.info {
            right: $grid-gutter-width / 2 + $dictionary-block-width;
            left: $grid-gutter-width / 2;
        }
        &.full {
            left: $grid-gutter-width / 2 + $dictionary-block-width;
            right: $grid-gutter-width / 2 + $dictionary-block-width;
        }
    }
}
