.node-field {
    padding: 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 48px;
    height: 48px;
    .table-field-ico {
        display: inline-block;
        width: $item-width;
        text-align: center;
        line-height: $item-width;
    }
    .no-padding {
        padding: 0;
    }
}
