.node-field {
    flex: 0 0 auto;
    padding: 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 32px;
    height: 32px;
    .table-field-ico {
        display: inline-block;
        width: $item-width;
        text-align: center;
        line-height: 32px;
    }
    .no-padding {
        padding: 0;
    }
    .node-field-checkbox {
        padding-right: 24px;
        text-align: center;
        vertical-align: middle;
    }
    .folder {
        position: relative;
        top: 5px;
    }
}
