<div #el
    class="node-field"
    id="{{field.foreignKey}}"
    [ngStyle]="{'width.px': width}"
    [style.marginLeft.px]='index * width'
    [ngClass]="{'no-padding': node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME'),
    'fixedColumn': dualTable }"
    (mouseover)="showHint(el)">
    <ng-container [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="types.date">
            {{field.value | eosDate}}
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="table-field-ico"
                *ngIf="node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME')">
                <span class="folder small eos-icon"
                    (click)="viewNode($event)"
                    [ngClass]="{'eos-icon-folder-blue': !node.isDeleted, 'eos-icon-folder-grey': node.isDeleted}"></span>
            </div>{{field.value}}
        </ng-container>
    </ng-container>
</div>
