.eos-user {
    height: 100%;
    cursor: pointer;

    .text {
        vertical-align: top;
        display: inline-block;
        padding: 14px 20px;
    }

    .user-menu-btn {
        border: none;
        font-size: 0;
        height: 100%;
        background-color: transparent;
        padding: 0;
        overflow: hidden;
        .pull-right {
            height: $item-height;
        }
    }
}

.login-modal {
    .input-group {
        margin-bottom: 20px;
        width: 100%;
    }
}


@media (max-width: 1250px) {
    .eos-user {
        width: $item-width;
        margin: 0;

        .text {
            display: none;
        }
    }
}

