<!--<div class="btn-group eos-user" dropdown>
  <button dropdownToggle type="button" class="btn dropdown-button dropdown-toggle">
        <span class="text">{{'Пользователь' || fullname}}</span>
        <span class="round-img-wrapper"><span class="round-img"></span></span>
        <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" class="menuitem" *ngIf="fullname"><a class="dropdown-item">Option1</a></li>
    <li role="menuitem" class="menuitem" *ngIf="fullname"><a class="dropdown-item">Option2</a></li>
    <li role="menuitem" class="menuitem" *ngIf="fullname"><a class="dropdown-item" (click)="openModal(settingsWindow)">Настройки</a></li>
    <li role="menuitem" class="menuitem" *ngIf="!fullname"><a class="dropdown-item" (click)="openModal(loginWindow)">Войти</a></li>
    <li class="divider dropdown-divider" *ngIf="fullname"></li>
    <li role="menuitem" class="menuitem" *ngIf="fullname"><a class="dropdown-item" href="#">Выйти</a>
    </li>
  </ul>
</div>--> 

<span class="eos-user" (click)="openModal(loginWindow)">
    <span class="text">{{'Пользователь' || fullname}}</span>
    <span class="round-img-wrapper"><span class="round-img"></span></span>
</span>

<template #loginWindow>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Введите свой логин и пароль</h4>
  </div>
  <div class="modal-body login-modal">
        <label for="basic-url">Ваш логин</label>
        <div class="input-group">
            <input type="text" [(ngModel)]="inputName" maxlength="255" class="form-control" id="user-name" />
        </div>
        <label for="basic-url">Ваш пароль</label>
        <div class="input-group">
            <input type="text" [(ngModel)]="inputPassword" maxlength="255" class="form-control" id="password" />
        </div>
        <button type="button" class="btn btn-default" (click)="login()" [disabled]="!inputName || !inputPassword">Войти</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Отмена</button>
  </div>
</template>
