<div class="eos-user" dropdown container="body" placement="left bottom">
    <button dropdownToggle class="user-menu-btn btn dropdown-button dropdown-toggle">
        <span class="text">{{'Пользователь' || fullname}}</span>
        <span class="round-img-wrapper">
            <span class="round-img"></span>
        </span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" class="menuitem" *ngIf="fullname">
            <a class="dropdown-item" (click)="login()">Войти</a>
        </li>
        <li class="divider dropdown-divider" *ngIf="fullname"></li>
        <li role="menuitem" class="menuitem" *ngIf="fullname">
            <a class="dropdown-item" (click)="logout()">Выйти</a>
        </li>
    </ul>
</div>
