$access-first-col-width: 251px;
.dropdown-menu.owners-menu {
    z-index: 1060;
}

.owners-menu {
    max-height: 300px;
    overflow-y: auto;
    .menuitem {
        white-space: nowrap;
        word-wrap: none;
        padding: 0 $grid-gutter-width / 2;
    }
}

.cabinet-card-edit,
eos-cabinet-card-edit {
    display: block;
    .card-content-wrapper {
        min-width: 798px;
        max-width: calc(100vw - 42px);
        max-height: calc(100vh - 280px);
        padding-top: 0;
    }
    .card-content-wrapper.main-data {
        width: 800px;
    }
    .action-btn,
    .scroll-btn {
        height: $item-height;
        width: $item-width;
    }
    .s-font {
        line-height: inherit;
    }
    .folder-access-wrapper {
        .folder-access-header {
            padding: 10px 20px 10px 0;
            line-height: 24px;
            border-top: 1px solid $border-color-main-theme;
            border-bottom: 1px solid $border-color-main-theme;
            unimportant-text {
                position: relative;
                top: 5px;
            }
            .checkbox {
                padding-top: 0;
                padding-bottom: 0;
            }
            .header-label {
                font-size: 16px;
            }
        }
        .folder-access-item {
            margin: $grid-gutter-width /2 0 $grid-gutter-width /2 $grid-gutter-width /2;
            .minus-checkbox {
                margin: 0;
                padding: 0;
                height: 32px;
                line-height: 32px;
            }
        }
    }
}

.eos-cabinet-tab {
    margin-bottom: 0;
    padding-top: $grid-gutter-width/2;
    .table-owners {
        color: $black;
    }
    .panel-group .panel-heading {
        padding: 11px 20px;
    }
    .panel-body {
        padding: 0;
    }
    &>.panel+.panel {
        margin-top: $grid-gutter-width/2;
    }
    .table,
    table {
        margin-bottom: 0px;
        background-color: #fff;
        vertical-align: middle;
        tr {
            background-color: inherit;
            border-width: 1px 0;
            line-height: 32px;
        }
        th,
        td,
        .th,
        .td {
            border-width: 1px;
            background-color: inherit;
            line-height: inherit;
            vertical-align: middle;
            font-weight: normal;
            padding: 0px 20px;
            height: inherit;
        }
        tbody {
            td,
            .td {
                border-top-style: none;
                border-bottom-style: none;
                font-size: 14px;
            }
            background-color: $white;
        }
        th,
        .th {
            white-space: nowrap;
        }
        .td-checkbox {
            padding: 0;
            width: 48px;
            text-align: center;
            &+td,
            &+th {
                padding-left: 0;
            }
            .checkbox-inline {
                line-height: inherit;
                padding: 0;
            }
            input[type="checkbox"]+span {
                margin: 0;
            }
        }
    }
}

.cabinet-access {
    position: relative;
    padding: 0;
    .cell,
    .headcol {
        margin: 0;
        white-space: nowrap;
        height: $item-height;
        padding: 0 20px;
    }
    .headcol {
        left: 0;
        font-weight: normal;
        padding-top: 13px;
        width: $access-first-col-width;
    }
    .cell {
        vertical-align: middle;
    }
    .first-line {
        .headcol {
            border-right-width: 1px;
            border-right-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            height: 49px;
        }
    }
    .shadow-box {
        width: $access-first-col-width;
        position: absolute;
        /* margin-top: 48px;*/
        top: 0;
        bottom: 0;
        box-shadow: 10px 0 10px -5px rgba(0, 0, 0, .15);
        border-right-width: 1px;
        border-right-style: solid;
    }
    .scroll-btn {
        display: none;
        position: absolute;
        margin: 0;
        border-left-width: 0;
        border-right-width: 0;
        z-index: 1;
        left: $access-first-col-width - $item-height;
        &.right {
            left: auto;
            right: 0;
            background: linear-gradient(to right, transparent 0%, #fff 45%);
        }
        &:focus,
        &.focus {
            outline: none;
        }
    }
    .table-wrapper {
        position: relative;
    }
    .table,
    table {
        tbody {
            th,
            td {
                border-bottom-width: 0;
                border-top-width: 0
            }
        }
    }
    .tr-divider {
        th,
        td {
            border-top: none;
        }
    }
    .table-responsive {
        overflow-x: hidden;
        table {
            margin: 0;
            tr {
                font-size: 16px;
                line-height: 24px;
                height: 48px;
            }
            .th:first-child,
            th:first-child {
                position: absolute;
                line-height: 48px;
            }
            th:nth-child(2),
            .th:nth-child(2) .td:nth-child(2),
            td:nth-child(2) {
                padding-left: $access-first-col-width+20px;
            }
        }
    }
    .scrollable {
        .scroll-btn {
            display: block;
        }
        thead th:last-child {
            padding-right: 48px;
        }
    }
}
