.card-edit {
    max-width: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 240px);
}

.edit-content {
    padding: 0 20px;
    .block-title {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        height: 38px;
        font-weight: 700;
        padding-top: 8px;
        &:not(.first) {
            margin-top: 50px;
        }
    }
    label {
        font-weight: normal;
        font-size: 12px;
        line-height: 10px;
        color: $label-color;
        margin-bottom: 8px;
        text-transform: uppercase;
        white-space: nowrap;
        &.checkbox,
        &.radio {
            color: $grey;
            line-height: 32px;
            font-size: 14px;
            vertical-align: middle;
            text-transform: none;
            margin-bottom: 0;
        }
    }
}

.row-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    &>div+div,
    &>eos-dynamic-input+eos-dynamic-input,
    &>eos-dynamic-input+div,
    &>div+eos-dynamic-input {
        margin-left: $grid-gutter-width /2;
    }
}

.space-between {
    justify-content: space-between;
}
