.card-edit {
    background-color: $modal-block-background-main-theme;
    color: $secondary-font-color-main-theme;
    border-color: $border-color-main-theme;
    border-style: solid;
    border-width: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 195px);
}

.edit-content {
    padding: 0 20px;
    label {
        font-weight: normal;
        &:not(.checkbox) {
            margin-bottom: 8px;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .btn-wrapper {
            text-align: center;
            .btn {
                text-transform: uppercase;
            }
        }
    }
    .form-group {
        &:not(.gender) {
            position: relative;
        }
    }
    .form-control {
        border-radius: 0;
        padding: 6px 8px;
    }
    input.form-control {
        height: 32px;
    }
    .readonly {
        box-shadow: none;
        padding: 0;
    }
    textarea {
        resize: none;
    }
    .appearance-none {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
}

.departments-card-edit {
    .col-1 {
        width: 178px;
        margin-right: 40px;
    }
    .col-2 {
        width: 522px;
    }
    .placeholder {
        color: $primary-font-color-main-theme;
    }
    .field-value {
        height: 32px;
        line-height: 32px;
    }
    .block-title {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        height: 38px;
        font-weight: 700;
        padding-top: 8px;
        &:not(.first) {
            margin-top: 50px;
        }
    }
    .checkbox {
        display: block;
        margin-top: 8px;
        margin-bottom: 0;
        label {
            padding-left: 0;
        }
        input[type="checkbox"]+span {
            margin-right: 12px;
        }
        &.card-flag {
            margin-top: 62px;
        }
    }
    select::-ms-expand {
        display: none;
    }
}
