<form class="contact-wrapper" *ngIf="inputs">
    <div class="form-group cab">
        <eos-dynamic-form-input *ngIf="inputs['rec.NUM_CAB']" [input]="inputs['rec.NUM_CAB']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>

    <div class="form-group phone">
        <eos-dynamic-form-input *ngIf="inputs['rec.PHONE']" [input]="inputs['rec.PHONE']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>

    <div class="form-group phone-local">
        <eos-dynamic-form-input *ngIf="inputs['rec.PHONE_LOCAL']" [input]="inputs['rec.PHONE_LOCAL']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>   
    </div>

    <div class="form-group fax">
        <eos-dynamic-form-input *ngIf="inputs['rec.FAX']" [input]="inputs['rec.FAX']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>

    <div class="form-group email">
        <eos-dynamic-form-input *ngIf="inputs['rec.E_MAIL']" [input]="inputs['rec.E_MAIL']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
    <div class="form-group skype">
        <eos-dynamic-form-input *ngIf="inputs['rec.SKYPE']" [input]="inputs['rec.SKYPE']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</form>
