<form #contactsInfoForm="ngForm">
<div class="row-wrapper">
    <div class="form-group">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="NUM_CAB">{{fieldsDescription.rec['NUM_CAB']?.title}}</label>
        <input [readonly]="!editMode" id="NUM_CAB" name="NUM_CAB" type="text" class="form-control m-font " [ngModel]="data.rec['NUM_CAB']"
            (ngModelChange)="change('NUM_CAB', 'rec', $event)" placeholder="{{fieldsDescription.rec['NUM_CAB']?.title}}" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('NUM_CAB')" (blur)="blur()" maxlength="{{fieldsDescription.rec['NUM_CAB']?.length}}" [pattern]="fieldsDescription.rec['NUM_CAB']?.pattern"
            tooltip="Максимальная длина {{fieldsDescription.rec['NUM_CAB']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['NUM_CAB']?.invalid && contactsInfoForm.controls['NUM_CAB']?.dirty && focusedField === 'NUM_CAB'"
            triggers="">
    </div>

    <div class="form-group">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="PHONE">{{fieldsDescription.rec['PHONE']?.title}}</label>
        <input [readonly]="!editMode" id="PHONE" name="PHONE" type="text" class="form-control m-font " [ngModel]="data.rec['PHONE']"
            (ngModelChange)="change('PHONE', 'rec', $event)" placeholder="{{fieldsDescription.rec['PHONE']?.title}}" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('PHONE')" (blur)="blur()" maxlength="{{fieldsDescription.rec['PHONE']?.length}}" [pattern]="fieldsDescription.rec['PHONE']?.pattern"
            tooltip="Максимальная длина {{fieldsDescription.rec['PHONE']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['PHONE']?.invalid && contactsInfoForm.controls['PHONE']?.dirty && focusedField === 'PHONE'"
            triggers="">
    </div>

    <div class="form-group">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="PHONE_LOCAL">{{fieldsDescription.rec['PHONE_LOCAL']?.title}}</label>
        <input [readonly]="!editMode" id="PHONE_LOCAL" name="PHONE_LOCAL" type="text" class="form-control m-font " [ngModel]="data.rec['PHONE_LOCAL']"
            (ngModelChange)="change('PHONE_LOCAL', 'rec', $event)" placeholder="{{fieldsDescription.rec['PHONE_LOCAL']?.title}}"
            [ngClass]="{'readonly': !editMode }" (focus)="focus('PHONE_LOCAL')" (blur)="blur()" maxlength="{{fieldsDescription.rec['PHONE_LOCAL']?.length}}"
            [pattern]="fieldsDescription.rec['PHONE_LOCAL']?.pattern" tooltip="Максимальная длина {{fieldsDescription.rec['PHONE_LOCAL']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['PHONE_LOCAL']?.invalid && contactsInfoForm.controls['PHONE_LOCAL']?.dirty && focusedField === 'PHONE_LOCAL'"
            triggers="">
    </div>

    <div class="form-group">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="FAX">{{fieldsDescription.rec['FAX']?.title}}</label>
        <input [readonly]="!editMode" id="FAX" name="FAX" type="text" class="form-control m-font " [ngModel]="data.rec['FAX']" (ngModelChange)="change('FAX', 'rec', $event)"
            placeholder="{{fieldsDescription.rec['FAX']?.title}}" [ngClass]="{'readonly': !editMode }" (focus)="focus('FAX')"
            (blur)="blur()" maxlength="{{fieldsDescription.rec['FAX']?.length}}" [pattern]="fieldsDescription.rec['FAX']?.pattern"
            tooltip="Максимальная длина {{fieldsDescription.rec['FAX']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['FAX']?.invalid && contactsInfoForm.controls['FAX']?.dirty && focusedField === 'FAX'"
            triggers="">
    </div>
</div>

<div class="email-wrapper row-wrapper">
    <div class="form-group"></div>
    <div class="form-group email">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="E_MAIL">{{fieldsDescription.rec['E_MAIL']?.title}}</label>
        <input [readonly]="!editMode" id="E_MAIL" name="E_MAIL" type="text" class="form-control m-font " [ngModel]="data.rec['E_MAIL']"
            (ngModelChange)="change('E_MAIL', 'rec', $event)" placeholder="{{fieldsDescription.rec['E_MAIL']?.title}}" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('E_MAIL')" (blur)="blur()" maxlength="{{fieldsDescription.rec['E_MAIL']?.length}}" [pattern]="fieldsDescription.rec['E_MAIL']?.pattern"
            tooltip="Максимальная длина {{fieldsDescription.rec['E_MAIL']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['E_MAIL']?.invalid && contactsInfoForm.controls['E_MAIL']?.dirty && focusedField === 'E_MAIL'"
            triggers="">
    </div>
    <div class="form-group skype">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SKYPE">{{fieldsDescription.rec['SKYPE']?.title}}</label>
        <input [readonly]="!editMode" id="SKYPE" name="SKYPE" type="text" class="form-control m-font " [ngModel]="data.rec['SKYPE']"
            (ngModelChange)="change('SKYPE', 'rec', $event)" placeholder="{{fieldsDescription.rec['SKYPE']?.title}}" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('SKYPE')" (blur)="blur()" maxlength="{{fieldsDescription.rec['SKYPE']?.length}}" [pattern]="fieldsDescription.rec['SKYPE']?.pattern"
            tooltip="Максимальная длина {{fieldsDescription.rec['SKYPE']?.length}} символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="contactsInfoForm.controls['SKYPE']?.invalid && contactsInfoForm.controls['SKYPE']?.dirty && focusedField === 'SKYPE'"
            triggers="">
    </div>
</div>
</form>
