.departments-person-card-edit {
    .col-1 {
        width: 180px;
    }
    .col-2 {
        width: 540px;
    }
    .tabs-wrapper {
        margin-bottom: $grid-gutter-width /2;
    }
    .row-wrapper {
        display: flex;
        width: 100%;
        .person-name,
        .person-second-name {
            flex: 1 1 50%;
        }
        .form-group {
            &:not(:first-child) {
                margin-top: 0;
            }
            select {
                width: 100%;
            }
            input {
                width: 100%;
            }
        }
    }
    .current-image {
        height: 120px;
        width: 120px;
        display: block;
        border: 1px solid $border-color-main-theme;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        margin: 0 30px 20px;
        .photo-uploader {
            position: absolute;
            bottom: -8px;
            right: -30px;
        }
    }
    .person-fullname textarea {
        height: 102px;
    }
    .person-note textarea {
        height: 172px;
    }
    .contact-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 140px 220px 220px 180px;
        grid-template-columns: 140px 220px 220px 180px;
        .cab,
        .phone,
        .phone-local,
        .email {
            margin-right: 40px;
        }
        .cab {
            -ms-grid-column: 1;
            grid-column: 1;
        }
        .phone {
            -ms-grid-column: 2;
            grid-column: 2;
        }
        .phone-local {
            -ms-grid-column: 3;
            grid-column: 3;
        }
        .fax {
            -ms-grid-column: 4;
            grid-column: 4;
        }
        .email {
            -ms-grid-column-start: 2;
            grid-column-start: 2;
            -ms-grid-column-end: 4;
            grid-column-end: 4;
            -ms-grid-row: 2;
            grid-row: 2;
            -ms-grid-column-span: 2;
        }
        .skype {
            -ms-grid-column-start: 4;
            grid-column-start: 4;
            -ms-grid-column-end: 5;
            grid-column-end: 5;
            -ms-grid-row: 2;
            grid-row: 2;
        }
    }
    .alternate-button-wrapper {
        margin-top: 20px;
        .alternate-button {
            width: 100%;
            height: 32px;
        }
    }
    .form-group {
        &:not(:first-child) {
            &.fathers-name {
                margin-top: 0;
            }
            &.full-position {
                margin-top: 91px;
            }
        }
    }
    .declination-wrapper {
        margin-top: 0;
        .family {
            flex: 1 1 303px;
        }
        .name {
            width: 180px;
        }
    }
}
