<div class="tabs-wrapper usual-border">
    <ul class="tabs">
        <li class="tab-item primary-text"
            *ngFor="let tab of fieldGroups; let i = index"
            role="presentation"
            [ngClass]="{'active-border secondary-text': i === currTab}"
            (click)="setTab(i)">
            <span class="tab-title">{{tab}}</span>
        </li>
    </ul>
</div>
<div [hidden]="currTab !== 0">
    <div class="wrapper clearfix"
        *ngIf="inputs">
        <div class="col-1 pull-left">
            <div class="current-image"
                [ngStyle]="{'background-image': photo}">
                <eos-photo-uploader class="photo-uploader"
                    [disableEdit]="!editMode"
                    (endUploading)="newImage($event)"></eos-photo-uploader>
            </div>

            <div class="form-group gender">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.GENDER']"
                    [input]="inputs['printInfo.GENDER']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.CODE']"
                    [input]="inputs['rec.CODE']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.indexPerson']"
                    [input]="inputs['rec.indexPerson']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group sev">
                <eos-dynamic-form-input *ngIf="inputs['sev.GLOBAL_ID']"
                    [input]="inputs['sev.GLOBAL_ID']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.START_DATE']"
                    [input]="inputs['rec.START_DATE']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                            (dateValid)="dateValid('START_DATE', $event)"
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.END_DATE']"
                    [input]="inputs['rec.END_DATE']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                            (dateValid)="dateValid('END_DATE', $event)"
            </div>
        </div>
        <div class="col-2 pull-right">
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME']"
                    [input]="inputs['printInfo.SURNAME']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="names row-wrapper">
                <div class="form-group first-name">
                    <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME']"
                        [input]="inputs['printInfo.NAME']"
                        [form]="form"
                        [readonly]="!editMode">
                    </eos-dynamic-form-input>
                </div>
                <div class="form-group fathers-name">
                    <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON']"
                        [input]="inputs['printInfo.PATRON']"
                        [form]="form"
                        [readonly]="!editMode">
                    </eos-dynamic-form-input>
                </div>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.SURNAME']"
                    [input]="inputs['rec.SURNAME']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group duty-row">
                <eos-dynamic-form-input class="text-input"
                    *ngIf="inputs['rec.DUTY']"
                    [input]="inputs['rec.DUTY']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input class="checkbox-input"
                    *ngIf="inputs['rec.POST_H']"
                    [input]="inputs['rec.POST_H']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.fullPosition']"
                    [input]="inputs['rec.fullPosition']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group">
                <eos-dynamic-form-input *ngIf="inputs['rec.NOTE']"
                    [input]="inputs['rec.NOTE']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
    </div>
    <!-- DON'T REMOVE!!! Uncomment when alternates will exist-->
    <!-- delegation
            <div>
                <span class="block-title l-font usual-border primary-text">Исполнитель моих обязанностей</span>
                <div class="row alternates"
                    *ngFor="let alternate of data['alternates']; let i = index">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text"
                            [ngClass]="{'unimportant-text': !editMode }"
                            for="alternate_START_DATE">Начало действия</label>
                        <eos-datepicker [placeholder]="'Начало действия'"
                            [value]="alternate.START_DATE"
                            [readonly]="!editMode"
                            [ngClass]="{'readonly': !editMode }"
                            placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text"
                            [ngClass]="{'unimportant-text': !editMode }"
                            for="alternate_END_DATE">Окончание действия</label>
                        <eos-datepicker [placeholder]="'Окончание действия'"
                            [value]="alternate.END_DATE"
                            [readonly]="!editMode"
                            [ngClass]="{'readonly': !editMode }"
                            placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label class="primary-text"
                            [ngClass]="{'unimportant-text': !editMode }"
                            for="fullPosition">Исполнитель моих обязанностей</label>
                        <input [readonly]="!editMode"
                            id="fullPosition"
                            name="alternate.name"
                            type="text"
                            class="form-control m-font "
                            [(ngModel)]="alternate.name"
                            placeholder="Исполнитель моих обязанностей"
                            [ngClass]="{'readonly': !editMode }">
                        <button class="btn btn-primary-light person-list-btn">
                                        <i [hidden]="!editMode" class="fa fa-user-plus selected-text user-icon" aria-hidden="true"></i>
                                    </button>
                    </div>
                </div>

                <div class="row alternate-button-wrapper">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <button class="btn btn-primary alternate-button">ЖУРНАЛ ДЕЛЕГИРОВАНИЯ ПОЛНОМОЧИЙ</button>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6"
                        [hidden]="!editMode">
                        <button class="btn btn-primary-full alternate-button">ДОБАВИТЬ ИСПОЛНИТЕЛЯ</button>
                    </div>
                </div>
            </div>
            <div>
                <span class="block-title l-font usual-border primary-text">Исполняю обязанности</span>
                <div class="row alternates">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_START_DATE">начало действия</label>
                        <eos-datepicker [placeholder]="'начало действия'"
                            [value]="data['alternates'][0].START_DATE"
                            [readonly]="true"
                            class="readonly"
                            placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_END_DATE">окончание действия</label>
                        <eos-datepicker [placeholder]="'окончание действия'"
                            [value]="data['alternates'][0].END_DATE"
                            [readonly]="true"
                            class="readonly"
                            placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label for="fullPosition">Исполняю обязанности</label>
                        <input id="fullPosition"
                            name="alternate.name"
                            type="text"
                            class="form-control m-font  readonly"
                            [(ngModel)]="data['alternates'][0].name"
                            placeholder="Исполняет мои обязанности"
                            readonly>
                    </div>
                </div>
            </div>
            <!-- end of delegation -->
    <!-- endOf tab1 -->
</div>
<div [hidden]="currTab !== 1">
    <div class="contact-wrapper"
        *ngIf="inputs">
        <div class="form-group cab">
            <eos-dynamic-form-input *ngIf="inputs['rec.NUM_CAB']"
                [input]="inputs['rec.NUM_CAB']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group phone">
            <eos-dynamic-form-input *ngIf="inputs['rec.PHONE']"
                [input]="inputs['rec.PHONE']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group phone-local">
            <eos-dynamic-form-input *ngIf="inputs['rec.PHONE_LOCAL']"
                [input]="inputs['rec.PHONE_LOCAL']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group fax">
            <eos-dynamic-form-input *ngIf="inputs['rec.FAX']"
                [input]="inputs['rec.FAX']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group email">
            <eos-dynamic-form-input *ngIf="inputs['rec.E_MAIL']"
                [input]="inputs['rec.E_MAIL']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group skype">
            <eos-dynamic-form-input *ngIf="inputs['rec.SKYPE']"
                [input]="inputs['rec.SKYPE']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
    </div>
</div>
<div [hidden]="currTab !== 2">
    <div *ngIf="inputs">
        <button (click)="fillDeclineFields()" containerClass="tooltip-info" tooltip="Проверка API склонения">Заполнить поля</button>
        <span class="block-title l-font first usual-border primary-text">Склонение должности</span>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_RP']"
                [input]="inputs['printInfo.DUTY_RP']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_DP']"
                [input]="inputs['printInfo.DUTY_DP']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_VP']"
                [input]="inputs['printInfo.DUTY_VP']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <span class="block-title l-font usual-border primary-text">Склонение фамилии, имени, отчества</span>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_SURNAME_DP']"
                [input]="inputs['printInfo.PRINT_SURNAME_DP']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_SURNAME']"
                [input]="inputs['printInfo.PRINT_SURNAME']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>

        <div class="form-group">
            <label class="primary-text"
                [ngClass]="{'unimportant-text': !editMode }"
                for="SURNAME_RP">Родительный падеж (кого?)</label>
            <div class="row-wrapper declination-wrapper">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_RP']"
                    [input]="inputs['printInfo.SURNAME_RP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_RP']"
                    [input]="inputs['printInfo.NAME_RP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_RP']"
                    [input]="inputs['printInfo.PATRON_RP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
        <div class="form-group">
            <label class="primary-text"
                [ngClass]="{'unimportant-text': !editMode }"
                for="SURNAME_DP">Дательный падеж (кому?)</label>
            <div class="row-wrapper declination-wrapper">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_DP']"
                    [input]="inputs['printInfo.SURNAME_DP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_DP']"
                    [input]="inputs['printInfo.NAME_DP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_DP']"
                    [input]="inputs['printInfo.PATRON_DP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
        <div class="form-group">
            <label class="primary-text"
                [ngClass]="{'unimportant-text': !editMode }"
                for="SURNAME_VP">Винительный падеж (кого?)</label>
            <div class="row-wrapper declination-wrapper">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_VP']"
                    [input]="inputs['printInfo.SURNAME_VP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_VP']"
                    [input]="inputs['printInfo.NAME_VP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_VP']"
                    [input]="inputs['printInfo.PATRON_VP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                [isOpen]="isInvalid('PATRON_VP')"
            </div>
        </div>
        <div class="form-group">
            <label class="primary-text"
                [ngClass]="{'unimportant-text': !editMode }"
                for="SURNAME_TP">Творительный падеж (кем?)</label>
            <div class="row-wrapper declination-wrapper">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_TP']"
                    [input]="inputs['printInfo.SURNAME_TP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_TP']"
                    [input]="inputs['printInfo.NAME_TP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_TP']"
                    [input]="inputs['printInfo.PATRON_TP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
        <div class="form-group">
            <label class="primary-text"
                [ngClass]="{'unimportant-text': !editMode }"
                for="SURNAME_PP">Предложный падеж (о ком?)</label>
            <div class="row-wrapper declination-wrapper">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_PP']"
                    [input]="inputs['printInfo.SURNAME_PP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_PP']"
                    [input]="inputs['printInfo.NAME_PP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_PP']"
                    [input]="inputs['printInfo.PATRON_PP']"
                    [form]="form"
                    [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
        <span class="block-title l-font usual-border primary-text">Данные для формирования поручений</span>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_DUTY']"
                [input]="inputs['printInfo.PRINT_DUTY']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_DEPARTMENT']"
                [input]="inputs['printInfo.PRINT_DEPARTMENT']"
                [form]="form"
                [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
    </div>
</div>
