<form class="contact-wrapper" #cardForm="ngForm">
    <div class="form-group cab">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="NUM_CAB">№ кабинета</label>
        <input [readonly]="!editMode" id="NUM_CAB" name="NUM_CAB" type="text" class="form-control m-font " [(ngModel)]="data.rec['NUM_CAB']"
             placeholder="№ кабинета" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('NUM_CAB')" (blur)="blur()" maxlength="24" [pattern]="NOT_EMPTY_STRING"
            tooltip="Максимальная длина 24 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['NUM_CAB']?.invalid && cardForm.controls['NUM_CAB']?.dirty && focusedField === 'NUM_CAB'"
            triggers="">
    </div>

    <div class="form-group phone">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="PHONE">№ телефона</label>
        <input [readonly]="!editMode" id="PHONE" name="PHONE" type="text" class="form-control m-font " [(ngModel)]="data.rec['PHONE']"
            placeholder="№ телефона" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('PHONE')" (blur)="blur()" maxlength="24" [pattern]="NOT_EMPTY_STRING"
            tooltip="Максимальная длина 24 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['PHONE']?.invalid && cardForm.controls['PHONE']?.dirty && focusedField === 'PHONE'"
            triggers="">
    </div>

    <div class="form-group phone-local">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="PHONE_LOCAL">№ местного телефона</label>
        <input [readonly]="!editMode" id="PHONE_LOCAL" name="PHONE_LOCAL" type="text" class="form-control m-font " [(ngModel)]="data.rec['PHONE_LOCAL']"
            placeholder="№ местного телефона"
            [ngClass]="{'readonly': !editMode }" (focus)="focus('PHONE_LOCAL')" (blur)="blur()" maxlength="24"
            [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 24 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['PHONE_LOCAL']?.invalid && cardForm.controls['PHONE_LOCAL']?.dirty && focusedField === 'PHONE_LOCAL'"
            triggers="">
    </div>

    <div class="form-group fax">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="FAX">Факс</label>
        <input [readonly]="!editMode" id="FAX" name="FAX" type="text" class="form-control m-font " [(ngModel)]="data.rec['FAX']"
            placeholder="Факс" [ngClass]="{'readonly': !editMode }" (focus)="focus('FAX')"
            (blur)="blur()" maxlength="24" [pattern]="NOT_EMPTY_STRING"
            tooltip="Максимальная длина 24 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['FAX']?.invalid && cardForm.controls['FAX']?.dirty && focusedField === 'FAX'"
            triggers="">
    </div>

    <div class="form-group email">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="E_MAIL">E-mail</label>
        <input [readonly]="!editMode" id="E_MAIL" name="E_MAIL" type="text" class="form-control m-font " [(ngModel)]="data.rec['E_MAIL']"
            placeholder="E-mail" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('E_MAIL')" (blur)="blur()" maxlength="64" [pattern]="NOT_EMPTY_STRING"
            tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['E_MAIL']?.invalid && cardForm.controls['E_MAIL']?.dirty && focusedField === 'E_MAIL'"
            triggers="">
    </div>
    <div class="form-group skype">
        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SKYPE">Skype</label>
        <input [readonly]="!editMode" id="SKYPE" name="SKYPE" type="text" class="form-control m-font " [(ngModel)]="data.rec['SKYPE']"
            placeholder="Skype" [ngClass]="{'readonly': !editMode }"
            (focus)="focus('SKYPE')" (blur)="blur()" maxlength="64" [pattern]="NOT_EMPTY_STRING"
            tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
            [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['SKYPE']?.invalid && cardForm.controls['SKYPE']?.dirty && focusedField === 'SKYPE'"
            triggers="">
    </div>
</form>
