<div class="wrapper">
    <div class="col-1">
        <div class="current-image" [ngStyle]="{'background-image': defaultImage}">
            <eos-photo-uploader class="photo-uploader" (endUploading)="newImage($event)"></eos-photo-uploader>
        </div>
        <div class="form-group gender">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="GENDER">Пол</label>
            <select *ngIf="editMode" name="GENDER" id="GENDER" class="form-control m-font gender-select" [(ngModel)]="data['printInfo']['GENDER']"
                [ngClass]="{'readonly': !editMode }">
                <option *ngFor="let g of gender" [value]="g.id">{{g.title}}</option>
            </select>
            <input *ngIf="!data['printInfo']['GENDER'] && !editMode" readonly name="GENDER" type="text" class="form-control m-font readonly" [ngClass]="{'GENDER-placeholder': editMode }"
                placeholder="Пол" />
        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="CODE">Код</label>
            <input [readonly]="!editMode" id="CODE_PERSON" name="CODE_PERSON" type="text" class="form-control m-font" [(ngModel)]="data.rec['CODE']"
                placeholder="Код" [ngClass]="{'readonly': !editMode }"
                (focus)="focus('CODE_PERSON')" (blur)="blur()" maxlength="64" [pattern]="NOT_EMPTY_STRING"
                [eosUnic]="true" [key]="'CODE'" [checkingMethod]="checkUnic.bind(this)" [inDict]="false"
                tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены. Должно быть уникально в пределах вершины"
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['CODE_PERSON']?.invalid && cardForm.controls['CODE_PERSON']?.dirty && focusedField === 'CODE_PERSON'"
                triggers="">

        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="indexPerson">Индекс ДЛ</label>
            <input [readonly]="!editMode" id="indexPerson" name="indexPerson" type="text" class="form-control m-font" [(ngModel)]="data.rec['DEPARTMENT_INDEX']"
                placeholder="Индекс ДЛ"
                [ngClass]="{'readonly': !editMode }" (focus)="focus('DEPARTMENT_INDEX')"
                (blur)="blur()" maxlength="24" [pattern]="NOT_EMPTY_STRING"
                tooltip="Максимальная длина 24 символов. Пробелы в начале и в конце строки запрещены."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['indexPerson']?.invalid && cardForm.controls['indexPerson']?.dirty && focusedField === 'DEPARTMENT_INDEX'"
                triggers="">
        </div>
        <div class="form-group sev">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SEV">Индекс СЭВ</label>
            <input [readonly]="!editMode" id="SEV" name="SEV" type="text" class="form-control m-font " [(ngModel)]="data['sev']['GLOBAL_ID']"
                placeholder="Индекс СЭВ"
                [ngClass]="{'readonly': !editMode }" (focus)="focus('SEV')" (blur)="blur()" maxlength="255"
                [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 255 символов. Пробелы в начале и в конце строки запрещены."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['SEV']?.invalid && cardForm.controls['SEV']?.dirty && focusedField === 'SEV'"
                triggers="">
        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="START_DATE">Начало действия</label>
            <eos-datepicker [placeholder]="'Начало действия'" [value]="data.rec['START_DATE']"
                [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="END_DATE">Окончание действия</label>
            <eos-datepicker [placeholder]="'Окончание действия'" [value]="data.rec['END_DATE']"
                [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_PRINT">Фамилия</label>
            <input [readonly]="!editMode" id="SURNAME_PRINT" name="SURNAME_PRINT" type="text" class="form-control m-font " [(ngModel)]="data['printInfo']['SURNAME']"
                placeholder="Фамилия"
                [ngClass]="{'readonly': !editMode }" (focus)="focus('SURNAME')" (blur)="blur()" maxlength="64"
                [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['SURNAME_PRINT']?.invalid && cardForm.controls['SURNAME_PRINT']?.dirty && focusedField === 'SURNAME'"
                triggers="">
        </div>
        <div class="names row-wrapper">
            <div class="form-group first-name">
                <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="NAME">Имя</label>
                <input [readonly]="!editMode" id="NAME" name="NAME" type="text" class="form-control m-font " [(ngModel)]="data['printInfo']['NAME']"
                    placeholder="Имя"
                    [ngClass]="{'readonly': !editMode }" (focus)="focus('NAME')" (blur)="blur()" maxlength="64"
                    [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
                    [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['NAME']?.invalid && cardForm.controls['NAME']?.dirty && focusedField === 'NAME'"
                    triggers="">
            </div>
            <div class="form-group fathers-name">
                <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="PATRON">Отчество</label>
                <input [readonly]="!editMode" id="PATRON" name="PATRON" type="text" class="form-control m-font " [(ngModel)]="data['printInfo']['PATRON']"
                    placeholder="Отчество"
                    [ngClass]="{'readonly': !editMode }" (focus)="focus('PATRON')" (blur)="blur()" maxlength="64"
                    [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
                    [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['PATRON']?.invalid && cardForm.controls['PATRON']?.dirty && focusedField === 'PATRON'"
                    triggers="">
            </div>
        </div>

        <div class="form-group">
            <label class="primary-text required" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME">
                Фамилия И.О.
            </label>
            <input [readonly]="!editMode" id="SURNAME" name="SURNAME" type="text" class="form-control m-font " [(ngModel)]="data.rec['SURNAME']"
                placeholder="Фамилия И.О."
                [ngClass]="{'readonly': !editMode }" (focus)="focus('SURNAME')" (blur)="blur()" required maxlength="64"
                [pattern]="NOT_EMPTY_STRING" tooltip="Обязательное поле. Максимальная длина 64 символов. Пробелы в начале и в конце строки запрещены."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['SURNAME']?.invalid && cardForm.controls['SURNAME']?.dirty && focusedField === 'SURNAME'"
                triggers="">
        </div>
        <div class="form-group">
            <label class="primary-text required" [ngClass]="{'unimportant-text': !editMode }" for="DUTY">
                Краткое наименование должности
            </label>
            <div class="row-wrapper">
                <input [readonly]="!editMode" id="DUTY" name="DUTY" type="text" class="form-control m-font  duty" [(ngModel)]="data.rec['DUTY']"
                    placeholder="Краткое наименование должности" [ngClass]="{'readonly': !editMode }"
                    (focus)="focus('DUTY')" (blur)="blur()" required maxlength="255" [pattern]="NOT_EMPTY_STRING"
                    tooltip="Обязательное поле. Максимальная длина 255 символов. Пробелы в начале и в конце строки запрещены."
                    containerClass="tooltip-error" container="body" [isDisabled]="!editMode" placement="right" [isOpen]="cardForm.controls['DUTY']?.invalid && cardForm.controls['DUTY']?.dirty && focusedField === 'DUTY'"
                    triggers="">

                <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" class="checkbox boss">
                    <input type="checkbox" name="POST_H" [disabled]="!editMode" [(ngModel)]="data.rec['POST_H']">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>Начальник
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="fullPosition">Полное наименование должности</label>
            <input [readonly]="!editMode" id="fullPosition" name="fullPosition" type="text" class="form-control m-font " [(ngModel)]="data.rec['fullPosition']"
                placeholder="Полное наименование должности"
                [ngClass]="{'readonly': !editMode }" (focus)="focus('fullPosition')" (blur)="blur()" maxlength="2000"
                [pattern]="NOT_EMPTY_STRING" tooltip="Максимальная длина 2000 символов. Пробелы в начале и в конце строки запрещены."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['fullPosition']?.invalid && cardForm.controls['fullPosition']?.dirty && focusedField === 'fullPosition'"
                triggers="">
        </div>
        <div class="form-group">
            <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="NOTE">Примечание</label>
            <textarea [readonly]="!editMode" id="NOTE" name="NOTE" type="text" class="form-control m-font  note-person" rows="5" [(ngModel)]="data.rec['NOTE']"
                placeholder="Примечание" [ngClass]="{'readonly': !editMode }"
                (focus)="focus('NOTE')" (blur)="blur()" maxlength="255" tooltip="Максимальная длина 255 символов."
                [isDisabled]="!editMode" placement="right" containerClass="tooltip-error" container="body" [isOpen]="cardForm.controls['NOTE']?.invalid && cardForm.controls['NOTE']?.dirty && focusedField === 'NOTE'"
                triggers=""></textarea>
        </div>
    </div>
</div>
<div>
    <span class="block-title l-font usual-border primary-text">Исполнитель моих обязанностей</span>
    <!-- DON'T REMOVE!!! Uncomment when alternates will exist-->
    <!--<div class="row alternates" *ngFor="let alternate of data['alternates']; let i = index">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="alternate_START_DATE">Начало действия</label>
                        <eos-datepicker [placeholder]="'Начало действия'" [value]="alternate.START_DATE"
                            [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="alternate_END_DATE">Окончание действия</label>
                        <eos-datepicker [placeholder]="'Окончание действия'" [value]="alternate.END_DATE"
                            [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="fullPosition">Исполнитель моих обязанностей</label>
                        <input [readonly]="!editMode" id="fullPosition" name="alternate.name" type="text" class="form-control m-font "
                            [(ngModel)]="alternate.name"
                            placeholder="Исполнитель моих обязанностей"
                            [ngClass]="{'readonly': !editMode }">
                        <button class="btn btn-primary-light person-list-btn">
                            <i [hidden]="!editMode" class="fa fa-user-plus selected-text user-icon" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>-->

    <div class="row alternate-button-wrapper">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <button class="btn btn-primary alternate-button">ЖУРНАЛ ДЕЛЕГИРОВАНИЯ ПОЛНОМОЧИЙ</button>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6" [hidden]="!editMode">
            <button class="btn btn-primary-full alternate-button">ДОБАВИТЬ ИСПОЛНИТЕЛЯ</button>
        </div>
    </div>
</div>
<div>
    <span class="block-title l-font usual-border primary-text">Исполняю обязанности</span>
    <!-- DON'T REMOVE!!! Uncomment when alternates will exist-->
    <!--<div class="row alternates">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_START_DATE">начало действия</label>
                        <eos-datepicker [placeholder]="'начало действия'" [value]="data['alternates'][0].START_DATE"
                            [readonly]="true" class="readonly" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_END_DATE">окончание действия</label>
                        <eos-datepicker [placeholder]="'окончание действия'" [value]="data['alternates'][0].END_DATE"
                            [readonly]="true" class="readonly" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label for="fullPosition">Исполняю обязанности</label>
                        <input id="fullPosition" name="alternate.name" type="text" class="form-control m-font  readonly"
                            [(ngModel)]="data['alternates'][0].name"
                            placeholder="Исполняет мои обязанности"
                            readonly>
                    </div>
                </div>-->
</div>
