<div class="wrapper" *ngIf="inputs">
    <div class="col-1">
        <div class="current-image" [ngStyle]="{'background-image': defaultImage}">
            <eos-photo-uploader class="photo-uploader" (endUploading)="newImage($event)"></eos-photo-uploader>
        </div>
        <div class="form-group gender">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.GENDER']" [input]="inputs['printInfo.GENDER']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.CODE']" [input]="inputs['rec.CODE']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.indexPerson']" [input]="inputs['rec.indexPerson']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group sev">
            <eos-dynamic-form-input *ngIf="inputs['sev.GLOBAL_ID']" [input]="inputs['sev.GLOBAL_ID']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.START_DATE']" [input]="inputs['rec.START_DATE']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.END_DATE']" [input]="inputs['rec.END_DATE']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME']" [input]="inputs['printInfo.SURNAME']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="names row-wrapper">
            <div class="form-group first-name">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME']" [input]="inputs['printInfo.NAME']" [form]="form" [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
            <div class="form-group fathers-name">
                <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON']" [input]="inputs['printInfo.PATRON']" [form]="form" [readonly]="!editMode">
                </eos-dynamic-form-input>
            </div>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.SURNAME']" [input]="inputs['rec.SURNAME']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group dytu-row">
            <eos-dynamic-form-input class="text-input" *ngIf="inputs['rec.DUTY']" [input]="inputs['rec.DUTY']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
            <eos-dynamic-form-input class="checkbox-input" *ngIf="inputs['rec.POST_H']" [input]="inputs['rec.POST_H']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.fullPosition']" [input]="inputs['rec.fullPosition']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
        <div class="form-group">
            <eos-dynamic-form-input *ngIf="inputs['rec.NOTE']" [input]="inputs['rec.NOTE']" [form]="form" [readonly]="!editMode">
            </eos-dynamic-form-input>
        </div>
    </div>
</div>
<div>
    <span class="block-title l-font usual-border primary-text">Исполнитель моих обязанностей</span>
    <!-- DON'T REMOVE!!! Uncomment when alternates will exist-->
    <!--<div class="row alternates" *ngFor="let alternate of data['alternates']; let i = index">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="alternate_START_DATE">Начало действия</label>
                        <eos-datepicker [placeholder]="'Начало действия'" [value]="alternate.START_DATE"
                            [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="alternate_END_DATE">Окончание действия</label>
                        <eos-datepicker [placeholder]="'Окончание действия'" [value]="alternate.END_DATE"
                            [readonly]="!editMode" [ngClass]="{'readonly': !editMode }" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="fullPosition">Исполнитель моих обязанностей</label>
                        <input [readonly]="!editMode" id="fullPosition" name="alternate.name" type="text" class="form-control m-font "
                            [(ngModel)]="alternate.name"
                            placeholder="Исполнитель моих обязанностей"
                            [ngClass]="{'readonly': !editMode }">
                        <button class="btn btn-primary-light person-list-btn">
                            <i [hidden]="!editMode" class="fa fa-user-plus selected-text user-icon" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>-->

    <div class="row alternate-button-wrapper">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <button class="btn btn-primary alternate-button">ЖУРНАЛ ДЕЛЕГИРОВАНИЯ ПОЛНОМОЧИЙ</button>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6" [hidden]="!editMode">
            <button class="btn btn-primary-full alternate-button">ДОБАВИТЬ ИСПОЛНИТЕЛЯ</button>
        </div>
    </div>
</div>
<div>
    <span class="block-title l-font usual-border primary-text">Исполняю обязанности</span>
    <!-- DON'T REMOVE!!! Uncomment when alternates will exist-->
    <!--<div class="row alternates">
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_START_DATE">начало действия</label>
                        <eos-datepicker [placeholder]="'начало действия'" [value]="data['alternates'][0].START_DATE"
                            [readonly]="true" class="readonly" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 form-group">
                        <label for="alternate_END_DATE">окончание действия</label>
                        <eos-datepicker [placeholder]="'окончание действия'" [value]="data['alternates'][0].END_DATE"
                            [readonly]="true" class="readonly" placement="top"></eos-datepicker>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 form-group">
                        <label for="fullPosition">Исполняю обязанности</label>
                        <input id="fullPosition" name="alternate.name" type="text" class="form-control m-font  readonly"
                            [(ngModel)]="data['alternates'][0].name"
                            placeholder="Исполняет мои обязанности"
                            readonly>
                    </div>
                </div>-->
</div>
