<div class="eos-departments-card-edit edit-content" *ngIf="data">
    <div *ngIf="data['IS_NODE']">
        <ul class="tabs">
            <li class="tab-item" *ngFor="let tab of fieldGroups; let i = index" role="presentation" [ngClass]="{'active': i === currTab}"
                (click)="setTab(i)">
                <span>{{tab}}</span>
            </li>
        </ul>
        <div class="wrapper" *ngIf="currTab === 0">
            <div class="col-1">
                <span class="photo">
                    <eos-photo-uploader *ngIf="editMode" (endUploading)="data['photo'] = $event" [multiple]="true"></eos-photo-uploader>
                </span>
                <div class="form-group">
                    <label for="gender">Пол:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('gender', $event)" [readonly]="!editMode" (ngModelChange)="change('gender', $event)" 
                        id="gender" type="text" class="form-control" placeholder="Пол" [(ngModel)]="data['gender']">
                </div>
                <div class="form-group">
                    <label for="RUBRIC_CODE">Код:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('RUBRIC_CODE', $event)" [readonly]="!editMode" (ngModelChange)="change('RUBRIC_CODE', $event)" 
                        id="RUBRIC_CODE" type="text" class="form-control" placeholder="Код" [(ngModel)]="data['RUBRIC_CODE']">
                </div>
                <div class="form-group">
                    <label for="DEPARTMENT_INDEX">Индекс ДЛ:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('DEPARTMENT_INDEX', $event)" [readonly]="!editMode" (ngModelChange)="change('DEPARTMENT_INDEX', $event)" 
                        id="DEPARTMENT_INDEX" type="text" class="form-control" placeholder="Индекс ДЛ" [(ngModel)]="data['DEPARTMENT_INDEX']">
                </div>
                <div class="form-group">
                    <label for="SEV">Индекс СЭВ:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('SEV', $event)" [readonly]="!editMode" (ngModelChange)="change('SEV', $event)" 
                        id="SEV" type="text" class="form-control" placeholder="Индекс СЭВ" [(ngModel)]="data['SEV']">
                </div>
                <div class="form-group">
                    <label for="START_DATE">Дата начала действия:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('START_DATE', $event)" [readonly]="!editMode" (ngModelChange)="change('START_DATE', $event)" 
                          id="START_DATE" type="text" class="form-control" placeholder="Дата начала действия" [(ngModel)]="data['START_DATE']">
                </div>
                <div class="form-group">
                    <label for="END_DATE">Дата окончания действия:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('END_DATE', $event)" [readonly]="!editMode" (ngModelChange)="change('END_DATE', $event)" 
                        id="END_DATE" type="text" class="form-control" placeholder="Дата окончания действия" [(ngModel)]="data['END_DATE']">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="lastName">Фамилия:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('lastName', $event)" [readonly]="!editMode" (ngModelChange)="change('lastName', $event)" 
                        id="lastName" type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="data['lastName']">
                </div>
                <div class="form-group first-name">
                    <label for="firstName">Имя:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('firstName', $event)" [readonly]="!editMode" (ngModelChange)="change('firstName', $event)" 
                        id="firstName" type="text" class="form-control" placeholder="Имя" [(ngModel)]="data['firstName']">
                </div>
                <div class="form-group fathers-name">
                    <label for="fathersName">Отчество:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('fathersName', $event)" [readonly]="!editMode" (ngModelChange)="change('fathersName', $event)" 
                        id="fathersName" type="text" class="form-control" placeholder="Отчество" [(ngModel)]="data['fathersName']">
                </div>

                <div class="form-group">
                    <label for="SURNAME">Фамилия И.О.:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('SURNAME', $event)" [readonly]="!editMode" (ngModelChange)="change('SURNAME', $event)" 
                            id="SURNAME" type="text" class="form-control" placeholder="Фамилия И.О." [(ngModel)]="data['SURNAME']"
                            required tooltip="Обязательное поле" [isDisabled]="!editMode" placement="right">
                </div>
                <div class="form-group">
                    <label for="CLASSIF_NAME">Краткое наименование должности:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('CLASSIF_NAME', $event)" [readonly]="!editMode" (ngModelChange)="change('CLASSIF_NAME', $event)" 
                            id="CLASSIF_NAME" type="text" class="form-control" placeholder="Краткое наименование должности" [(ngModel)]="data['CLASSIF_NAME']"
                            required maxlength="{{titleLenth}}" tooltip="Обязательное поле. Максимальная длинна {{titleLenth}} символов" [isDisabled]="!editMode" placement="right">
                </div>
                <span class="checkbox">
                    <label><input type="checkbox" (change)="checkChanges()" [disabled]="!editMode" [(ngModel)]="data['POST_H']">
                        <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>Начальник
                    </label>
                </span>
                <div class="form-group">
                    <label for="fullPosition">Полное наименование должности:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('fullPosition', $event)" [readonly]="!editMode" (ngModelChange)="change('fullPosition', $event)" 
                            id="fullPosition" type="text" class="form-control" placeholder="Полное наименование должности" [(ngModel)]="data['fullPosition']"
                            maxlength="{{descriptionLength}}" tooltip="Максимальная длинна {{descriptionLength}} символов" [isDisabled]="!editMode" placement="right">
                </div>
                <div class="form-group">
                    <label for="alternate">Заместитель:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('alternate', $event)" [readonly]="!editMode" (ngModelChange)="change('alternate', $event)" 
                            id="alternate" type="text" class="form-control" placeholder="Заместитель" [(ngModel)]="data['alternate']">
                </div>
                <div class="form-group">
                    <label for="NOTE">Примичание:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('NOTE', $event)" [readonly]="!editMode" (ngModelChange)="change('NOTE', $event)" 
                            id="NOTE" type="text" class="form-control" placeholder="Примичание" [(ngModel)]="data['NOTE']">
                </div>
            </div>
        </div>
        <div class="wrapper" *ngIf="currTab === 1">
            <div class="col-1">
                <div class="form-group">
                    <label for="PHONE">Номер телефона:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('PHONE', $event)" [readonly]="!editMode" (ngModelChange)="change('PHONE', $event)" 
                            id="PHONE" type="text" class="form-control" placeholder="Номер телефона" [(ngModel)]="data['PHONE']">
                </div>
                <div class="form-group">
                    <label for="PHONE_LOCAL">Номер местного телефона:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('PHONE_LOCAL', $event)" [readonly]="!editMode" (ngModelChange)="change('PHONE_LOCAL', $event)" 
                            id="PHONE_LOCAL" type="text" class="form-control" placeholder="Номер местного телефона" [(ngModel)]="data['PHONE_LOCAL']">
                </div>
                <div class="form-group">
                    <label for="E_MAIL">E-mail:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('E_MAIL', $event)" [readonly]="!editMode" (ngModelChange)="change('E_MAIL', $event)" 
                            id="E_MAIL" type="text" class="form-control" placeholder="E-mail" [(ngModel)]="data['E_MAIL']">
                </div>
                <div class="form-group">
                    <label for="skype">Skype:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('skype', $event)" [readonly]="!editMode" (ngModelChange)="change('skype', $event)" 
                            id="skype" type="text" class="form-control" placeholder="Skype" [(ngModel)]="data['skype']">
                </div>
                <div class="form-group">
                    <label for="FAX">Факс:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('FAX', $event)" [readonly]="!editMode" (ngModelChange)="change('FAX', $event)" 
                            id="FAX" type="text" class="form-control" placeholder="Факс" [(ngModel)]="data['FAX']">
                </div>
                <div class="form-group">
                    <label for="NUM_CAB">Кабинет:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('NUM_CAB', $event)" [readonly]="!editMode" (ngModelChange)="change('NUM_CAB', $event)" 
                            id="NUM_CAB" type="text" class="form-control" placeholder="Кабинет" [(ngModel)]="data['NUM_CAB']">
                </div>
            </div>
        </div>

        <div class="wrapper" *ngIf="currTab === 2">
            <div class="col-1">
                <span class="block-title">Склонение должности:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Родительный падеж (кого, чего):</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Родительный падеж (кого, чего)" aria-describedby="basic-addon1" [(ngModel)]="data['shortPositionRP']">
                        <p *ngIf="!editMode" class="form-control">{{data['shortPositionRP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Дательный падеж (кому, чему):</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Дательный падеж (кому, чему)" aria-describedby="basic-addon1" [(ngModel)]="data['shortPositionDP']">
                        <p *ngIf="!editMode" class="form-control">{{data['shortPositionDP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Винительный падеж (кого, что):</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Родительный падеж (кого, что)" aria-describedby="basic-addon1" [(ngModel)]="data['shortPositionVP']">
                        <p *ngIf="!editMode" class="form-control">{{data['shortPositionVP']}}</p>
                    </div>
                </span>

                <span class="block-title">Склонение фамилии, имени, отчества:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Фамилия И.О., дат. падеж:</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Фамилия И.О., дат. падеж" aria-describedby="basic-addon1" [(ngModel)]="data['fioDP']">
                        <p *ngIf="!editMode" class="form-control">{{data['fioDP']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">И.О. Фамилия:</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="И.О. Фамилия" aria-describedby="basic-addon1" [(ngModel)]="data['iof']">
                        <p *ngIf="!editMode" class="form-control">{{data['iof']}}</p>
                    </div>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1"></span>
                    <span class="subcol-2">Фамилия</span>
                    <span class="subcol-3">Имя</span>
                    <span class="subcol-4">Отчество</span>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Род. падеж (кого)</span>
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-2" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['lastNameRP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-3" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['firstNameRP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-4" placeholder="Род. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['fathersNameRP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{data['lastNameRP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{data['firstNameRP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{data['fathersNameRP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Дат. падеж (кому)</span>
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-2" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="data['lastNameDP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-3" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="data['firstNameDP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-4" placeholder="Дат. падеж (кому)" aria-describedby="basic-addon1" [(ngModel)]="data['fathersNameDP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{data['lastNameDP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{data['firstNameDP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{data['fathersNameDP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Вин. падеж (кого)</span>
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-2" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['lastNameVP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-3" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['firstNameVP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-4" placeholder="Вин. падеж (кого)" aria-describedby="basic-addon1" [(ngModel)]="data['fathersNameVP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{data['lastNameVP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{data['firstNameVP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{data['fathersNameVP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Твор. падеж (кем)</span>
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-2" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="data['lastNameTP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-3" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="data['firstNameTP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-4" placeholder="Твор. падеж (кем)" aria-describedby="basic-addon1" [(ngModel)]="data['fathersNameTP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{data['lastNameTP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{data['firstNameTP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{data['fathersNameTP']}}</p>
                </span>
                <span class="subcol-4-wrapper">
                    <span class="subcol-1">Пр. падеж (о ком)</span>
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-2" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="data['lastNamePP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-3" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="data['firstNamePP']">
                    <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control subcol-4" placeholder="Пр. падеж (о ком)" aria-describedby="basic-addon1" [(ngModel)]="data['fathersNamePP']">
                    <p *ngIf="!editMode" class="form-control subcol-2">{{data['lastNamePP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-3">{{data['firstNamePP']}}</p>
                    <p *ngIf="!editMode" class="form-control subcol-4">{{data['fathersNamePP']}}</p>
                </span>
                <span class="block-title">Данные для формирования поручений:</span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Должность:</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Должность" aria-describedby="basic-addon1" [(ngModel)]="data['shortPosition']">
                        <p *ngIf="!editMode" class="form-control">{{data['shortPosition']}}</p>
                    </div>
                </span>
                <span class="subcol-3-wrapper">
                    <div class="input-group dbl-subcol">
                        <span class="input-group-addon" id="basic-addon1">Подразделение:</span>
                        <input *ngIf="editMode" (input)="checkChanges()" type="text" class="form-control" placeholder="Подразделение" aria-describedby="basic-addon1" [(ngModel)]="data['department']">
                        <p *ngIf="!editMode" class="form-control">{{data['department']}}</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="!data['IS_NODE']" class="wrapper">
        <div class="col-1">
            <div class="form-group">
                <label for="RUBRIC_CODE">Код:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('RUBRIC_CODE', $event)" [readonly]="!editMode" (ngModelChange)="change('RUBRIC_CODE', $event)" 
                    id="RUBRIC_CODE" type="text" class="form-control" placeholder="Код" [(ngModel)]="data['RUBRIC_CODE']">
            </div>
            <div class="form-group">
                <label for="INDEX">Индекс:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('INDEX', $event)" [readonly]="!editMode" (ngModelChange)="change('INDEX', $event)" 
                    id="INDEX" type="text" class="form-control" placeholder="Индекс" [(ngModel)]="data['INDEX']">
            </div>
            <div class="form-group">
                <label for="SEV">Индекс СЭВ:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('SEV', $event)" [readonly]="!editMode" (ngModelChange)="change('SEV', $event)" 
                    id="SEV" type="text" class="form-control" placeholder="Индекс СЭВ" [(ngModel)]="data['SEV']">
            </div>
            <div class="form-group">
                <label for="START_DATE">Дата начала действия:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('START_DATE', $event)" [readonly]="!editMode" (ngModelChange)="change('START_DATE', $event)" 
                        id="START_DATE" type="text" class="form-control" placeholder="Дата начала действия" [(ngModel)]="data['START_DATE']">
            </div>
            <div class="form-group">
                <label for="END_DATE">Дата окончания действия:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('END_DATE', $event)" [readonly]="!editMode" (ngModelChange)="change('END_DATE', $event)" 
                    id="END_DATE" type="text" class="form-control" placeholder="Дата окончания действия" [(ngModel)]="data['END_DATE']">
            </div>
        </div>
        <div class="col-2">
            <div>
                <label for="CLASSIF_NAME">Краткое наименование должности:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('CLASSIF_NAME', $event)" [readonly]="!editMode" (ngModelChange)="change('CLASSIF_NAME', $event)" 
                        id="CLASSIF_NAME" type="text" class="form-control" placeholder="Краткое наименование должности" [(ngModel)]="data['CLASSIF_NAME']"
                        required maxlength="{{titleLenth}}" tooltip="Обязательное поле. Максимальная длинна {{titleLenth}} символов" [isDisabled]="!editMode" placement="right">
            </div>
            <span class="checkbox">
                <label><input type="checkbox" (change)="checkChanges()" [disabled]="!editMode" [(ngModel)]="data['notInPositionTitle']">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                        Не использовать подразделение в названии должности</label>
            </span>
            <div class="form-group">
                    <label for="fullPosition">Полное наименование должности:</label>
                    <input [eosInputCleaner]="editMode" (formCleaned)="clean('fullPosition', $event)" [readonly]="!editMode" (ngModelChange)="change('fullPosition', $event)" 
                            id="fullPosition" type="text" class="form-control" placeholder="Полное наименование должности" [(ngModel)]="data['fullPosition']"
                            maxlength="{{descriptionLength}}" tooltip="Максимальная длинна {{descriptionLength}} символов" [isDisabled]="!editMode" placement="right">
            </div>
            <div class="form-group">
                <label for="titleRP">Подразделение в родительном падеже:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('titleRP', $event)" [readonly]="!editMode" (ngModelChange)="change('titleRP', $event)" 
                       id="titleRP" type="text" class="form-control" placeholder="Подразделение в родительном падеже" [(ngModel)]="data['titleRP']">
            </div>
            <div class="form-group">
                <label for="DUE_LINK_ORGANIZ">Организация:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('DUE_LINK_ORGANIZ', $event)" [readonly]="!editMode" (ngModelChange)="change('DUE_LINK_ORGANIZ', $event)" 
                        id="DUE_LINK_ORGANIZ" type="text" class="form-control" placeholder="Организация" [(ngModel)]="data['DUE_LINK_ORGANIZ']">
            </div>
            <span class="checkbox">
                <label><input type="checkbox" (change)="checkChanges()" [disabled]="!editMode" [(ngModel)]="data['CARD_FLAG']">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                    Картотека</label>
            </span>
            <div class="form-group">
                <label for="CARD_NAME">Наименование картотеки:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('CARD_NAME', $event)" [readonly]="!editMode" (ngModelChange)="change('CARD_NAME', $event)" 
                        id="CARD_NAME" type="text" class="form-control" placeholder="Наименование картотеки" [(ngModel)]="data['CARD_NAME']">
            </div>
            <div class="form-group">
                <label for="NOTE">Примичание:</label>
                <input [eosInputCleaner]="editMode" (formCleaned)="clean('NOTE', $event)" [readonly]="!editMode" (ngModelChange)="change('NOTE', $event)" 
                        id="NOTE" type="text" class="form-control" placeholder="Примичание" [(ngModel)]="data['NOTE']">
            </div>
        </div>
    </div>
</div>
