<div *ngIf="inputs">
<span class="block-title l-font first usual-border primary-text">Склонение должности</span>
<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_RP']" [input]="inputs['printInfo.DUTY_RP']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>

<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_DP']" [input]="inputs['printInfo.DUTY_DP']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>

<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.DUTY_VP']" [input]="inputs['printInfo.DUTY_VP']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>

<span class="block-title l-font usual-border primary-text">Склонение фамилии, имени, отчества</span>
<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_SURNAME_DP']" [input]="inputs['printInfo.PRINT_SURNAME_DP']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>
<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_SURNAME']" [input]="inputs['printInfo.PRINT_SURNAME']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>

<div class="form-group">
    <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_RP">Родительный падеж (кого?)</label>
    <div class="row-wrapper declination-wrapper">
        <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_RP']" [input]="inputs['printInfo.SURNAME_RP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_RP']" [input]="inputs['printInfo.NAME_RP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_RP']" [input]="inputs['printInfo.PATRON_RP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</div>
<div class="form-group">
    <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_DP">Дательный падеж (кому?)</label>
    <div class="row-wrapper declination-wrapper">
        <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_DP']" [input]="inputs['printInfo.SURNAME_DP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_DP']" [input]="inputs['printInfo.NAME_DP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_DP']" [input]="inputs['printInfo.PATRON_DP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</div>
<div class="form-group">
    <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_VP">Винительный падеж (кого?)</label>
    <div class="row-wrapper declination-wrapper">
        <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_VP']" [input]="inputs['printInfo.SURNAME_VP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_VP']" [input]="inputs['printInfo.NAME_VP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_VP']" [input]="inputs['printInfo.PATRON_VP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</div>
<div class="form-group">
    <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_TP">Творительный падеж (кем?)</label>
    <div class="row-wrapper declination-wrapper">
        <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_TP']" [input]="inputs['printInfo.SURNAME_TP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_TP']" [input]="inputs['printInfo.NAME_TP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_TP']" [input]="inputs['printInfo.PATRON_TP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</div>
<div class="form-group">
    <label class="primary-text" [ngClass]="{'unimportant-text': !editMode }" for="SURNAME_PP">Предложный падеж (о ком?)</label>
    <div class="row-wrapper declination-wrapper">
        <eos-dynamic-form-input *ngIf="inputs['printInfo.SURNAME_PP']" [input]="inputs['printInfo.SURNAME_PP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.NAME_PP']" [input]="inputs['printInfo.NAME_PP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
        <eos-dynamic-form-input *ngIf="inputs['printInfo.PATRON_PP']" [input]="inputs['printInfo.PATRON_PP']" [form]="form" [readonly]="!editMode">
        </eos-dynamic-form-input>
    </div>
</div>
<span class="block-title l-font usual-border primary-text">Данные для формирования поручений</span>
<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_DUTY']" [input]="inputs['printInfo.PRINT_DUTY']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>
<div class="form-group">
    <eos-dynamic-form-input *ngIf="inputs['printInfo.PRINT_DEPARTMENT']" [input]="inputs['printInfo.PRINT_DEPARTMENT']" [form]="form" [readonly]="!editMode">
    </eos-dynamic-form-input>
</div>
</div>
