.departments-department-card-edit {
    .col-1 {
        width: 178px;
    }
    .col-2 {
        width: 522px;
    }
    .card-flag {
        margin-top: 20px;
    }
    .duty-flag {
        margin-top: -6px;
    }
    .department-fullname textarea {
        height: 50px;
    }
    .department-note textarea {
        height: 50px;
    }
    .organization-wrapper {
        font-size: 0;
    }
}
