<div class="rubricator-card-edit">
    <article class="edit-content">
        <form #rubricForm="ngForm"  class="form form-horizontal">
                <div class="form-group">
                    <label for="code">{{fieldsDescription['RUBRIC_CODE']?.title}}</label>
                    <input [readonly]="!editMode" id="code" name="code" type="text" class="form-control"
                        [ngModel]="data['RUBRIC_CODE']" (ngModelChange)="change('RUBRIC_CODE', $event)"
                        placeholder="{{fieldsDescription['RUBRIC_CODE']?.title}}"
                        [ngClass]="{'readonly': !editMode }"
                        required [pattern]="fieldsDescription['RUBRIC_CODE']?.pattern" maxlength="{{fieldsDescription['RUBRIC_CODE']?.length}}"
                        tooltip="Обязательное поле. Максимальная длинна {{fieldsDescription['RUBRIC_CODE']?.length}} символов. Пробелы в начале и в конце строки запрещены."
                        placement="right" containerClass="right-tooltip invalid-tooltip"
                        [isDisabled]="!editMode" [isOpen]="rubricForm.controls.code?.invalid && rubricForm.controls.code?.dirty" triggers="">
                </div>
                <div class="form-group">
                    <label for="title">{{fieldsDescription['CLASSIF_NAME']?.title}}</label>
                    <input [readonly]="!editMode" id="title" name="title" type="text" class="form-control"
                        [ngModel]="data['CLASSIF_NAME']" (ngModelChange)="change('CLASSIF_NAME', $event)"
                        placeholder="{{fieldsDescription['CLASSIF_NAME']?.title}}"
                        [ngClass]="{'readonly': !editMode }"
                        required [pattern]="fieldsDescription['CLASSIF_NAME']?.pattern" maxlength="{{fieldsDescription['CLASSIF_NAME']?.length}}"
                        tooltip="Обязательное поле. Максимальная длинна {{fieldsDescription['CLASSIF_NAME']?.length}} символов. Пробелы в начале и в конце строки запрещены."
                        [isDisabled]="!editMode" placement="right" containerClass="right-tooltip invalid-tooltip"
                        [isOpen]="rubricForm.controls.title?.invalid && rubricForm.controls.title?.dirty" triggers="">
                </div>
                <div class="form-group">
                    <label for="fullTitle">{{fieldsDescription['fullTitle']?.title}}</label>
                    <input [readonly]="!editMode" id="fullTitle" name="fullTitle" type="text" class="form-control" 
                        [ngModel]="data['fullTitle']" (ngModelChange)="change('fullTitle', $event)"
                        placeholder="{{fieldsDescription['fullTitle']?.title}}"
                        [ngClass]="{'readonly': !editMode }"
                        maxlength="{{fieldsDescription['fullTitle']?.length}}" [pattern]="fieldsDescription['fullTitle']?.pattern"
                        tooltip="Максимальная длинна {{fieldsDescription['fullTitle']?.length}} символов. Пробелы в начале и в конце строки запрещены."
                        [isDisabled]="!editMode" placement="right" containerClass="right-tooltip invalid-tooltip"
                        [isOpen]="rubricForm.controls.fullTitle?.invalid && rubricForm.controls.fullTitle?.dirty" triggers="">
                </div>

                <div class="form-group">
                    <label for="note">{{fieldsDescription['NOTE']?.title}}</label>
                    <input [readonly]="!editMode" id="note" name="note" type="text" class="form-control"
                        [ngModel]="data['NOTE']" (ngModelChange)="change('NOTE', $event)" 
                        placeholder="{{fieldsDescription['NOTE']?.title}}"
                        [ngClass]="{'readonly': !editMode }"
                        maxlength="{{fieldsDescription['NOTE']?.length}}" [pattern]="fieldsDescription['NOTE']?.pattern"
                        tooltip="Максимальная длинна {{fieldsDescription['NOTE']?.length}} символов. Пробелы в начале и в конце строки запрещены."
                        [isDisabled]="!editMode" placement="right" containerClass="right-tooltip invalid-tooltip"
                        [isOpen]="rubricForm.controls.note?.invalid && rubricForm.controls.note?.dirty" triggers="">
                </div>
                <div class="form-group">
                    <label for="SEV">{{fieldsDescription['sev']?.title}}</label>
                    <input [readonly]="!editMode" id="sev" name="sev" type="text" class="form-control"
                        [ngModel]="data['sev']" (ngModelChange)="change('sev', $event)" 
                        placeholder="{{fieldsDescription['sev']?.title}}"
                        [ngClass]="{'readonly': !editMode }"
                        maxlength="{{fieldsDescription['sev']?.length}}" [pattern]="fieldsDescription['sev']?.pattern"
                        tooltip="Максимальная длинна {{fieldsDescription['sev']?.length}} символов. Пробелы в начале и в конце строки запрещены."
                        [isDisabled]="!editMode" placement="right" containerClass="right-tooltip invalid-tooltip"
                        [isOpen]="rubricForm.controls.sev?.invalid && rubricForm.controls.sev?.dirty" triggers="">
                </div>
        </form>
    </article>
</div>
