<div class="rubricator-card-edit" *ngIf="data">
    <!--<aside class="edit-aside">
        <div class="btn-group vertical-buttons" role="group">
            <button type="button" class="btn btn-default">Что-то ещё</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(false)" [ngClass]="{'active': !editMode}">Просмотр</button>
            <button type="button" class="btn btn-default" (click)="changeEditMode(true)" [ngClass]="{'active': editMode}">Редактирование</button>
        </div>
    </aside>
    editMode {{editMode}}-->
    <article class="edit-content">
        <div class="form form-horizontal">
            <div class="form-group">
                <label for="code">Код:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="code" type="text" class="form-control" placeholder="Код" [(ngModel)]="tmpObj['RUBRIC_CODE']">
                <p *ngIf="!editMode && data['RUBRIC_CODE']">{{data['RUBRIC_CODE']}}</p>
            </div>
            <div class="form-group">
                <label for="title">Краткое наименование:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="title" type="text" class="form-control" placeholder="Краткое наименование" [(ngModel)]="tmpObj['CLASSIF_NAME']">
                <p *ngIf="!editMode && data['CLASSIF_NAME']">{{data['CLASSIF_NAME']}}</p>
            </div>
            <div class="form-group">
                <label for="description">Полное наименование:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="description" type="text" class="form-control" placeholder="Полное наименование" [(ngModel)]="tmpObj['NOTE']">
                <p *ngIf="!editMode && data['NOTE']">{{data['NOTE']}}</p>
            </div>
            <!--<div class="form-group">
                <label for="note">Примечание:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="note" type="text" class="form-control" placeholder="Примечание" [(ngModel)]="tmpObj['note']">
                <p *ngIf="!editMode && data['note']">{{data['note']}}</p>
            </div>
            <div class="form-group">
                <label for="SEV">Индекс СЭВ:</label>
                <input *ngIf="editMode" (change)="setUnsavedChanges()" id="SEV" type="text" class="form-control" placeholder="Индекс СЭВ" [(ngModel)]="tmpObj['SEV']">
                <p *ngIf="!editMode && data['SEV']">{{data['SEV']}}</p>
            </div>-->
        </div>
    </article>
</div>