<div class="form-group">
    <eos-dynamic-input *ngIf="inputs['rec.SEC_INDEX']"
        [input]="inputs['rec.SEC_INDEX']"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
</div>
<div class="form-group">
    <eos-dynamic-input *ngIf="inputs['rec.GRIF_NAME']"
        [input]="inputs['rec.GRIF_NAME']"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
                    value="-"
</div>
<div class="form-group">
    <label class="primary-text"
        [ngClass]="{'unimportant-text': !editMode}">Требуется</label>
    <div class="checkbox-wrapper">
        <eos-dynamic-input *ngIf="inputs['rec.EDS_FLAG']"
            [input]="inputs['rec.EDS_FLAG']"
            [form]="form"
            [readonly]="!editMode">
        </eos-dynamic-input>
        <eos-dynamic-input *ngIf="inputs['rec.ENCRYPT_FLAG']"
            [input]="inputs['rec.ENCRYPT_FLAG']"
            [form]="form"
            [readonly]="!editMode">
        </eos-dynamic-input>
    </div>
</div>
<div class="form-group">
    <eos-dynamic-input *ngIf="inputs['rec.NOTE']"
        [input]="inputs['rec.NOTE']"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
</div>
