<div class="simple-card-edit">
    <article class="edit-content">
        <form #cardForm="ngForm"  class="form form-horizontal">
                <div class="form-group" *ngFor="let key of keys(fieldsDescription)">
                    <label for="{{key}}" class="primary-text" [ngClass]="{'unimportant-text': !editMode }">{{fieldsDescription[key].title}}</label>
                    <input [readonly]="!editMode" id="{{key}}" name="{{key}}" type="text" class="form-control m-font"
                        [ngModel]="data[key]" (ngModelChange)="change(key, $event)"
                        placeholder="{{fieldsDescription[key].title}}"
                        [readonly] = "!editMode"
                        [ngClass]="{'readonly': !editMode }"
                        [required]="fieldsDescription[key]?.required"
                        [pattern]="fieldsDescription[key].pattern" maxlength="{{fieldsDescription[key].length}}"
                        eosUnic="{{fieldsDescription[key].isUnic}}" [checkingMethod]="checkCode.bind(this)"
                        [tooltip]="fieldsDescription[key]?.invalidMessage"
                        placement="right" containerClass="tooltip-error" container="body"
                        (focus)="focus(key)" (blur)="blur()"
                        [isDisabled]="!editMode" [isOpen]="cardForm.controls[key]?.dirty && cardForm.controls[key]?.invalid && focusedField === key" triggers="">
                        <!--pre>{{fieldsDescription[key] | json}}</pre-->
                    </div>
        </form>
    </article>
</div>
