.visatype-card {
    display: block;
    padding-top: $grid-gutter-width /2;
    .row-wrapper {
        .flag {
            flex-grow: 0;
        }
        .status {
            flex-grow: 1;
        }
    }
}
