<eos-dynamic-input [input]="inputs['rec.CLASSIF_NAME']"
    [form]="form"
    [readonly]="!editMode">
</eos-dynamic-input>
<eos-dynamic-input [input]="inputs['rec.NOTE']"
    [form]="form"
    [readonly]="!editMode">
</eos-dynamic-input>
<div class="row-wrapper">
    <eos-dynamic-input [input]="inputs['rec.DELETED']"
        class="flag"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
    <eos-dynamic-input [input]="inputs['rec.IS_FINAL']"
        class="flag"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
    <eos-dynamic-input [input]="inputs['rec.STATUS']"
        class="status"
        [form]="form"
        [readonly]="!editMode">
    </eos-dynamic-input>
</div>
