<!--<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <span class="glyphicon glyphicon-bell" aria-hidden="true"><span class="badge pull-right">{{messages}}</span></span>
        <span class="text">{{'Пользователь' || fullname}}</span>
        <span class="avatar"></span>
        <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngIf="fullname"><a class="dropdown-item" href="#">Option</a></li>
    <li role="menuitem" *ngIf="!fullname"><a class="dropdown-item" (click)="hideLogInForm = false">Войти</a></li>
    <li class="divider dropdown-divider" *ngIf="fullname"></li>
    <li role="menuitem" *ngIf="fullname"><a class="dropdown-item" href="#">Выйти</a>
    </li>
  </ul>
</div> -->

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        <span class="glyphicon glyphicon-bell" aria-hidden="true"><span class="badge pull-right">{{noticeCount}}</span></span>
        <span class="text">{{ fullname || 'Пользователь' }}</span>
        <span class="avatar"></span>
        <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngIf="fullname"><a class="dropdown-item" href="#">Option</a></li>
        <li *ngIf="fullname"><a class="dropdown-item" href="#">Option</a></li>
        <li *ngIf="fullname"><a class="dropdown-item" href="#">Option</a></li>
        <li *ngIf="!fullname"><a class="dropdown-item" (click)="hideLogInForm = false">Войти</a></li>
        <li class="divider dropdown-divider" *ngIf="fullname"></li>
        <li *ngIf="fullname"><a class="dropdown-item">Настройки:</a>
            <ul>
                <li *ngFor="let setting of settings">{{setting.name}}
                    <span *ngIf="setting.value" class="glyphicon glyphicon-ok" aria-hidden="true" (click)="changeSettings(setting.id, !setting.value)"></span>
                    <span *ngIf="!setting.value" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="changeSettings(setting.id, !setting.value)"></span>
                </li>
            </ul>
        </li>
        <li class="divider dropdown-divider" *ngIf="fullname"></li>
        <li *ngIf="fullname"><a class="dropdown-item" href="#">Выйти</a>
    </ul>
</div>

<div class="form-wrapper" [ngClass]="{'hidden': hideLogInForm}">
    <div class="modal-window">
        <h2>Введите свой логин и пароль</h2>
        <br>
        <label for="basic-url">Ваш логин</label>
        <div class="input-group">
            <input type="text" [(ngModel)]="inputName" class="form-control" id="user-name" />
        </div>
        <label for="basic-url">Ваш пароль</label>
        <div class="input-group">
            <input type="text" [(ngModel)]="inputPassword" class="form-control" id="password" />
        </div>
        <button type="button" class="btn btn-default" (click)="login()" [disabled]="!inputName || !inputPassword">Войти</button>
    </div>
</div>