<div *ngIf="node && node.isNode && (!node.isDeleted || showDeleted)">
    <span [ngClass]="{'highlighted': node.isActive}" class="node-title-wrapper" (click)="onSelect($event, node.isDeleted);">
        <span *ngIf="node.expandable" class="eos-icon x-small icon"
            [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded, 'eos-icon-close-folder-blue': !node.isExpanded}"
            (click)="onExpand($event, node.isDeleted)"></span>
        <span class="node-title primary-text l-font" [ngClass]="{'secondary-text': node.isActive, 'deleted': node.isDeleted && showDeleted}">
            <span *ngFor="let field of viewFields; let i = index">{{field.value}}</span>
            <eos-spinner *ngIf="node.updating" size="sm"></eos-spinner>
        </span>
    </span>
    <eos-tree *ngIf="node.isExpanded && node.isNode" [nodes]="node.children" [showDeleted]="showDeleted"></eos-tree>
</div>
