.eos-tree-node {
    .node {
        cursor: pointer;
        width: $dictionary-block-width;
        padding: $item-width / 6 0;
        line-height: 22px;
        .fake-padding,
        .tree-btn,
        .title {
            display: inline-block;
        }
        .tree-btn {
            /* padding: 13.5px 16px; */
            /* width: $item-width; */
            width: 20px;
            vertical-align: top;
        }
        .title {
            word-wrap: break-word;
            color: $primary-font-color-main-theme;

            .title-item {
                padding-right: $item-width / 6;
            }
        }

        .tringle-size {
            width: 22px;
            height: 22px;
        }
        .select {
            color: $secondary-font-color-main-theme;
        }
        .deleted {
            color: $disabled-color-main-theme;
        }
    }
}
