<ul *ngIf="node && node.isNode && (!node.isDeleted || showDeleted)">
    <li>
        <div class="node" #el (click)="onSelect($event, node.isDeleted, el)">
            <div class="tree-btn">
                <span *ngIf="node.expandable" (click)="onExpand($event, node.isDeleted)" class="eos-icon x-small icon"
                [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded, 'eos-icon-close-folder-blue': !node.isExpanded}"></span>
            </div>
            <div class="title" [ngClass]="{'selected' : node.isActive, 'deleted': node.isDeleted}">
                <span *ngFor="let field of viewFields">{{field.value || '' + ' '}}</span>
                <eos-spinner *ngIf="node.updating" size="sm"></eos-spinner>
            </div>
        </div>
        <eos-tree *ngIf="node.isExpanded && node.expandable" [nodes]="node.children" [showDeleted]="showDeleted"></eos-tree>
    </li>
</ul>
