<div class="title">Подразделения</div>
<div class="row">
    <div class="col-sm-3">
        <ul>
            <li *ngFor="let item of treeItems"
                (click)="onSelectTreeItem(item)">
                <span *ngFor="let s of item.DUE.split('.')">&nbsp;&nbsp;</span>
                <span>{{item.CLASSIF_NAME}}</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li *ngFor="let item of listItems"
                (click)="onSelectListItem(item)">{{item.CLASSIF_NAME}}</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <button (click)="onAdd()">Добавить</button>
        <button (click)="onSave()">Сохранить</button>
        <button (click)="onPreparePrintInfo()">Вызов PreparePrintInfo</button>
        <button (click)="onAddContact()">Добавить Представителя</button>
        <div *ngIf="detailedItem">
            <h4>{{detailedItem.row.CLASSIF_NAME}} details!</h4>
            <div>
                <label>id:</label>{{detailedItem.row.DUE}}</div>
            <div>
                <label>name:</label>
                <input [(ngModel)]="detailedItem.row.CLASSIF_NAME"
                    placeholder="name" />
                <br/>
            </div>
            <div *ngIf="detailedItem.cabinet">
                <label>Кабинет:</label> {{detailedItem.cabinet.CABINET_NAME}}
            </div>
            <div>
                <label>индекс СЭВ</label>
                <input [(ngModel)]="detailedItem.SEV_ASSOCIATION.GLOBAL_ID"
                    placeholder="Индекс СЭВ" />
            </div>
            <div>
                <label>фамилия в дательном падеже:</label>
                <input [(ngModel)]="detailedItem.CB_PRINT_INFO.SURNAME_DP"
                    placeholder="Фамилия дательный" />
            </div>
            <div style="position: fixed; top: 320px; bottom: 60px; overflow: auto;">
                <pre>{{detailedItem | json}}</pre>
            </div>
        </div>
    </div>
</div>
