<div>Подразделения</div>
<div style="width:340px;height:600px;float:left;border:1px;">
    <ul >
        <li *ngFor="let item of treeItems" (click)="onSelectTreeItem(item)" ><span *ngFor="let s of item.DUE.split('.')">&nbsp;&nbsp;</span><span>{{item.CLASSIF_NAME}}</span></li>
    </ul>
</div>

<div style="width:340px;height:600px;float:left">
    <ul>
        <li *ngFor="let item of listItems" (click)="onSelectListItem(item)" >{{item.CLASSIF_NAME}}</li>
    </ul>
</div>

<div style="width:340px;height:600px;float:left">
    <span (click)="onAdd()" style="border:1px rised grey;">Добавить</span>
    <div *ngIf="detailedItem">
        <h2>{{detailedItem.row.CLASSIF_NAME}} details!</h2>

        <div><label>id: </label>{{detailedItem.row.DUE}}</div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="detailedItem.row.CLASSIF_NAME" placeholder="name" />
            <br/>
        </div>
        <div style="border:1px rised gray" (click)="onSave()">Сохранить</div>
        <div>{{detailedItem.cabinet.CABINET_NAME}}</div>
    </div>

</div>


