.dropdown-menu {
    eos-desktop-list {
        .menuitem {
            position: relative;
            .item-title {
                margin-left: 20px;
                vertical-align: middle;
                width: 210px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
            }
            .input-group {
                .form-control {
                    height: $item-height;
                    margin-top: 0;
                    border-radius: 0;
                    padding: 8px 8px 8px 20px;
                }
                .input-group-btn {
                    .btn {
                        height: $item-height;
                    }
                }
            }
        }
        .item-actions {
            display: none;
            position: absolute;
            top: 0;
            right: 48px;
            .action-icon {
                display: inline-block;
            }
        }
        .menuitem:hover {
            background: $modal-block-background-main-theme;
            .item-actions {
                display: block;
            }
        }
        .li-spiner {
            border: 1px solid #e6e6e6;
            border-bottom: transparent;
            cursor: pointer;
            .spinner-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                background-color: #fff;
                opacity: 0.6;
                z-index: 1050;
            }
            .spinner-holder {
                position: absolute;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 2em;
                margin: auto;
                text-align: center;
            }
        }
    }
}
