<div class="eos-node-list">
    <eos-node-actions></eos-node-actions>
    <eos-selected-node *ngIf="hasParent"></eos-selected-node>
    <div class="block list">
        <ul *ngIf="nodes && userSorting" class="elements" [ngClass]="{'has-parent': hasParent}">
            <li *ngIf="userSorting" class="child">
                <bs-sortable [(ngModel)]="nodeListPerPage" [itemTemplate]="childTemplate" itemClass="{'highlight': openedNode && openedNode.id === item.value.id}"
                    itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"
                    (onChange)="userSortItems()">
                </bs-sortable>
            </li>
        </ul>

        <ul *ngIf="nodes && !userSorting && openedNode" class="elements" [ngClass]="{'has-parent': hasParent}">
            <li *ngFor="let item of nodeListPerPage" class="child" [ngClass]="{'highlight': openedNode.id === item.id}">
                <div *ngIf="openedNode">
                    <div *ngIf="!item.isDeleted || showDeleted" [ngClass]="{'deleted': item.isDeleted && showDeleted}" class="is-deleted-wrap">
                        <span *ngIf="showCheckbox" class="checkbox">
                        <label><input type="checkbox" [(ngModel)]="item.selected" (change)="checkItem(item)">
                            <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                        </label>
                        </span>
                        <span class="node-info" (click)="openFullInfo(item)" (dblclick)="viewNode(item)">
                        <span *ngFor="let field of viewFields" class="code">{{item.data[field.key]}}</span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="pagination-option block">
        <pagination class="pagination" pageBtnClass="pagination-btn" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
            itemsPerPage="{{itemsPerPage*pageAtList}}" [maxSize]="5" [rotate]="true" [(ngModel)]="currentPage" class="pagination-lg" previousText="&lsaquo;"
            nextText="&rsaquo;"></pagination>
        
           <!-- currentPage {{currentPage}}
            itemsPerPage {{itemsPerPage}}
            pageAtList {{pageAtList}}-->

        <button class="btn show-more special-text" [disabled]="currentPage * itemsPerPage >= totalItems" (click)="showMore()">Показывать еще</button>

        <div class="btn-group count-select pull-right" dropdown container="body">
            <span dropdownToggle type="button" class="dropdown-toggle special-text">
                  <span class="dropdown-toggle-text">Показывать по {{itemsPerPage}}<span class="icon-btn eos-icon eos-icon-arrow-v-blue-bottom small"></span></span>
            </span>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" (click)="setItemCount(10)">10</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="setItemCount(20)">20</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="setItemCount(40)">40</a></li>
            </ul>
        </div>
    </div>
</div>
<ng-template #childTemplate let-item="item" let-index="index">
    <div *ngIf="openedNode">
        <div *ngIf="!item.value.isDeleted || showDeleted" [ngClass]="{'deleted': item.value.isDeleted && showDeleted}" class="is-deleted-wrap">
            <span *ngIf="showCheckbox" class="checkbox">
                <label><input type="checkbox" [(ngModel)]="item.value.selected">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                </label>
            </span>
            <span class="node-info" (click)="openFullInfo(item.value)" (dblclick)="viewNode(item.value)">
                <span *ngFor="let field of viewFields" class="code">{{item.value.data[field.key]}}</span>
            </span>
        </div>
    </div>
</ng-template>
