.main-container {
    -ms-grid-columns: auto 1fr 0;
    -ms-grid-rows: 100px 1fr 0;
    background: $background-color;
    color: $font-color;
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-template-columns: auto 1fr 0;
    grid-template-rows: $breadcrumbs-height 1fr 0;
}

.content-wrapper {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    width: 100%;
}

.sidebar-wrapper {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    border-right: 1px solid $icon-color;
}

.header-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    -ms-grid-row: 1;
    border-bottom: 1px solid $icon-color;
    padding: 7px;
    grid-column: 1 / 4;

    .title{
        margin: 5px;
        font-size: 16px;
        display: inline-block;
    }
}

.breadcrumb,
.title {
    background: $background-color;
}
