.container {
    background: $background-color;
    bottom: 0;
    color: $font-color;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-wrapper {
    width: 100%;
}

.sidebar-wrapper {
    border-right: 1px solid $icon-color;
}

.header-wrapper {
    border-bottom: 1px solid $icon-color;
    flex: 0 1 auto;
    padding: 10px;
}

.breadcrumb,
.title {
    background: $background-color;
}
