.edit-container {
    background: white;
    color: black;
    height: 450px;

    .edit-header {
        background: black;
        color: white;
        padding: 5px;

        .checkbox {
            display: inline-block;
        }

        .edit-title {
            display: inline-block;
            margin: 0 20px;
        }

        .pull-right {
            margin-top: 12px;
        }

        .glyphicon {
            color: white;
        }
    }

    .edit-aside {
        .vertical-buttons {
            transform: rotate(-90deg) translateX(-145px) translateY(-144px);
        }
    }

    .edit-content {
        margin-left: 45px;

        .form-group {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
