.selected-node-wrapper {
    background: white;
    color: black;
    padding: 10px;

    .checkbox {
        margin-left: 5px;
        margin-right: -5px;
        vertical-align: middle;
    }

    .table-title {

        .checkbox {
            display: inline-block;
        }

        .code {
            margin: 0 20px;
        }
    }

    .selected-node-header {

        .controller {
            margin-top: 10px;

            .circle {
                border: 1px solid gray;
                border-radius: 50%;
                display: inline-block;
                height: 25px;
                width: 25px;
            }

            .glyphicon {
                display: inline-block;
                margin-left: 5px;
                margin-top: 3px;

                &.glyphicon-minus {
                    margin-left: 3px;
                }
            }

            .dots {
                display: inline-block;
                font-size: 20px;
                line-height: -35px;
                margin-left: 3px;
                margin-top: -4px;
            }
        }
    }

    .selected-node-content {
        a {
            cursor: pointer;
        }
    }

    .elements {
        list-style: none;
        max-height: 70vh;
        overflow-y: auto;
        padding-left: 0;

        ul {
            list-style: none;
        }

        li {
            display: flex;
        }

        .node-info {
            align-self: center;

            cursor: pointer;
            margin-left: 10px;

            .code {
                margin-right: 10px;
            }
        }

        .highlight {
            background: yellow;
        }
    }
}
