.selected-node-wrapper {
    padding: 10px;
    background: white;
    color: black;
    .checkbox {
        display: inline-block;
        margin-left: 5px;
        margin-right: -5px;
        vertical-align: middle;
    }
    .code {
        margin: 0 10px;
    }
    .selected-node-header {
        .controller {
            margin-top: 10px;
            .circle {
                border: 1px solid gray;
                border-radius: 50%;
                display: inline-block;
                height: 25px;
                width: 25px;
            }
            .glyphicon {
                display: inline-block;
                margin-left: 5px;
                margin-top: 3px;
                &.glyphicon-minus {
                    margin-left: 3px;
                }
            }
            .dots {
                display: inline-block;
                font-size: 20px;
                line-height: -35px;
                margin-left: 3px;
                margin-top: -4px;
            }
        }
    }
    .elements {
        list-style: none;
        padding-left: 0;
        .node-info {
            cursor: pointer;
        }
    }
}