.sidebar {
    padding: 10px;
    background: $background-color;
    .menu {
        padding: 10px 0 0;
        list-style: none;
        .link-text {
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }
    .sandwich-wrapper {
        height: 40px;
        .sandwich {
            display: inline-block;
            position: relative;
            height: 3px;
            width: 20px;
            background: $icon-color;
            &::before,
            &::after {
                display: inline-block;
                position: absolute;
                height: 3px;
                width: 20px;
                background: $icon-color;
                content: '';
            }
            &::before {
                top: 6px;
            }
            &::after {
                top: 12px;
            }
        }
    }
}
