// sass-lint:disable nesting-depth
.sidebar {
    background: $background-color;

    .menu {
        list-style: none;
        padding: 10px 10px 0;

        .glyphicon {
            width: 20px;
        }

        .link-text {
            white-space: nowrap;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }

    .sandwich-wrapper {
        height: $breadcrumbs-height;
        border-bottom: 1px solid $icon-color;
        padding: 5px 10px;

        .sandwich {
            background: $icon-color;
            display: inline-block;
            height: 3px;
            position: relative;
            width: 20px;

            &::before,
            &::after {
                background: $icon-color;
                content: "";
                display: inline-block;
                height: 3px;
                position: absolute;
                width: 20px;
            }

            &::before {
                top: 6px;
            }

            &::after {
                top: 12px;
            }
        }
    }
}
