// sass-lint:disable nesting-depth
.sidebar {
    background: $background-color;
    padding: 10px;
    .menu {
        list-style: none;
        padding: 10px 0 0;
        .glyphicon {
            width: 20px;
        }
        .link-text {
            white-space: nowrap;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }
    .sandwich-wrapper {
        height: 40px;
        .sandwich {
            background: $icon-color;
            display: inline-block;
            height: 3px;
            position: relative;
            width: 20px;
            &::before,
            &::after {
                background: $icon-color;
                content: "";
                display: inline-block;
                height: 3px;
                position: absolute;
                width: 20px;
            }
            &::before {
                top: 6px;
            }
            &::after {
                top: 12px;
            }
        }
    }
}