$fa-font-path: "../lib/fonts/font-awesome";
$icon-font-path: "../../lib/fonts/bootstrap/";

$background-color: #0b1324;
$icon-color: grey;
$font-color: white;
$modal-background: #d1d2d3;

$breadcrumbs-height: 65px;
$header-element-height: 49px;
