<span class="date">Состояние на </span>
<eos-datepicker [placeholder]="'дд.мм.гггг'" [value]="date" (change)="dateSet($event)" [readonly]="false"></eos-datepicker>
<button class="btn btn-primary-light full-search-btn" [popover]="searchModal" containerClass="full-search-popover" placement="bottom">
    <i class="fa fa-filter fa-2x" aria-hidden="true" tooltip="Расширенный поиск" placement="left" container="body" containerClass="left-tooltip"></i>
</button>
<div class="btn-group" dropdown [isOpen]="dropdownIsOpen" (isOpenChange)="change($event)" [autoClose]="!innerClick" (click)="innerClick = true">
    <span dropdownToggle type="button">
        <span class="icon eos-icon eos-icon-search-blue small" tooltip="Быстрый поиск" container="body" placement="left" containerClass="left-tooltip"></span>
    </span>
    <ul *dropdownMenu class="dropdown-menu search-wrapper" role="menu">
        <li>
            <div class="input-group search">
                <span class="input-group-addon search-icon-wrapper" id="basic-addon1">
                    <span class="eos-icon eos-icon-search-blue x-small" aria-hidden="true" (click)="openModal(searchModal)" tooltip="Расширенный поиск"
                        containerClass="top-tooltip"></span>
                </span>
                <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="Поиск" aria-describedby="basic-addon1" (keydown)="search($event)">
                <span class="input-group-addon checkbox-icon-wrapper" id="basic-addon1">
                    <span class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="searchInAllDict" tooltip="Искать во всём словаре" placement="bottom" containerClass="bottom-tooltip">
                            <span></span>
                        </label>
                    </span>
                </span>
            </div>
        </li>
    </ul>
</div>


<ng-template #searchModal>
    <div class="full-search-top">
        <span class="pull-left title">Область поиска</span>
    </div>
    <div>
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" [(ngModel)]="searchInDeleted">
                <span></span>Учитывать логически удаленные</label>
        </div>
        <div class="tabs-wrapper">
            <ul class="tabs">
                <li class="tab-item" *ngFor="let tab of fieldGroups; let i = index" role="presentation" [ngClass]="{'active': i === currTab}"
                    (click)="setTab(i)">
                    <span class="tab-title">{{tab}}</span>
                </li>
            </ul>
        </div>
        <form #rubricForm="ngForm"  [hidden]="dictId !== 'rubricator'" class="row full-search-form">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label for="code">{{fieldsDescr['RUBRIC_CODE']?.title}}</label>
                    <input id="code" name="code" type="text" class="form-control"
                        [(ngModel)]="data['RUBRIC_CODE']"
                        placeholder="{{fieldsDescr['RUBRIC_CODE']?.title}}">
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-xl-9">
                <div class="form-group">
                    <label for="title">{{fieldsDescr['CLASSIF_NAME']?.title}}</label>
                    <input id="title" name="title" type="text" class="form-control"
                        [(ngModel)]="data['CLASSIF_NAME']"
                        placeholder="{{fieldsDescr['CLASSIF_NAME']?.title}}">
                </div>
                <div class="form-group">
                    <label for="fullTitle">{{fieldsDescr['fullTitle']?.title}}</label>
                    <input id="fullTitle" name="fullTitle" type="text" class="form-control" 
                        [(ngModel)]="data['fullTitle']"
                        placeholder="{{fieldsDescr['fullTitle']?.title}}">
                </div>

                <div class="form-group">
                    <label for="note">{{fieldsDescr['NOTE']?.title}}</label>
                    <input id="note" name="note" type="text" class="form-control"
                        [(ngModel)]="data['NOTE']"
                        placeholder="{{fieldsDescr['NOTE']?.title}}">
                </div>
            </div>
        </form>
        <div class="full-search-bottom">
            <span class="pull-right">
                <button [disabled]="noSearchData" class="btn btn-primary">Сбросить</button>
                <button [disabled]="noSearchData" (click)="fullSearch()" class="btn btn-primary-full">Найти</button>
            </span>
        </div>
    </div>
</ng-template>
