.eos-dictionary-search {
    display: inline-block;
    height: $item-height;
    .fa {
        font-size: 22px;
    }
    .full-search {
        position: relative;
    }
    .eos-icon-search-blue {
        position: relative;
    }
    .search-btn-wraper {
        display: inline-block;
    }
    input:read-only {
        background: $disabled-color-main-theme;
    }
    .btn {
        &.search-btn {
            height: 48px;
            width: 48px;
        }
        &.quick-search-btn {
            height: 48px;
            width: 48px;
        }
    }
    .date-filter-wrapper {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
        line-height: 0;
        /* height: 43px; */
        /* position: relative; */
        /* top: -7px; */
        .date,
        span {
            vertical-align: -webkit-baseline-middle;
            vertical-align: middle;
            display: inline-block;
            /* position: relative; */
            /* top: 6px; */
        }
        &.hidden {
            display: none;
        }
    }
    .eos-datepicker {
        display: inline-block;
        width: 125px;
        font-weight: bold;
        input {
            box-shadow: none;
            background-color: transparent;
            color: black;
            font-weight: normal;
            &.ng-dirty.ng-invalid {
                border-color: $brand-danger;
            }
        }
    }
}

.full-search-popover {
    right: 0;
    left: auto !important;
    width: 800px;
    max-width: 800px;
    border-radius: 0;
    .popover-arrow.arrow {
        right: 61px !important;
        left: auto !important;
    }
    .popover-content {
        padding: 0 !important;
    }
    .spinner-wrapper {
        text-align: center;
        padding: 10px;
    }
    .checkbox-inline input[type="checkbox"]+span {
        margin-right: 12px;
    }
}

.full-search-bottom {
    height: $item-height;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 8px 20px;
    .btn {
        width: 82px;
        height: 32px;
    }
}

.full-search-top {
    background-color: $modal-block-background-main-theme;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 48px;
    .title {
        height: 48px;
        line-height: 48px;
        margin-left: 20px;
    }
    .srch-btns {
        margin: 8px 15px 8px 0;
        font-size: 0;
        .btn {
            width: 82px;
            margin: 0px 5px;
        }
    }
}

.wrap {
    position: relative;
    button {
        border: none;
        padding: 5px;
        width: 30px;
        height: 30px;
        top: 1px;
        float: right;
        right: 1px;
        background-color: $modal-block-background-main-theme;
        position: absolute;
        .eos-icon {
            height: 20px;
            width: 20px;
        }
    }
}

.full-search-settings-container {
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 0;
    label {
        font-weight: normal;
        text-transform: none;
    }
    .line {
        margin-top: 20px;
    }
    .radio-inline,
    .checkbox-inline {
        line-height: 32px;
        height: 32px;
        padding-left: 0;
        margin-right: 40px;
    }
}

.full-search-form {
    padding: 0 20px;
    .tabs-wrapper {
        background-color: $modal-block-background-main-theme;
        border-bottom: 1px solid $border-color-main-theme;
        width: auto;
        height: $item-height;
        .tabs {
            .tab-item {
                &.active {
                    color: $black !important;
                    border-color: $active-field-color-main-theme;
                }
            }
        }
    }
    form {
        padding: 20px;
        font-size: 0;
        .form-control {
            padding: 8px;
            height: 32px;
        }
        .form-group {
            margin-bottom: 20px;
            &.col-250 {
                display: inline-block;
                width: 250px;
                margin-top: 0;
                margin-bottom: 0;
            }
            label {
                line-height: 10px;
                margin-bottom: 8px;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        .form-group:last-child {
            margin-bottom: 0;
        }
        .first-col {
            display: inline-block;
            vertical-align: top;
            width: 180px;
        }
        .second-col {
            display: inline-block;
            width: 540px;
        }
        .margin-r {
            margin-right: 38px;
        }
    }
}

.popover {
    padding: 0;
}

@media (max-width: 1200px) {
    .eos-search {
        top: -19px;
        width: 30px;
    }
}
