<div class="eos-dictionary-search">
    <div [ngClass]="{'hidden': !hasDate}" class="date-filter-wrapper">
        <span class="date">Состояние на: </span>
        <eos-datepicker [placeholder]="'дд.мм.гггг'" [value]="date" (change)="dateFilter($event)" [readonly]="false"></eos-datepicker>
    </div>
    <button [ngClass]="{'hidden': !hasFull, 'opened': isOpenFull || !noSearchData }" class="btn btn-primary-light search-btn" [popover]="searchModal"
        containerClass="full-search-popover" placement="bottom" #pop="bs-popover"
        (onShown)="isOpenFull = true" (onHidden)="isOpenFull = false" (click)="isOpenQuick = false">
        <i [hidden]="isOpenFull || !noSearchData" class="eos-icon eos-icon-filter-blue small" aria-hidden="true" tooltip="Расширенный поиск" placement="left" container="body" containerClass="tooltip-info"></i>
        <i [hidden]="!(isOpenFull || !noSearchData)" class="eos-icon eos-icon-filter-white small" aria-hidden="true" tooltip="Расширенный поиск" placement="left" container="body" containerClass="tooltip-info"></i>
    </button>
    <input type="text" class="form-control quick-search-form usual-border" [ngClass]="{'opened': isOpenQuick}" [(ngModel)]="dataQuick" (keydown)="quickSearch($event)">
    <button class="btn btn-default clear-btn" *ngIf="isOpenQuick" (click)="clearQuickForm()"><span class="eos-icon eos-icon-close-blue"></span></button>
    <button [ngClass]="{'hidden': !hasQuick, 'opened': isOpenQuick}" class="btn btn-primary-light search-btn quick-search-btn" (click)="toggleForm()">
            <i class="fa fa-search" aria-hidden="true" tooltip="Быстрый поиск" placement="left" container="body" containerClass="tooltip-info"></i>
    </button>
</div>

<ng-template #searchModal>
    <div class="full-search-top usual-border">
        <span class="pull-left title">Область поиска</span>
    </div>
    <div>
        <div class="full-search-settings-container usual-border">
            <div class="col-1">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="search-area" [value]="false" [(ngModel)]="settings.onlyCurrentNode">
                        <span></span>Во всём справочнике</label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="search-area" [value]="true" [(ngModel)]="settings.onlyCurrentNode">
                        <span></span>В текущей ветке</label>
                </div>
            </div>
            <div class="col-2">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="settings.deleted">
                        <span></span>Учитывать логически удаленные</label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="settings.subbranches">
                        <span></span>Учитывать подчинённые ветки</label>
                </div>
            </div>
        </div>
        <div *ngIf="loading" class="spinner-wrapper">
            <eos-spinner size="md"></eos-spinner>
        </div>
        <form #searchForm="ngForm">
            <div [hidden]="dictId !== 'departments'" class="full-search-form">
                <div *ngIf="modes" class="tabs-wrapper usual-border">
                    <ul class="tabs">
                        <li class="tab-item" *ngFor="let tab of modes" role="presentation" [ngClass]="{'active-border': tab.key === currTab}"
                            (click)="setTab(tab.key)">
                            <span class="tab-title">{{tab.title}}</span>
                        </li>
                    </ul>
                </div>
                <div *ngIf="currTab === 'person'">
                    <div class="row">
                        <div class="form-group col-md-3 col-lg-3 col-xl-3">
                            <label for="RUBRIC_CODE" class="primary-text">{{fieldsDescription['RUBRIC_CODE']?.title}}</label>
                            <input id="RUBRIC_CODE_PERSON" name="RUBRIC_CODE_PERSON" type="text" class="form-control"
                                [(ngModel)]="data['RUBRIC_CODE']"
                                placeholder="{{fieldsDescription['RUBRIC_CODE']?.title}}" >
                        </div>

                        <div class="form-group col-md-9 col-lg-9 col-xl-9">
                            <label for="lastName" class="primary-text">{{fieldsDescription['lastName']?.title}}</label>
                            <input id="lastName" name="lastName" type="text" class="form-control"
                                [(ngModel)]="data['lastName']"
                                placeholder="{{fieldsDescription['lastName']?.title}}" >
                        </div>
                    </div>
                    <div class="row no-top-margin">
                        <div class="col-md-3 col-lg-3 col-xl-3"></div>

                        <div class="col-md-9 col-lg-9 col-xl-9">
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                    <label for="firstName" class="primary-text">{{fieldsDescription['firstName']?.title}}</label>
                                    <input id="firstName" name="firstName" type="text" class="form-control"
                                        [(ngModel)]="data['firstName']"
                                        placeholder="{{fieldsDescription['firstName']?.title}}" >
                                </div>
                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                    <label for="fathersName" class="primary-text">{{fieldsDescription['fathersName']?.title}}</label>
                                    <input id="fathersName" name="fathersName" type="text" class="form-control"
                                        [(ngModel)]="data['fathersName']"
                                        placeholder="{{fieldsDescription['fathersName']?.title}}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-top-margin">
                        <div class="form-group col-md-3 col-lg-3 col-xl-3">
                            <label for="PHONE" class="primary-text">{{fieldsDescription['PHONE']?.title}}</label>
                            <input id="PHONE" name="PHONE" type="text" class="form-control"
                                [(ngModel)]="data['PHONE']"
                                placeholder="{{fieldsDescription['PHONE']?.title}}" >
                        </div>

                        <div class="form-group col-md-9 col-lg-9 col-xl-9">
                            <label for="E_MAIL" class="primary-text">{{fieldsDescription['E_MAIL']?.title}}</label>
                            <input id="E_MAIL" name="E_MAIL" type="text" class="form-control"
                                [(ngModel)]="data['E_MAIL']"
                                placeholder="{{fieldsDescription['E_MAIL']?.title}}" >
                        </div>
                    </div>
                </div>
                <div *ngIf="currTab === 'room'">
                    <div class="form-group">
                        <label for="titleRoom" class="primary-text">{{fieldsDescription['titleRoom']?.title}}</label>
                        <input id="titleRoom" name="titleRoom" type="text" class="form-control"
                            [(ngModel)]="data['CLASSIF_NAME']"
                            placeholder="{{fieldsDescription['titleRoom']?.title}}" >
                    </div>

                    <div class="form-group">
                        <label for="fullTitleRoom" class="primary-text">{{fieldsDescription['fullTitleRoom']?.title}}</label>
                        <input id="fullTitleRoom" name="fullTitleRoom" type="text" class="form-control"
                            [(ngModel)]="data['fullTitleRoom']"
                            placeholder="{{fieldsDescription['fullTitleRoom']?.title}}" >
                    </div>
                </div>
                <div *ngIf="currTab === 'department'" class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="code" class="primary-text">{{fieldsDescription['RUBRIC_CODE']?.title}}</label>
                            <input id="code" name="code" type="text" class="form-control"
                                [(ngModel)]="data['RUBRIC_CODE']"
                                placeholder="{{fieldsDescription['RUBRIC_CODE']?.title}}">
                        </div>
                        <div class="form-group">
                            <label for="indexDep" class="primary-text">{{fieldsDescription['indexDep']?.title}}</label>
                            <input id="indexDep" name="indexDepcode" type="text" class="form-control"
                                [(ngModel)]="data['DEPARTMENT_INDEX']"
                                placeholder="{{fieldsDescription['indexDep']?.title}}">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-xl-9">
                        <div class="form-group">
                            <label for="title">{{fieldsDescription['title']?.title}}</label>
                            <input id="title" name="title" type="text" class="form-control"
                                [(ngModel)]="data['CLASSIF_NAME']"
                                placeholder="{{fieldsDescription['title']?.title}}">
                        </div>
                        <div class="form-group">
                            <label for="fullTitle" class="primary-text">{{fieldsDescription['fullTitle']?.title}}</label>
                            <input id="fullTitle" name="fullTitle" type="text" class="form-control"
                                [(ngModel)]="data['fullTitle']"
                                placeholder="{{fieldsDescription['fullTitle']?.title}}">
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="dictId !== 'rubricator'" class="row full-search-form">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group">
                        <label for="code" class="primary-text">{{fieldsDescription['RUBRIC_CODE']?.title}}</label>
                        <input id="code" name="code" type="text" class="form-control"
                            [(ngModel)]="data['RUBRIC_CODE']"
                            placeholder="{{fieldsDescription['RUBRIC_CODE']?.title}}">
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-9">
                    <div class="form-group">
                        <label for="title" class="primary-text">{{fieldsDescription['CLASSIF_NAME']?.title}}</label>
                        <input id="title" name="title" type="text" class="form-control"
                            [(ngModel)]="data['CLASSIF_NAME']"
                            placeholder="{{fieldsDescription['CLASSIF_NAME']?.title}}">
                    </div>
                    <div class="form-group">
                        <label for="fullTitle" class="primary-text">{{fieldsDescription['fullTitle']?.title}}</label>
                        <input id="fullTitle" name="fullTitle" type="text" class="form-control"
                            [(ngModel)]="data['fullTitle']"
                            placeholder="{{fieldsDescription['fullTitle']?.title}}">
                    </div>

                    <div class="form-group">
                        <label for="note" class="primary-text">{{fieldsDescription['NOTE']?.title}}</label>
                        <input id="note" name="note" type="text" class="form-control"
                            [(ngModel)]="data['NOTE']"
                            placeholder="{{fieldsDescription['NOTE']?.title}}">
                    </div>
                </div>
            </div>
        </form>
        <div class="full-search-bottom usual-border">
            <span class="pull-right">
                <button [disabled]="noSearchData" class="btn btn-primary" (click)="clearForm()">Сбросить</button>
                <button [disabled]="noSearchData" (click)="fullSearch()" class="btn btn-primary-full">Найти</button>
            </span>
        </div>
    </div>
</ng-template>
