.eos-node-actions {
    height: $item-height;
    .rotate {
        transform: rotate(-90deg);
    }
    .btn {
        height: $item-height;
        width: $item-width;
    }
    .dropdown-menu .btn {
        width: 100%;
        text-align: left;
    }
}

.create-new-node {
    padding: 0;
}
