<span *ngFor="let item of buttons" class="visible-lg-inline-block actions">
    <button [disabled]="!item.enabled" class="btn btn-primary-light {{action.buttonClass}}" [ngClass]="{active: item.isActive}"
        tooltip="{{item.hint}}" placement="right" containerClass="right-tooltip" (click)="doAction(item)">
        <span class="{{item.iconClass}}" container="body"></span>
    </button>
</span>
<div class="btn-group" dropdown>
    <button class="btn btn-primary-light actions" dropdownToggle tooltip="Ещё" placement="right" containerClass="right-tooltip">
        <span class="eos-icon eos-icon-fab-blue small"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <ng-template ngFor let-item let-i="index" [ngForOf]="dropdownRecordActions">
            <li role="menuitem" class="{{item.buttonClass}}" tooltip="{{item.hint}}" placement="right" containerClass="right-tooltip">
                <button [disabled]="!item.enabled" [ngClass]="{active: item.isActive}" class="dropdown-item btn btn-primary-light" (click)="doAction(item)">{{item.title}}</button>
            </li>
        </ng-template>
    </ul>
</div>
