.eos-node-actions {
    height: $item-height;

    .actions {
        display: inline-block;
    }

    .rotate {
        transform: rotate(-90deg);
    }
    .btn {
        height: $item-height;
        width: $item-width;
    }
    .dropdown-menu .btn {
        width: 100%;
        text-align: left;
    }

    .fa {
        font-size: 22px;
    }
}

.action-dropdown-item {
    text-align: left;
    width: 100%;
    height: $item-height;
    .fa {
        width: 24px;
        height: 24px;
        text-align: center;
        font-size: 22px;
    }
    .drop-title {
        vertical-align: top;
        margin-top: 4px;
        display: inline-block;
    }
}

.action-dropdown-item:focus {
    color: $button-color-hover-main-theme;
}

.create-new-node {
    padding: 0;
}
