<ng-template #showMenuTooltip>Показать<br/>меню</ng-template>

<div class="eos-node-actions">
    <ng-container *ngFor="let item of buttons">
        <div class="visible-lg-inline-block actions"
            *ngIf="item.show">
            <ng-container *ngIf="item.type === ADD_ACTION && isTree">
                <div dropdown
                    class="btn-group">
                    <!--Icons button for tree and ADD-->
                    <div [tooltip]="item.hint"
                        #itemTooltip="bs-tooltip"
                        placement="bottom"
                        containerClass="tooltip-info">
                        <button dropdownToggle
                            [disabled]="!item.enabled"
                            class="btn btn-primary-light {{item.buttonClass}}"
                            [ngClass]="{'active': item.isActive}"
                            (click)="itemTooltip.hide();"><span [ngClass]="!item.isActive ? item.iconClass : item.activeIconClass"></span></button>
                    </div>
                    <ul *dropdownMenu
                        class="dropdown-menu create-menu"
                        role="menu">
                        <li *ngFor="let elem of addMenu"
                            role="menuitem"
                            class="menuitem">
                            <a class="dropdown-item m-font"
                                (click)="doAction($event, item, elem.params)"><span class="title m-font">{{elem.title}}</span></a>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="item.type !== ADD_ACTION || !isTree">
                <!--Icons button for other-->
                <div class="btn-group">
                    <div [tooltip]="item.hint"
                        #itemTooltip="bs-tooltip"
                        placement="bottom"
                        containerClass="tooltip-info">
                        <button [disabled]="!item.enabled"
                            class="btn btn-primary-light {{item.buttonClass}}"
                            [ngClass]="{'active': item.isActive}"
                            (click)="itemTooltip.hide(); doAction($event, item)"><span [ngClass]="!item.isActive ? item.iconClass : item.activeIconClass"></span></button>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <div class="actions"
        dropdown
        container="body"
        #dropdown="bs-dropdown">
        <button class="btn btn-primary-light"
            [ngClass]="{'active': dropdown.isOpen}"
            [tooltip]="showMenuTooltip"
            #itemTooltip="bs-tooltip"
            placement="bottom"
            containerClass="tooltip-info"
            dropdownToggle
            (click)="itemTooltip.hide()">
            <span [ngClass]="dropdown.isOpen ? 'eos-icon eos-icon-fab-white small': 'eos-icon eos-icon-fab-blue small'"></span>
        </button>
        <!--MENU-->
        <ul *dropdownMenu
            class="dropdown-menu action-menu"
            role="menu">
            <ng-container *ngFor="let item of moreButtons">
                <li *ngIf="item.show"
                    role="menuitem"
                    placement="right"
                    container="body"
                    dropdown
                    triggers="mouseclick"
                    class="menuitem">
                    <a class="dropdown-item"
                        [ngClass]="{'highlighted': item.isActive}"
                        tooltip="{{item.hint}}"
                        placement="bottom"
                        containerClass="tooltip-info"
                        *ngIf="item.type !== ADD_ACTION"
                        (click)="doAction($event, item); menuMng($event, item.enabled, dropdown)">
                        <div class="menu-icon">
                            <span [ngClass]="item.enabled ? item.iconClass : item.disabledIconClass"></span>
                        </div>
                        <div class="title"
                            [ngClass]="{'disabled': !item.enabled}">
                            <span class="m-font">{{item.title}}</span>
                        </div>
                    </a>

                    <a class="dropdown-item"
                        [ngClass]="{'highlighted': item.isActive}"
                        dropdownToggle
                        tooltip="{{item.hint}}"
                        placement="bottom"
                        containerClass="tooltip-info"
                        *ngIf="item.type === ADD_ACTION"
                        (click)="isTree ? stopCloseMenu($event) : doAction($event, item)">
                        <div class="menu-icon">
                            <span [ngClass]="item.enabled ? item.iconClass : item.disabledIconClass"></span>
                        </div>
                        <div class="title">
                            <span class="m-font"
                                [ngClass]="{'disabled': !item.enabled}">{{item.title}}</span>
                        </div>
                        <ng-container *ngIf="isTree">
                            <ul *dropdownMenu
                                class="dropdown-menu second"
                                role="menu">
                                <li class="menuitem"
                                    *ngFor="let type of addMenu"
                                    role="menuitem">
                                    <a class="dropdown-item m-font has-padding"
                                        (click)="doAction($event, item, type.params)"><span class="title m-font">{{type.title}}</span></a>
                                </li>
                            </ul>
                        </ng-container>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
