<div class="eos-node-actions">
    <div class="first-line block">
        <span class="controller">
            <span *ngFor="let action of recordActions" class="visible-lg-inline-block actions">
                <button *ngIf="isEnabled(action.group, action.type)" class="btn btn-primary-light {{action.buttonClass}}" (click)="actionHandler(action.type)">
                    <span class="{{action.iconClass}} small" tooltip="{{action.hint}}" placement="right" container="body"></span>
                </button>
            </span>
            <div class="btn-group" dropdown>
                <span class="actions">
                    <button class="btn btn-primary-light" dropdownToggle tooltip="Ещё" placement="right">
                        <span class="eos-icon eos-icon-fab-blue small"></span>
                    </button>
                </span>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <ng-template ngFor let-item let-i="index" [ngForOf]="dropdownRecordActions">
                        <li *ngIf="isEnabled(item.group, item.type)" role="menuitem" class="{{item.buttonClass}}" tooltip="{{item.hint}}" placement="right">
                            <a class="dropdown-item" (click)="actionHandler(item.type)">{{item.title}}</a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </span>
        <span class="pull-right">
            <span class="date"><span class="date-comment">Состояние на </span><b>{{date | date:'shortDate'}}</b></span>
            <span class="icon eos-icon eos-icon-calendar-blue small"></span>
            <div class="btn-group" dropdown [isOpen]="dropdownIsOpen" (isOpenChange)="change($event)" [autoClose]="!innerClick" (click)="innerClick = true">
                <span dropdownToggle type="button">
                        <span class="icon eos-icon eos-icon-search-blue small" tooltip="Быстрый поиск" container="body" placement="left"></span>
                </span>
                <ul *dropdownMenu class="dropdown-menu search-wrapper" role="menu">
                    <li>
                        <div class="input-group search">
                            <span class="input-group-addon search-icon-wrapper" id="basic-addon1">
                                <span class="eos-icon eos-icon-search-blue x-small" aria-hidden="true" (click)="openModal(searchModal)" tooltip="Расширенный поиск"></span>
                            </span>
                            <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="Поиск" aria-describedby="basic-addon1" (keydown)="search($event)">
                            <span class="input-group-addon checkbox-icon-wrapper" id="basic-addon1">
                                <span class="checkbox">
                                    <label><input type="checkbox" [(ngModel)]="searchInAllDict" tooltip="Искать во всём словаре" placement="bottom">
                                        <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                                    </label>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </span>
    </div>
    <div class="second-line block special-text">
        <span class="table-title">
            <span *ngIf="showCheckbox && !itemIsChecked" class="checkbox">
                <label><input type="checkbox" [(ngModel)]="checkAll" (change)="checkAllItems()" tooltip="{{ checkAll ? 'Снять пометки' : 'Пометить все' }}">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                </label>
            </span>
            <span *ngIf="showCheckbox && itemIsChecked" class="group-checkbox checkbox">
                <label><input type="checkbox" [(ngModel)]="itemIsChecked" (change)="uncheckAllItems()" tooltip="{{ itemIsChecked ? 'Снять пометки' : 'Пометить все' }}">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                </label>
            </span>
        <span *ngFor="let field of viewFields" class="code">{{field.title}}</span>
        </span>


        <div class="clear-all"></div>
    </div>
</div>

<div bsModal #creatingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="creating-modal modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Создание новой ветки</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="creatingModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="create-new-node modal-body">
                <!--<div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Код</span>
            <input type="text" class="form-control" placeholder="Code" [(ngModel)]="newNode.code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Название</span>
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newNode.title" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Описание</span>
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="newNode.description" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-default" (click)="createItem()">Создать</button>-->
                <eos-departments-card-edit [data]="newNodeData" (result)="saveNewNode($event)" *ngIf="dictIdFromDescriptor === 'departments'"></eos-departments-card-edit>
                <eos-rubricator-card-edit [data]="newNodeData" (result)="saveNewNode($event)" *ngIf="dictIdFromDescriptor === 'rubricator'"></eos-rubricator-card-edit>
                <eos-rooms-card-edit *ngIf="dictIdFromDescriptor === 'rooms'"></eos-rooms-card-edit>
                <button class="btn btn-default" (click)="create()">Добавить</button>
                <button class="btn btn-default" (click)="cancelCreate()">Отмена</button>
                <button class="btn btn-default" (click)="createOneMore()">Добавить ещё</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #onlyEdit="bs-modal" [config]="{ show: false }" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Предупреждение:</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalOnlyRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="warning-wrapper" *ngIf="lastEditedCard">
                    <div class="warning">
                        В настоящее время в режиме редактирования находится карточка<br>
                        <p class="text-center"><a href="/#/{{ lastEditedCard.link }}" (click)="modalOnlyRef.hide()">{{ lastEditedCard.title }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template #searchModal>
    <div class="search-modal modal-header">
        <h4 class="modal-title pull-left">Форма расширенного поиска</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="search-modal modal-body">
        <div class="intro-text">Введите поисковой запрос. В результате поиска отобразятся только те элементы, которые отвечают всем заданным критериям.</div>
        <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="searchInDeleted">
                <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                Учитывать логически удаленные</label>
        </div>
        <div *ngIf="fields">
            <div *ngFor="let field of fields">
                <div class="input-group" *ngIf="field.type === 3">
                    <span class="input-group-addon" id="basic-addon1">{{field.title}}</span>
                    <input type="text" class="form-control" placeholder="{{field.title}}" [(ngModel)]="field.value" aria-describedby="basic-addon1">
                </div>
                <div class="input-group" *ngIf="field.type === 0">
                    <span class="input-group-addon" id="basic-addon1">{{field.title}}</span>
                    <input type="text" class="form-control" placeholder="{{field.title}}" [(ngModel)]="field.value" aria-describedby="basic-addon1">
                </div>
                <div class="checkbox" *ngIf="field.type === 6">
                    <label><input type="checkbox" [(ngModel)]="field.value">
                        <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                        {{field.title}}</label>
                </div>
            </div>
        </div>
        <div>
            <button [disabled]="noSearchData" (click)="fullSearch()" class="btn btn-primary">Искать</button>
        </div>
    </div>
</template>
